[2016-03-09 09:06] cdondrup commented on #298
To create the list of forbidden waypoints you can just use: https://github.com/strands-project/aaf_deployment/blob/indigo-devel/aaf_logging/config/white_list_aaf.yaml or get all the nodes with the tag `recording_white_list`. Then get the list off all nodes and remove the ones in the white list. Therefore the robot would only patrol where we are also allowed to film. I guess that would be the corre

[2016-03-09 09:46] marc-hanheide commented on #298
Maybe @TobKoer can comment and describe the exact area we are allowed to visit at night/holidays? @Jailander could you upload a screenshot of the topomap here so we can see all the nodes?

[2016-03-09 11:03] Jailander commented on #298
Hi, the forbidden area is in the red square so the nodes on the whitelist are all other nodes, is that right @TobKoer ?
![aaf](https://cloud.githubusercontent.com/assets/5035967/13633328/4038a5a6-e5e6-11e5-91d1-301cc30a6e85.png)

[2016-03-09 16:31] TobKoer commented on #298
@ Jailander, @marc-hanheide
Hi, thus looks correct. At night and holidays/weekends use the Y1 area which was the lobby and the 'administration wing'.

[2016-03-10 09:21] marc-hanheide commented on #302
This still needs testing right?

[2016-03-10 09:21] marc-hanheide commented on #300
appears to be working now, right?

[2016-03-10 09:22] marc-hanheide commented on #297
fixed? please close if so.

[2016-03-10 09:22] marc-hanheide commented on #296
can you investigate, @cdondrup ?

[2016-03-10 09:23] marc-hanheide commented on #291
This is fixed?

[2016-03-10 09:29] cdondrup commented on #302
Yes

[2016-03-10 09:50] cdondrup commented on #296
I'll try.

[2016-03-10 10:19] nilsbore commented on #300
Yeah, most importantly, it can easily by checked by looking at the topic `/monitored_logs`. It publishes the number of entries logged for each topic in the last 30s together with the total number of topics. Note that it does not do this for `/tf` and `/odom` since they have too many entries to be effectively queried. But tf logging was tested extensively last year.

[2016-03-10 11:57] Jailander commented on #297
it should, but haven't tested it, there are no more weird German characters in the topological map though

[2016-03-10 17:32] marc-hanheide commented on #290
OK, so Dan won an award... and the video is late. I gave him to Tuesday to deliver. Then I'll add the subtitles.

[2016-03-10 17:32] marc-hanheide commented on #290
@TobKoer so you know

[2016-03-11 12:18] TobKoer commented on #290
@marc-hanheide
OK, congrats to Dan.
We are not in a total hurry, because we won’t have the screen in the lobby before March 21st. Also the embedding a video in the screen presentations in the cafeteria causes more technical problems than suspected – our ICT department is figuring out why it’s not working…

Let us know if you need input for the subtitles.

Cheers,
Tobias.

[2016-03-14 08:13] #287 closed

[2016-03-15 08:47] denisehe opened #310 "New additional video camera on Henry"
Dear @marc-hanheide @mzillich @ToMadoRe @cdondrup @TobKoer

i am back from the other side of the globe and thus fully involved in the preparations for our trial :-)

I have a question: is it possible to change the additional camera that was put on Henry last year

it would be better to have a camera that
1) also records sound
2) records the movements in a flow not in single frames

this would be e

[2016-03-15 08:50] denisehe commented on #300
Hello @marc-hanheide @nilsbore
i heard you enhanced logging for this year :-)

is it possible to get a overview of how logging happenes this year?

[2016-03-15 13:35] hawesie opened #311 "Expert interventions"
As in previous years, please remember to log expert interventions so we can evaluate system performance.

[2016-03-15 14:27] marc-hanheide commented on #300
Well... the improvement is that it works this year! I'll include the list of topics that are being logged below. If you want to know more specific what all this is then you need to ask specifically ;-)

[code]

[2016-03-15 14:31] marc-hanheide commented on #310
Hi,

First, Henry has a microphone (and so has the camera I believe), so recording sound wouldn't be a problem, but we were told last year that for privacy considerations this wouldn't be allowed. What has changed?

Second, we only record videos at very low framerate because it would be too much data otherwise. We can perfectly increase the framerate, but then we'd also increase the data volume si

[2016-03-15 14:39] denisehe commented on #310
Hi,
hm no actually we are not allowed to use an additional camera separate from the robot, cause that would mean another dealing with the data commission again. But the camera on the robot (as strange as it sounds is fine).

I remember that we were told that the new camera we mounted last year does not have a microphone (because I remember being astonished about that).

Higher frame rates would be

[2016-03-15 14:41] denisehe commented on #300
ok cool! no that gives a good impression and overlook, for now no more details are required

[2016-03-15 14:41] marc-hanheide commented on #310
Well, the camera wasn't the problem... SOUND recording was, we were told. Changing the framerate "dynamically", so only during the walking group, might prove trickier... but we can discuss, @cdondrup ?

[2016-03-15 14:53] denisehe commented on #310
so this camera has soundrecording? which one? the kinect or the additional camera that we mounted on the headframe last year?
i remember that i was told it has not....

yes for WG only would be enough, even if it can be switched mannually somehow

[2016-03-15 15:15] marc-hanheide commented on #310
Both, camera and ASUS have microphones:
![image](https://cloud.githubusercontent.com/assets/1153084/13782835/169f1cc4-eac9-11e5-9b93-c4783d8ce627.png)

But we are not recording because we were not allowed to!

[2016-03-15 15:34] marc-hanheide commented on #311
yes, @Jailander said he start[s/ed] a log somewhere.

[2016-03-15 15:39] Jailander commented on #311
Hi yes I have it on my desktop was going to ask if the aaf_deployment wiki would br an appropiate place for it, or dobwe want it private and I'll do it in the strands_management wiki

[2016-03-15 15:50] marc-hanheide commented on #311
Look here: https://github.com/strands-project/strands_management/wiki/Y2-Care-Deployment-Logs That was last year. Don't put it in the public Wiki, please.

[2016-03-15 15:51] Jailander commented on #311
exactly why I didn't make it public ;) will add a page for this year on this style and paste my log on it

[2016-03-15 16:07] Jailander commented on #311
https://github.com/strands-project/strands_management/wiki/Y3-Care-Deployment-Logs

[2016-03-15 20:48] marc-hanheide opened #312 "[info_task_server] race condition in `is_interruptible`"
So, here's the observation:
Since `15.3.2016, 14:35:05` the robot stood in the charging station and the schedule kept filling up with tasks without executing them:
![image](https://cloud.githubusercontent.com/assets/1153084/13793167/e70d0886-eaf5-11e5-90fd-cfae749f5181.png)
![image](https://cloud.githubusercontent.com/assets/1153084/13793173/eecb5d84-eaf5-11e5-8ed1-0c0eabf98cd9.png)

A call to `ro

[2016-03-15 20:56] marc-hanheide commented on #312
Just to add and check this is intended: If we now call `/task_executor/set_execution_status` to `false` it won't allow it. Which does make sense, but it's also a bit troublesome as one obviously cannot tell the executors to stop executing _after_ a currently not interruptible task has finished... @hawesie

[2016-03-16 07:21] denisehe commented on #310
Good Morning,

well really strange...cause I assumed that the robot had just loudspeakers but no microphones (if i would have been aware, i would not have asked for a new camera actually) - and I was told last year when installing the new cam that was mounted on the frame, that there is just motion but no sound available.

i talked to tobias, he searched through his mails, I also checked mine, it

[2016-03-16 10:27] TobKoer commented on #310
@marc-hanheide @denisehe
Hi there,

I honestly cannot remember what the sound recording issue was, either some personal reservation from my side or – which is more likely – an objection of the therapists involved.
In general, if the camera also records sound there is no real ban (from the data protection commission), given the camera is part of the robot and data is needed for scientific purposes

[2016-03-16 12:58] TobKoer commented on #311
This all looks good - it's only we are in 2016 now ;-)

[2016-03-16 13:21] Jailander commented on #311
oops, copy paste problems, fixed

[2016-03-16 16:17] cdondrup commented on #312
One thing I don't understand: if the info task server is preempted, how does setting interruptible to false have any influence? If it is preempted it should not be in the schedule and therefore this shouldn't do anything. I will have a look at the code and fix it asap.

[2016-03-16 16:27] cdondrup commented on #310
Regarding technical issues of increasing the frame rate and recording sound during walking group, if I remember correctly, the camera nodes are started via the launch server. It should therefore be no problem to stop them before the walking group, start them with less throttle, and stop and relaunch the old ones after the group. This means scheduling a stop recording task before each group and a s

[2016-03-16 17:18] marc-hanheide commented on #312
That's what I'm also not clear about... That's why I copied @hawesie in.

[2016-03-16 20:15] hawesie commented on #312
Does the executor  think the task is still executing? What does the `/task_executor/get_execution_status` service return?

[2016-03-16 20:18] hawesie commented on #312
Do you have the task status logs of the offending task? E.g. from the database or `rosrun task_executor task_status.py` (which only prints live)

[2016-03-16 21:15] marc-hanheide commented on #312
I tried  `/task_executor/set_execution_status` to false to stop it, but it wouldn't. It stayed True. But `/task_executor/get_active_task` returned an empty task.

you can browse the database by remotely logging into the control PC... see https://github.com/strands-project/strands_management/wiki/Y3-Integration-Care-Scenarios#using-guacamole-for-remote-access and browse what you may be looking for

[2016-03-17 09:11] TobKoer commented on #288
@cdondrup
Hi - just out of curiosity: is there any way to influence the runiing order of MP3s in the music group. I've uploaded new soundfiles now, but the UI (192.168.200.20/werner/setup) always creates its own running order for tracks.
Or will the music tracks now be played in random order anyway during the walking groups?

[2016-03-17 09:56] lobinho commented on #293
- Add a button to change selected destination:
  After choosing a destination there is no proper way to change this selection. If you accidentally select a wrong destination you would probably press delete or anything else which does not work in that case. Nothing happens until you press the button to start the navigation ("Bring mich zum Ziel"). In that case the input is refused and the scenario

[2016-03-17 10:18] denisehe commented on #300
@marc-hanheide @TobKoer

okay I have some questions about the detailed logging during the walking groups:

what exactly do you log as
walking group goal
walking group cancel

how is this logged, what does it say
with cancel do you mean cancelled by the therapistst?

does task executor/events mean that the system logs failures during execution of a tasks eg. the walking group?

cheers, denise

[2016-03-17 10:23] marc-hanheide commented on #300
This just looks when a walking group was started and when it was cancelled in terms of triggered by the scheduler.
There are many different failures, `task_executor/events` logs event from the scheduler. Then we have `monitored_nav` events (actually logged seperately, so not shown about, as they contain a lot information about failed navigation). We can see from the `task_executor/events` should t

[2016-03-17 10:24] nilsbore commented on #300
Hey, Denise. Basically those messages are what we use to start and stop the walking group. It is defined in https://github.com/strands-project/aaf_deployment/blob/indigo-devel/aaf_walking_group/action/WalkingGroup.action . I think it's basically parameters (@cdondrop ?) for slow/fast walking group etc. The cancel thing should be when it's cancelled by therapists, yes, but the meaning of this "canc

[2016-03-17 10:28] cdondrup commented on #300
What @marc-hanheide and @nilsbore said ;)

[2016-03-17 10:31] denisehe commented on #300
Well acutally i do not really understand all these technical backgrounds - easily put:

do we get data from this log in terms of

a) how often did the system crush during the group
b) maybe in percent how long the system is running per session and how long it was non functional/having errors
c) can wee see what the therapists did use the robot for (how many percent of the time did they play music

[2016-03-17 10:35] cdondrup commented on #300
Ok, I'm not sure about the error logging but we should get that, right @marc-hanheide ?

Regarding what the therapists did, there are a lot of services, one per button on the interface, so we could log those to get a feeling for what they did.

[2016-03-17 10:38] denisehe commented on #300
yes because from a user point of few it doese not matter what failure it was that distrubed the walking group we just need to know if there were failures etc or not.

and of course what the therapists use the robot for....

all the technical details are of no social scientific relevance to us and adresses rather technical quesitons of research.

so anything that could help to retrieves these super

[2016-03-17 10:39] denisehe commented on #300
And how much percent of the time/session the robot was performing and how much percent it was in error mode

that would also be good to know :-)

[2016-03-17 11:06] marc-hanheide commented on #300
errors are pretty much events, not durations... not sure what you mean.

[2016-03-17 12:57] denisehe commented on #300
I am aware of that - but is it logged how long the robot needed to continue with the task again

eg. one quick error in navigation, calc for some seconds and continue vs. major error system down for 10 min

is that logged?

[2016-03-17 13:02] marc-hanheide commented on #300
yes... we can somewhat identify that... e.g. we cn find out for how long it didn't move...

[2016-03-17 13:13] denisehe commented on #300
ja - es geht halt prinzipiell darum dass wir veränderungen im rating der therapeuten quantifizierte rückschlüsse auf seine performance in den einzelnen sessions machen können (wie viele errors, weclhe, wie lange etc.) nur so gewinnen die ergebnisse an wert.

[2016-03-17 13:19] marc-hanheide commented on #300
that'll be possible. It would have been last year, but unfortunately the logs didn't work. They do know as we are testing and monitoring.

[2016-03-17 13:19] denisehe commented on #300
perfect :-)

ups i wrote in german before ^^

[2016-03-18 10:53] TobKoer opened #314 "AAF deployment waypoints"
@Jailander, @marc-hanheide, @cdondrup, @denisehe

Unfortunately we need to change waypoints (or change them back to the Y2 status).
The robot is blocking beds and patient transfers in the 'main corridor' (i.e. the waypoints "Frisoer", cafeteria and the lifts).
People pushing beds can barely squeeze past the robot when it does infoterminal there. In case of an emergency transport or patients in pai

[2016-03-18 11:39] Jailander commented on #314
Can I ask you for some pictures of the current status (the robot on the waypoint now) and maybe pictures of where youd like them moved

[2016-03-18 13:06] denisehe commented on #314
hi. can we not just shift the waypoint 40cm further wowards the wall or move the waypoint to the point where the robot stoped for walking group last year...I think we talked about that during the pilot!

[2016-03-18 13:14] Jailander commented on #314
And we tested it, we can do it but we would need someone there to test if the robot can safely anvigate there

[2016-03-18 13:19] denisehe commented on #314
ok so how should we do that now? :-)
how can i support?

[2016-03-18 14:01] marc-hanheide commented on #312
and it happened again (18/03/16 15:00 CET):

`info_task_server_is_interruptible` reports `False` leading to this:
![image](https://cloud.githubusercontent.com/assets/1153084/13879896/258e89b0-ed1a-11e5-9707-b7d6f6347d39.png)

[2016-03-18 14:16] hawesie commented on #312
My two earlier questions are still pertinent:

[2016-03-18 14:18] marc-hanheide commented on #312
@hawesie I think I answered it in https://github.com/strands-project/aaf_deployment/issues/312#issuecomment-197552315 ?? What are missing?

[2016-03-18 14:54] hawesie commented on #312
The return value of `get_execution_status` not `set_execution_status` when this error is happening, and maybe a dump of the logs? I'm a bit scared to go rooting around on the production system.

[2016-03-18 15:15] marc-hanheide commented on #312
Oh, I think I said that... at least I meant it when I said

So, yes, I checked `get_execution_status`, it reported it was executing, but still reported the current_task as empty.

Not sure it's safer when I root through the system, I thought might be eaier for you to search yourself, what you are looking for, but here are `task_event` logs for the tasks that I deem relevant, namely the ones _befor

[2016-03-18 15:35] hawesie commented on #312
Do you see "Pausing execution" (https://github.com/strands-project/strands_executive/blob/hydro-release/task_executor/src/task_executor/base_executor.py#L368) in the logs when you try to set the execution status to false. It seems like it should get that far.

[2016-03-18 15:53] hawesie commented on #312
Or "Waiting for signal that I can finish after timeout"? (https://github.com/strands-project/strands_executive/blob/hydro-release/task_executor/src/task_executor/sm_base_executor.py#L41)

Which task is actually hanging? Is it 131? The logs indicate that 131 failed execution. I don't really understand why the next task doesn't start if the failure is logged.

Is the general consensus that this is a

[2016-03-18 16:02] marc-hanheide commented on #312
I think, the executor is mostly behaving correctly. The problem is that the task is not interruptible. And it doesn't interrupt it... I'm not certain that 131 is the culprit.

Look at the full log: https://gist.github.com/anonymous/d78b58b4efce3bcf1f41

[2016-03-18 17:06] marc-hanheide commented on #312
This might be different issue, but it's also a problem:
![image](https://cloud.githubusercontent.com/assets/1153084/13885720/1686a7b2-ed34-11e5-92c2-1e3fc4dad93f.png)

So the current schedule is empty. Which is strange as a task was just started:
![image](https://cloud.githubusercontent.com/assets/1153084/13885701/f888af76-ed33-11e5-8d58-3a16c8cbb9ae.png)

and did never finish... This also caused

[2016-03-19 17:18] cdondrup commented on #288
Most of the requested features have been implemented in https://github.com/strands-project/aaf_deployment/pull/315 except for the "trying to recover" feature as I don't have feedback about this from the robot itself. @bfalacerda and @Jailander Is there any way to find out if a recovery behaviour is triggered?

Also, the video has been removed because I didn't have time to look into this yet and we

[2016-03-19 21:33] marc-hanheide commented on #293
@lobinho I just tried, and the delete button worked perfectly for me. I cannot reproduce the problem...

[2016-03-19 21:50] marc-hanheide commented on #293
But I added a proper "Löschen" button anyway and removed the confusing keys on that keyboard. It looks like this now:

![image](https://cloud.githubusercontent.com/assets/1153084/13901465/d8b86b68-ee24-11e5-91fe-633b84567194.png)

Better? @TobKoer @lobinho ?

[2016-03-19 21:59] marc-hanheide commented on #293
Just decided that a cancel button "abbrechen" is actually not useful... So, I'll take that out again.

[2016-03-19 22:03] marc-hanheide commented on #293
new version:
![image](https://cloud.githubusercontent.com/assets/1153084/13901512/bfb708d4-ee26-11e5-9fd7-e0d1207e3c26.png)

[2016-03-19 22:06] marc-hanheide commented on #293
https://github.com/strands-project/strands_hri/pull/139 implements this.

[2016-03-20 10:48] cdondrup commented on #288
I had a look at the video playback again. When starting the video the media server consumes about 60% CPU for a second or two, afterwards it is stable at ~1%. While it is running, firefox uses ~20% CPU. The memory usage of both is negligible around 1% or less. All this is on my machine which is slightly higher spec than Werner...

I think we should test this again on Monday to see where the actual

[2016-03-20 10:54] #296 closed

[2016-03-20 11:06] cdondrup commented on #288
@TobKoer As a compromise for the music playback, the songs are now shuffled (see above PRs) every time a new walking group starts. this should at least prevent that the therapists now the order of songs by heart after the first week ;)

Also, when adding songs, please make sure that the file name does not contain spaces and special symbols like Umlaut, apostrophes, etc. This is just to prevent the

[2016-03-20 11:46] marc-hanheide commented on #312
the key issue should now be fixed in #316 . There are still some unclarities about what the executor did here in this situations, I think the scheduled_task_executor should have be tested on non-interruptible tasks and making sure that it handles this correctly in terms of the publishing of the `/current_schedule` and the outcome of `~get_active_task`. But this is another issue that @hawesie might

[2016-03-20 11:46] #312 closed

[2016-03-20 17:26] cdondrup commented on #288
OK, also implemented some form of "trying to recover" feedback for the therapists.

[2016-03-21 09:59] denisehe commented on #293
The interface looks really more easy going now!

Just one wish: could you please enlarge the letters of the explanatory text? Think that would be nicer to read.

Cheers Denise

[2016-03-21 10:21] lobinho commented on #293
Looks very good. Since the buttons that caused problems were removed it should be fine now. I will give it another try next time bellbot is running.

[2016-03-21 12:53] TobKoer commented on #293
Yes, that could do. Maybe change the order first "zeil loeschen" and then "Losgehen"?
Also agree with bigger letters for explanatory text. We have to keep in mind that some visitors are also older persons/relatives of residents.

[2016-03-21 17:50] marc-hanheide opened #318 "battery warning email"
Can I ask @gestom or @Jailander to set up the battery critical email cron job that we have on Linda on Werner as well? Or let me know where I find that script so I can do it?

[2016-03-21 22:50] marc-hanheide commented on #290
Finally... here's a first draft (with long breaks so still needs final edit), but with subtitles I crafted in German. I seek feedback on this one from @TobKoer and @denisehe, please.

The video is _not_ in the final resolution or quality. I rendered it small, so don't worry about the quality. Look at the content and text please.

Download from https://lcas.lincoln.ac.uk/owncloud/index.php/s/wpGZ3z

[2016-03-21 23:04] marc-hanheide commented on #290
Oh, @hawesie you may want to take a glimpse as well...

[2016-03-22 08:04] denisehe commented on #290
Good Morning @marc-hanheide , i saw the video my comments below:
1. in the bellbot section the old screen is shown, this should be updated to the new one.
2. the written info, that the bellbot can be ordered via the reception is not correct any more, as far as I am informed this was cancelled and the bellbot is just scheduled for the bigger events.
3. When informing viewers that henry perceives hi

[2016-03-22 10:29] Jailander commented on #318
Will do it, but for future reference its here ;)
https://github.com/strands-project/strands_utils/tree/hydro-devel/battery_check

[2016-03-22 11:24] cdondrup commented on #288
New minor improvements to walking group:
- [x] Add two more waypoints to the Kapelle resting area
- [x] Add a button to go to the chair selection from the admin interface. Should only work if the robot is at a resting point.
- [x] Lower camera angle so it sees the card even if the therapist is close to the robot
- [ ] If the Teekueche is not chosen as a resting area, make the robot go "the short w

[2016-03-22 11:41] denisehe commented on #288
ah and i remember on other issue, i think I also know now why it occured

when returning to rast 2 on the way back, the robot goes very far away, towards the lobby from the chairs asking "weiter/rast"...

but i think thats cause this is the resondable waypoint during the starting phase where the group reaches the seats from the lobby.

[2016-03-22 11:42] denisehe commented on #288
and at one waypoint next to the chairs at Rast 2, if u stand in front of the chairs, on the right side, the robot danced around some times, going to the waypoint, circling, driving out and waved back in...but thats maybe more an navigation issue?

[2016-03-22 11:52] cdondrup commented on #288
The first one should be solved by implementing multiple buttons for the cafeteria. The problem there was that there are two different points where the robot asks if you want to rest depending on where you're coming from. It just chose the wrong one because it was confused.

The other one sounds like anavigation issue. If that happens again, let me know.

[2016-03-22 11:53] denisehe commented on #288
ok!

yes, i will!

[2016-03-22 12:38] Jailander commented on #318
this will be sending a few testing emails now

[2016-03-22 15:03] marc-hanheide commented on #307
So... I got this to finally work again. We were suffering from this new bug:
https://github.com/ros-perception/image_pipeline/issues/187

I worked around this by explicitly setting the [two parameters](https://github.com/ros-perception/image_pipeline/blob/indigo/image_view/src/nodes/video_recorder.cpp#L99-L100) in #320

[2016-03-22 15:07] #307 closed

[2016-03-22 16:54] cdondrup commented on #288
@denisehe See #321

I implemented everything but the shorter route. That wouldn't be easy and I think there is not much harm in walking an additional 10 meters ;)
Sorry, but I couldn't do that in the time I had.

[2016-03-22 16:55] cdondrup commented on #288
Also, the route planning was improved. You now can choose what ever waypoint you want at every point during the group and get the correct behaviour.

[2016-03-22 18:55] bfalacerda opened #323 "setting max bumper recoveries parameter"
@marc-hanheide as you asked, here's some info about setting the max number of tries for bumper recovery.

To set it at runtime to a value k, you need to do ``rosparam set /monitored_navigation/recover_states/recover_bumper "[true, k]"``

(The first value in the  pair is used to deactivate the behaviour altogether)

To have it from startup, you'll need to merge:

https://github.com/strands-project/

[2016-03-23 07:52] denisehe commented on #288
very nice - looking forward to testing that tomorrow :)

[2016-03-23 10:02] Jailander commented on #323
Hi no idea, I didn't notice this, I'll take a look and try it on Linda thank you for telling me

[2016-03-23 10:15] TobKoer commented on #290
@marc-hanheide
Hey, the good news is, the format is played by that odd screen, the bad news is, most is dstrubed by awful colourful dots and squares.
![imag0057 1](https://cloud.githubusercontent.com/assets/4354921/13982107/624232b8-f0e8-11e5-8a03-ae44fcf72914.jpg)

![imag0059 1](https://cloud.githubusercontent.com/assets/4354921/13982119/77e43fa8-f0e8-11e5-914a-7a4c758366ae.jpg)

[2016-03-23 10:17] marc-hanheide commented on #290
Oh, man... Well, I have a few more option to try... Will update you with the latest once I have the video from Dan.

[2016-03-23 10:48] TobKoer commented on #290
General feedback: this looks really good and well-made!!! Congrats to everyone involved.

@denisehe has already mentioned the main points.
@marc-hanheide
Two further issues I noticed are:
- sometimes the longer subtitles should be shown a bit longer (for older readers who might need some more time), so pace of the video can be relaxed.
- One information I think was missing: Henry is not able to ta

[2016-03-23 11:09] marc-hanheide commented on #290
@TobKoer I timed the subtitles very much according to typical guidelines, aiming at 8 characters per second maximum, which is deemed very long. So, if we want to display longer and having the same content, then we need more video material, and we need more overall time, obviously.

The issue about speech is true... Just didn't find a good way to include it yet, maybe Dan has an idea?

[2016-03-23 12:14] bfalacerda commented on #323
Here's what it keeps outputting forever (from what I understand this should happen 3 times, but then topo nav execute policy should give up):

[code]

[2016-03-23 12:17] Jailander commented on #323
yes this should only happen three times, I have seen topological navigation quitting in werner so there should be a special case. I'll be on it as soon as possible. thanks!

[2016-03-23 18:35] marc-hanheide commented on #290
So @DanDavisonCam is now in here as well, so we can all communicate more effectively.

[2016-03-23 18:36] DanDavisonCam commented on #290
Hi guys, I'm making the adjustments that have been outlined, however I'm not sure of a way of answering the speech issue. I know we didn't get any footage of somebody speaking to the robot...

[2016-03-23 18:38] marc-hanheide commented on #290
Maybe, can we change the bit where the robot's head is shown (at the charging station) to talk about it, and reduce the talk about the sensors in that shot. That's a bit repetitive anyway, as it comes later again

[2016-03-23 20:41] DanDavisonCam commented on #290
In terms of showing the sensor, I have a small clip of it, but in a separate location, I can add that in wherever you guys would want it, outside of that, I've made the adjustments, apart from showing the eyes, which again, there's no clip of the sensors apart from early on, just outside where the work was being done.

[2016-03-23 20:44] marc-hanheide commented on #290
I think, before we show the internal processing (the PiP map of the robot) it would be best to talk about the sensors. So, just add a few seconds of close ups of whatever you have that could relate to sensors there. Then we talk about the inability to recognise speech on the head close-up. Makes sense?

[2016-03-23 20:50] DanDavisonCam commented on #290
I'm adding in a few shots of the camera and sensor after the map

[2016-03-23 20:50] DanDavisonCam commented on #290
Before, sorry
I'll upload it within the next hour

[2016-03-23 21:40] DanDavisonCam commented on #290
uploaded

[2016-03-24 11:45] TobKoer commented on #290
Okay, sounds good.

[2016-03-24 13:08] marc-hanheide commented on #310
I uploaded a test video from the interaction camera, just to make sure you see what you need in it: https://lcas.lincoln.ac.uk/owncloud/index.php/s/rhxCUVTz3tpudIu

I found it looks a bit too much down, but you're the bosses here @denisehe and @TobKoer

Synchronised Audio is indeed not easy to obtain... I've considered many different options and neither is easily implemented, or, only with regress

[2016-03-24 15:21] marc-hanheide opened #324 "catch all exceptions in info terminal to avoid call stack to be shown"
really important when e.g. the news feed is broken...

[2016-03-24 21:17] marc-hanheide commented on #290
OK, I again prepared a [draft version](https://lcas.lincoln.ac.uk/owncloud/index.php/s/XxvBrY5wxAQ4G6u) with subtitles for you to download.

The subtitles are in [`aaf-DE.srt.zip`](https://github.com/strands-project/aaf_deployment/files/188683/aaf-DE.srt.zip) for @DanDavisonCam to work with. I have not created an English version yet, as I will only do this once we have a final edit.

I marked some

[2016-03-24 21:18] marc-hanheide commented on #290
again for @denisehe and @TobKoer to look at and for @DanDavisonCam to take the next step.

[2016-03-25 07:30] denisehe commented on #310
Hi @marc-hanheide,
my feedback:
1. the information that the bellbot can be called from the reception is still in but as far as i know not available in this form
2. I would replace the phrase "effektiv einsetzten im HB" - rather I would say "soll herausgefunden werden, in welchen Bereichen der Roboter eine Unterstützung sein könnte"
3. In the end a short final sequence would be nice, eighter the ro

[2016-03-25 08:24] marc-hanheide commented on #310
This was meant to go to #290, right? Looks a bit off topic here...

[2016-03-25 09:02] denisehe commented on #290
ja stimmt - gehört hierher!

Hi @marc-hanheide,
my feedback:

[code]

:-)

[2016-03-25 09:19] denisehe commented on #310
interaction camera:
yes it is too low, there was a man visible, but I could just see his chest and legs

[2016-03-25 09:39] marc-hanheide commented on #290
OK,

so here is an updated subtitles file:
[aaf-DE.srt 2.zip](https://github.com/strands-project/aaf_deployment/files/189313/aaf-DE.srt.2.zip)

Below the actual content of the file, for last corrections. Also, I made some edit suggestions for @DanDavisonCam in there. If they are unclear, please ask for clarifications here.

[code]

[2016-03-25 09:48] denisehe commented on #290
thanks to our amazing internet security I cannot open the file :-/

[2016-03-25 09:49] denisehe commented on #290
And in terms of bellbot, was it not agreed on that in case of external events the robot will be sheduled and therefore waiting in the lobby infront of the reception?

[2016-03-25 09:51] denisehe commented on #290
I would insert phraseas about the bumper after the scenes where it is explained that he tries to avoid obstacles, cause it would fit more to the scenario that he tries to awoid but just in case it happenes there is the bumper

[2016-03-25 09:52] denisehe commented on #290
Ah and the last phrase: "Bedenken wegen des Roboters"

I would say : "Fragen oder Anmerkungen zum Roboter haben dann...."

sounds more positive

[2016-03-25 10:17] marc-hanheide commented on #310
Up to you to adjust it!

[2016-03-25 10:19] denisehe commented on #310
hehe, yes of course ^^

[2016-03-25 10:19] marc-hanheide commented on #290
regarding bellbot: yes, but that's too technical for this video.

[2016-03-25 10:23] denisehe commented on #290
Or we write: "Bei großen Veranstaltungen erwartet Henry Besucher an der Rezeption um ihnen den Weg zu den Räumlichkeiten zu zeigen. Man muss nur den Raum oder die gewünschte Person am Bildschirm eintippen, dann bringt Henry Sie zum Ziel.

or something like that...

[2016-03-25 10:27] marc-hanheide commented on #310
as stated on https://gitter.im/strands-project/aaf_deployment I now show the interaction cam on the robot, so you can adjust

[2016-03-25 11:18] denisehe commented on #310
oh sorry - i was out of the office

[2016-03-26 16:03] marc-hanheide commented on #290
@DanDavisonCam when do you think you can get those edits to me?

[2016-03-29 10:50] TobKoer commented on #290
@marc-hanheide, @DanDavisonCam
BTW file not supported by the screen. :-/
FYI it's a videoscreen by showroom.at, but I couldn't find any more helpful data regarding the video format needed.

[2016-03-29 10:51] lobinho commented on #293
We did some more testing and have some suggestions for improvement:
- Add a symbol to the backspace and space button. They do work but symbols would be more intuitive.
- Move the destination input field below buttons Los gehen and Ziel loeschen. Otherwise the autosuggestions would cover the buttons.

[2016-03-29 12:59] TobKoer commented on #290
@march-hanheide
Hi, i the subtitles above also a few typos
at 7 it should be "neueste" not neuste
at 19 it's "zu nahe" not zu Nahe.

[2016-03-29 13:10] cdondrup commented on #290
"nahe"? Shouldn't it be "nah"?
http://www.duden.de/rechtschreibung/nahe_naechst_zukuenftig

[2016-03-29 13:52] marc-hanheide commented on #293
My bad... I tested with the wrong resolution, I notice now...
I'll check for the other minor issues right now

[2016-03-29 14:06] marc-hanheide commented on #293
fixed in https://github.com/strands-project/strands_hri/pull/141

[2016-03-29 14:16] #293 closed

[2016-03-29 14:31] marc-hanheide commented on #290
Right, typos... @DanDavisonCam rather than me adding another subtitles file, I think it's best if you correct those in the "beta" version. So, what's your status?

[2016-03-29 15:17] hawesie opened #327 "Y3 deployment dates"
Please can someone let me know the dates for Y3 when you:

 * started setup on site for deployment
 * started deployment
 * plan to end deployment

[2016-03-30 07:55] denisehe commented on #310
ah @marc-hanheide i just remembered: didnt we adjust the interaction cam to the hight of sitting persons as we said that the headcam will capture all the rest?
I checked the cam and saw that we rally fixed it in this way...

[2016-03-30 09:10] marc-hanheide commented on #310
As long as you are happy, I shall be happy, too.

[2016-03-30 13:43] TobKoer commented on #327
Deployment at AAF started 14th of March and will run until May 13th; we will, however, add another week just for the walking groups (because we have lost a few dates so far).

[2016-03-30 16:17] DanDavisonCam commented on #290
Apologies for the late reply, I've had my laptop being repaired, the files are uploaded, "Strands video +++++" and "strands video alternative" that has the clip removed that was mentioned.

Let me know if this is the final version, and whatever you may need doing with the subtitles

[2016-03-30 16:21] marc-hanheide commented on #290
I can't find "Strands video +++++" or the alternative...

[2016-03-30 16:42] DanDavisonCam commented on #290
reuploaded

[2016-03-31 09:08] #327 closed

[2016-03-31 10:22] TobKoer commented on #290
@DanDavisonCam
Hi, can you provide me with the link?

[2016-03-31 10:23] DanDavisonCam commented on #290
https://lcas.lincoln.ac.uk/owncloud/index.php/s/52j1EI3YXm11fPi

[2016-04-01 08:49] TobKoer commented on #290
@DanDavisonCam
Okay the latest version (uploaded two days ago) looks fine for me, but that's without subtitles at the moment, right?

[2016-04-12 07:41] denisehe opened #334 "Walking Group - adaptive waiting"
Hey @cdondrup

during yesterdays walking group I became aware that the robot does not wait for the therapists anymore if they fall back on an adaptive basis (card and distance) but that he continues to the next fixed waiting point.

So I was a bit confused cause I always explain the therapists that the robot needs the lenyard to detect them and to wait if they are to far away. but as he did not wa

[2016-04-12 08:32] cdondrup commented on #334
I am sorry to disappoint but there never was an adaptive waiting. In the first implementation of the walking group, the robot would wait after a fixed distance, e.g. 5m, until it sees the control card in a certain distance and then show the "Weiter" button. The therapists complained that that was too often and asked if that could be changed to waiting only once between each resting point. This is

[2016-04-12 16:59] #324 closed

[2016-04-12 17:00] #318 closed

[2016-04-12 17:00] #311 closed

[2016-04-12 17:05] #288 closed

[2016-04-12 17:05] #297 closed

[2016-04-12 17:05] #310 closed

[2016-04-12 17:05] #314 closed

[2016-04-13 09:43] marc-hanheide commented on #290
@DanDavisonCam, first apologies I didn't come to look at this. However, I found your latest version does not address all the issues raised, does it. There were a few more edits requested as indicated in the subtitles file. Maybe this wasn't the latest version???
Here's an updated version for the current movie with suffix `+++++`:
[aaf-DE+++++.srt.zip](https://github.com/strands-project/aaf_deploym

[2016-04-13 09:45] DanDavisonCam commented on #290
Sorry about that Marc, I'll push to try and sort this today!

[2016-04-13 09:46] marc-hanheide commented on #290
OK, much appreciated, as I said, if you want to talk about it to clarify, I'm available.

[2016-04-14 11:59] TobKoer commented on #290
@marc-hanheide
Hi please take care of typos:
It should read

19
00:01:44,120 --> 00:01:48,920
[-- to be extended and moved towards the end (marked as A)--]
Sollte Henry Ihnen zu nahe kommen und Sie berühren,

32
00:02:56,500 --> 00:03:06,100
Sollten Sie Fragen oder Anmerkungen zum Roboter haben, wenden Sie sich bitte an das STRANDS Team oder

[2016-04-14 15:17] marc-hanheide commented on #290
@DanDavisonCam ??

[2016-04-14 15:47] DanDavisonCam commented on #290
Sorry about that, rendered it overnight and forgot to upload, filename is Strands Video Final (fingers crossed!) Let me know if any more changes are necessary!

[2016-04-14 19:43] marc-hanheide commented on #290
[all subtitles files](https://github.com/strands-project/aaf_deployment/files/219821/aaf-subtitles-final-DE-EN.zip) aligned with [`Strands video Final.mp4`](https://lcas.lincoln.ac.uk/owncloud/index.php/apps/files/ajax/download.php?dir=%2FSTRANDS%20data%2Faaf_video&files=Strands%20video%20Final.mp4) (only accessible with owncloud login)

[2016-04-14 19:44] marc-hanheide commented on #290
looks good so far, just re-coding a version with subtitles and then this is good to be tested

[2016-04-15 06:08] marc-hanheide commented on #290
OK, I finished the recoding and uploaded this now. So, first, @TobKoer can you test it, please? There are two versions, one has the German subtitles burned in (means they are part of the rendering), and the second has both English and German subtitles, but not rendered, so they can be chosen by the player.
- [full version with "burned-in" German subtitles](https://lcas.lincoln.ac.uk/owncloud/index

[2016-04-15 06:18] marc-hanheide commented on #290
and here: https://www.youtube.com/watch?v=1t3CQuo63k8 (not publicly searchable on youtube)

[2016-04-15 09:46] TobKoer commented on #290
@marc-hanheide,
the video and subtitles look really good to me now.
Unfortunately, however, both versions are not running on the screen (only on laptop) :-/
Also, we will not have the screen from end of next week, because it is needed by the PR department again.

[2016-04-15 09:51] marc-hanheide commented on #290
What??? We won't have the screen now we finally have the video? Or just not for one day?
 Can you let me know again what system it is running?

[2016-04-16 10:33] marc-hanheide opened #337 "Every other infremen task is being dropped (general dropping of tasks in schedule)"
this is due to the only 7 seconds between the end of one and the beginning of the next, giving the robot only 7 seconds to reach the next place. If our travel estimate is bigger than this, then the task will be dropped. Talking to @hawesie it seems we have merely two options here:
1. increasing the window size, e.g. setting `end_before` to give more room before the next task starts
2. reducing `ma

[2016-04-16 10:34] marc-hanheide commented on #337
_Here's the trail of messages of the discussion_

## Christian Dondrup _2016-04-15T09:42:29.526Z_:

I'll test the PR after lunch.

---

## Nick Hawes _2016-04-15T09:42:38.521Z_:

https://github.com/strands-project/strands_executive/pull/226

---

## Christian Dondrup _2016-04-15T13:02:17.083Z_:

Started to test things. Robot won't move currently.

---

## Marc Hanheide _2016-04-15T13:33:07.460Z_:

[2016-04-16 13:09] Jailander commented on #337
I think this could be solved by setting infremen tasks to 1 in this case it behave opportunisticly if I don't recall @gestom wrong. I'll take a look at it anyway but hope @gestom sees this too ;)

[2016-04-16 14:18] marc-hanheide commented on #337
I don't really get what you're saying there, but I'll trust it makes sense 😉

[2016-04-16 14:22] cdondrup commented on #337
I'm not really sure that makes a difference @Jailander. The schedule is generated every day at midnight, so reconfiguring it to only 1 task at a time would just mean that each task is sent to the scheduler only after the last one finished but it would still be dropped for the same reasons... It shouldn't change the actual behaviour of infremen if there is no special implementation for this. It mig

[2016-04-16 15:36] Jailander commented on #337
Well as far I understand tasks are only sent when the infoterminal task is not active, so if you only send one task there wont be tasks to be dropped in the execution queue but I am not sure. Will need to take a look tomorrow

[2016-04-16 15:37] Jailander commented on #337
Lets hope @gestom sees this first and gives a better idea

[2016-04-18 08:28] TobKoer commented on #290
@ marc-hanheide
Yes, I'm sorry, I can't help that, since the screen belongs to the PR department and they already stated beforehand they might need it at some points. After all, we are already a good month into the deployment now without a video. The screen will definitely be gone for at least one week starting this Friday and then probably once ore some time in May.

As mentioned, the system is n

[2016-04-18 08:58] marc-hanheide commented on #290
OK... slightly frustrating, but let's just try to make it work anyway. @cdondrup is it worthwhile putting it onto the robot to be used in the walking group? I could also put it in info-terminal, but that would require an additional button and page... Opinions?

[2016-04-18 09:03] cdondrup commented on #290
I'm sure the screen supports any kind of file format it's just PowerPoint that doesn't. I don't think it makes much sense to put the video in the walking group because that means that the participants would see it but for them it wouldn't be helpful I guess.

I think it makes most sense to have it in the info terminal like a "Wer bin ich?" button.

[2016-04-18 12:17] TobKoer commented on #334
from Denise: hmmmm interesting I thought it was adaptive waiting also.

[2016-04-18 12:19] TobKoer commented on #334
i have to think about it but yes i alsways thought that it was adaptive....
yes so like this I also udnerstand why u said u reduced the waiting points because of to much waitng...and that this is tied to the waiting for the group in general

i will also tell the therapists...well we just had the issue last monday...lets see how it goes today

ah and could we put a new video in from one of this yea

[2016-04-18 12:22] cdondrup commented on #334
The video is up to @marc-hanheide I will open an issue for that. Let me know if you want me to do anything about this issue.

[2016-04-18 12:24] cdondrup opened #338 "Create walking group videos and upload to media_server"
From the log data of this year, it would be great if we could have a video of one of the walking groups, or maybe one from Thursday and one from Monday to be shown during the resting phases. Since @marc-hanheide produced this video the last time, I would rely on him since I don't even know where to look for the data and how to extract the images ;)

[2016-04-18 14:49] denisehe commented on #338
yes please

[2016-04-18 14:57] marc-hanheide commented on #338
What precisely do you want in this video? How long?

[2016-04-18 15:01] cdondrup commented on #338
I'd say that is up to @denisehe to decide

[2016-04-18 15:05] denisehe commented on #338
as we saw from the video that is presented now its really very effective having them on - participants recognize themselves in the videos and are very faszinated - and that is really cognitive highly stimulating in the case of dementia
but the video is from last year with not all current participants in it
thus it would be cool to have short video sequences of the latest walking group sessions. so

[2016-04-19 10:17] TobKoer commented on #290
@marc-hanheide
in any case, I don't think it is "lost labour", because we still have the final deployment where we can
a) have the video on the robot anway
b) try to revive the screen idea again (right from the start).

[2016-04-19 10:29] marc-hanheide commented on #290
No, I didn't think it would be lost. But we should try to put it on the screen.

[2016-04-19 11:10] marc-hanheide commented on #290
I have created another video, this time encoded "windows-friendly" as a WMV. Could you give it a try, @TobKoer, please?

https://lcas.lincoln.ac.uk/owncloud/index.php/s/ou8xDvGh8qL8bII

[2016-04-21 15:46] TobKoer commented on #290
@marc-hanheide,
thanks for all the effort. WMV unfortunately is not recognised/supported.
![imag0065](https://cloud.githubusercontent.com/assets/4354921/14715260/79290544-07e8-11e6-9944-2e92b78682f1.jpg)

The manual is not very informative either. As we both know, we have already tried various MP4 versions of the video.
Before we break our heads further over that crappy screen, I suggest we leave

[2016-04-24 14:23] marc-hanheide commented on #290
OK, another format to try, please: https://lcas.lincoln.ac.uk/owncloud/index.php/s/bMzhO99CZCMz9QX @TobKoer @denisehe

[2016-04-26 10:59] Jailander opened #340 "Walking group - publish to topic when walking group is over"
This is related to this issue:

https://github.com/strands-project/strands_navigation/issues/249

but also would it be possible to publish something to: `aaf_walking_group/resting_node` when the walking group is over to avoid this problem for now?

[2016-04-28 06:48] marc-hanheide commented on #338
Sorry, I made several attempts to download videos for editing from Henry but failed. The problem is I only have my laptop here in Rome and either its Wifi or Henry's disconnected in transfer. I have a few other ideas on how to transfer it, but it'll take longer than expected.

[2016-04-28 07:26] cdondrup commented on #338
Of you tell me what to do, I'll download and put it on owncloud. That at least eliminates the dodgy connection from Henry for you.

[2016-04-28 07:41] marc-hanheide commented on #338
using rsync now to get it to UoL first. As rsync can recover from transfer errors... It'll be done at some point. But it takes ages.

[2016-04-28 08:28] marc-hanheide commented on #338
Can you try this one: https://lcas.lincoln.ac.uk/owncloud/index.php/s/9XSMyozYN8OABw4

It's no Academy Award masterpiece but maybe useful for today.

@cdondrup can I ask you to upload it to the robot if it works?

[2016-04-28 08:39] cdondrup commented on #338
Worked for me. Uploaded to media server and added to the walking group video set. Removed the old one.

This needs to be tested on the robot today before the start of the walking group while waiting for the participants.

[2016-04-28 08:44] marc-hanheide commented on #338
@denisehe @TobKoer there's a video now that needs testing on the robot. Liaise with @cdondrup to test it.

[2016-04-28 08:44] #338 closed

[2016-04-28 09:07] denisehe commented on #338
ok so I try before the walking group :-)

thank you!

[2016-04-28 09:08] denisehe commented on #338
WG will start at 14:30 today - but the robot can get to his position as usual!

[2016-05-03 08:01] denisehe opened #341 "Walking Group - yesterdays failures"
Hi @cdondrup :-)

I just wanted to comment on one issue that occured throughout the whole session yesterday: at the predefined waiting points the screen always showed "waiting for therapist" instead of the regular "weiter" icon.
Sometimes this happened before but the screen changed very quickly to the "weiter" icon. Yesterday though the "waiting for therapist" icon remained there quite some time,

[2016-06-07 06:56] denisehe opened #343 "Walking Group Feedback"
Hi @cdondrup - I want to feed back that this years walking group deplyoment has really improved a lot compared to last year!
The failure rate was really low, the robot managed to navigate through really difficult situations quickly (like crowded corridors, monday markets on the ground floor, wheel chairs, and beds that blocked certain ways).

Furthermore it was really good that the therapists were

[2016-06-07 08:26] marc-hanheide commented on #343
👏  @cdondrup well done!

[2016-06-07 09:23] cdondrup commented on #343
I have to admit that it was more work than I hoped and that I was more annoyed than I would like to admit while doing it but I am really happy that it paid off. From observing the group I could already see that there were much less failures (this is mainly due to the increase in RAM on the machine because it was mostly at 5-6GB which is hard to achieve with 4GB we had last year ;) and of course th

[2016-06-10 12:27] marc-hanheide opened #344 "Improvements for y4"
Please put all the minor improvements here:

- [ ] bigger clock
- [ ] show an alternative screen between tasks

[2016-06-10 12:45] cdondrup commented on #344
https://github.com/strands-project/aaf_deployment/blob/indigo-devel/voice_output/scripts/task_monitor.py could be adjusted to not just say stuff when a task at a different waypoint is started but also show a screen once the robot drives off.

Edit: that could also show the arrows indicating directions.

[2016-06-13 10:22] TobKoer commented on #344
@marc-hanheide
- [ ] fonts should be bigger for older adults
- [ ] make clock bigger or better make it also an icon that can be touched and then opens a bigger clock screen
- [ ] show alternative screen between tasks (to make it clear that robot cannot be stopped when it's moving for info-terminal or bellbot!)
- [ ] enable users to choose between info-terminal function and bellbot function on scre

[2016-06-20 08:47] denisehe commented on #344
Yes everything I can think of streigth away, is already listed - maybe more details are coming after analysis.
And I think how to procede in terms of walking group should be discussed anyways during the meeting in the UK.

[2016-06-22 15:17] #299 closed

[2016-07-01 10:10] TobKoer commented on #344
@marc-hanheide
Here's more detailed feedback from our info-terminal assessments with older residents (by kind permission of M. Weninger):
-   Missing feedback: long loading times require feedback so that users know that the touchscreen has registered their action
  o   There should be appropriate form of feedback that the tap of the user was registered and the new page is already loading
-   Most

[2016-07-02 10:02] cdondrup commented on #344
Even though I won't be involved much any more but still just a few thoughts:
- Feedback when a button is pressed could be similar to the walking group, i.e. playing a quick jingle. The loading times are absolutely random and I still don't know why it sometimes takes a minute to load a page that normally loads in a second. Another alternative or in addition to the sound would be to use the new Mess

[2016-07-02 10:10] marc-hanheide commented on #344
Most sensible contents I've read after browsing the news. @cdondrup for PM. Seriously though, let's have discussion in MK.

[2016-07-07 14:06] marc-hanheide opened #345 "Werner/Henry needs a fan"
On order to tackle [charging issues](https://github.com/strands-project/scitos_robot/issues/72) can you please make sure to put a solution in place like this:
https://github.com/strands-project/scitos_robot/issues/72#issuecomment-228815970

[2016-08-29 06:08] denisehe opened #346 "No go areas"
@Jailander @capamat-aaf @marc-hanheide

Dear all, where are all the current no-go areas located?

@Jailander - could you send them marked on a map? Because I am not sure if I have all in mind, and as Matei takes over STRANDS it would be good for him to know!

Thanks, Denise

[2016-08-29 17:44] cdondrup commented on #346
I don't think there are any no go areas anymore because that never worked as expected and we had to get rid of it.
Except for in front of stairs there are nogo nodes. So if the robot goes there it will stop and call for help. But that should be the only ones.

[2016-08-30 06:18] denisehe commented on #346
oh ok. good to know @capamat-aaf

and the therapy area, you know the narrow corridor in the very back? this is a no go zone right?

[2016-08-30 09:00] Jailander commented on #346
Hi @denisehe yes @cdondrup is right there are no no-go areas, there are no go nodes which I painted in red for you on this map:
![nogonodes](https://cloud.githubusercontent.com/assets/5035967/18082860/9518da92-6e98-11e6-8773-6a8e4ad62ddc.png)

[2016-08-30 09:04] denisehe commented on #346
ok thanks @Jailander  - but what about the nerrow corridor on the back side of the therapy wing???

this was agreed to be a no go area - as it is really nerrow with lots of people and wheelchairs.

Last year thought, the robot just moved in - to our very astonishment - as we always thought that this zone is a no go area....

so whats the status on this?

Thanks and Cheers, denise

[2016-08-30 09:13] Jailander commented on #346
No @denisehe that area has always been transitable, the robot has just learnt not to go that way because it takes longer and there are more obstacles, as far as I can tell we never said that this area would be a no go and there are even bellbot nodes in this area, maybe I am talking about the wrong area?
I'm thinking the one in yellow here:
![nogonodes](https://cloud.githubusercontent.com/assets/5

[2016-08-30 09:16] denisehe commented on #346
@Jailander hmmm thats really very strange - caus I remember that we stated from the very beginning that the robot should never go there because its very busy and thus really undonfortable and maybe "dangerours" for the seniors waiting for therapy back there....

I dont know since when this was changed - because as far as I remember we discussed from the beginning that this area needs to be a no go

[2016-08-30 09:18] denisehe commented on #346
Could this at least be fixed for the upcoming trial?
The robot really should not go there - also not for learning purposes!

[2016-08-30 09:18] capamat-aaf commented on #346
Hello, first time posting here;

These are the sensitive areas that afaik have been agreed upon.
Orange is a non filming zone, because the patients receive their therapy here.
Red is a no-go area because of the therapy rooms, which is a busy area for the patients, esp. with wheelchairs and walking aids.

(didn't find the graphic software yet, so here's the picture in paint)

![aaf-dep_nogo](https:

[2016-08-30 09:20] denisehe commented on #346
@Jailander @marc-hanheide
or could you indicate where the robot is not filming exactly? because as matei is new, it would be helpful if he had all these details :-)

Thanks!

[2016-08-30 09:30] Jailander commented on #346
I can remove those nodes from the topological map yes that is no problem, but then it wouldn't go to to all the bellbot points you gave me in the beginning.
Also as far as I can remember the robot last year only went through that area during the first week (I can take a look at the data later), we explained you that the robot learnt that path because it had had many issues the other way because of

[2016-08-30 09:45] denisehe commented on #346
I will check about this info with tobias - this really is something entirely new for me - my latest point of knowledge was that this is a no-go area - thus I was surprised that the robot was driving in there once, after a waling group session....

[2016-08-30 09:51] Jailander commented on #346
Thank you very much @denisehe it will be useful to know where the communication was broken.

In any case, I don't think we will need to include this area for Y4 deployment, since the point for the robot learning its routes has been made already, but I still think it will be interesting to keep it now that we will be doing edge exploration too, however this will mean that the robot will go to this

[2016-08-30 11:12] denisehe commented on #346
Yes, I will let you know!!

Yes it will be for @capamat-aaf to discuss.

Yeah, I will really miss you all! It was a really really cool time with you and the rest of the consortium :-)

[2016-08-30 13:27] cdondrup commented on #346
Not really helping but this is the first time I hear about this being nogo area. I only remembered that we said we don't want the walking group to go through there because the robot might get stuck.

Regarding the robot going there once after the group, I cannot remember this instance. I know that it went there once before a group due to a mislocalisation which I then fixed remotely. This wouldn't

[2016-08-30 13:31] denisehe commented on #346
ähhhh what? hahaha oookaaay thats more than strange - because here it always was a no go zone.

well and actually when it drove in I pushed the bumper to get wolfgang or sergey removing it from back there - and I remember that I was really astonished, that it was going in there ^^

omg O_O

[2016-09-02 09:08] denisehe commented on #346
@TobKoer  look Tobias.

[2016-09-07 05:55] denisehe commented on #346
@Jailander @marc-hanheide @capamat-aaf

hi there - i got response from tobias - he also thought that we agreed that the robot should not drive through the narrow corridor back in the therapy wing.
he said that he remembers that technical partners agreed, especially as in the first two years navigation was quite inreliable and thus we all did not want to risk any wheel chair crashes...

We also had

[2016-09-07 05:59] denisehe commented on #344
@capamat-aaf  see here also open issues for the upcoming deployment!

[2016-09-07 06:57] capamat-aaf commented on #344
@marc-hanheide
Quick, big question, we were at the TU yesterday and I finally got to meet Henry, which, of course, was a pleasure.
I wanted to inquire about the Walking Group task; even though I'm not sure if I want to evaluate them again separately, I hope that the task will not be dropped and will still be available for the people here to use.
Are there any developments or news in this regard?

[2016-09-07 09:05] cdondrup commented on #344
I am happy to support the walking group but cannot implement any new features. So it would like it was last deployment.

[2016-09-07 11:48] denisehe opened #347 "Walking Group Year 4 Deployment"
@cdondrup @marc-hanheide @capamat-aaf

Hi there, i opened a new issue for Walking Group especially

Many thanks for your offer Christian, to monitor the Walking Groups although you being in Scotland.
:-)
The plan so far: we will offer the Walking Group Task every Monday and Thrusday throughout the deployment - but the Therapists can choose freely, if they will take him with them or not. In the end

[2016-09-07 11:51] capamat-aaf commented on #344
@cdondrup
that is great! Thank you for your availability. The procedure will be like in the last deployment; hopefully one minor change can be implemented, but Denise started a new thread on that.

[2016-09-07 11:59] cdondrup commented on #347
Hi, this is easily done. It is just based on tags at the waypoint. By removing the tag, the wait will not be executed. Once we have the final topo map for the deployment, I can just remove all the tags except for the one at the bells.

[2016-09-07 12:01] denisehe commented on #347
Wow - perfect :-)
Great!

Thanks!

[2016-09-09 08:37] denisehe opened #348 "Infoterminal Y4"
@marc-hanheide @Jailander
Hi there - can you please send us the nice picture you produced during the review - showing the infoterminal points and frequency of use?

Thanks a lot :-)

so @capamat-aaf has a first glimps on where the robot is going to show this task

[2016-09-09 12:01] denisehe opened #349 "New Team Members and Introduction"
Dear @marc-hanheide @hawesie @mzillich @capamat-aaf

as you know we are onboarding our new AAF-team at the moment.

Matei already had a Werner-Henry-Demo at TUW this week and Veronika knows the robot a bit from the prior trials.

But it think it would be really helpful if you could introduce our new team to the robot and its features maybe even prior to the trial, maybe with a litte pre trial, whe

[2016-09-14 09:58] #285 closed

[2016-09-14 09:58] #289 closed

[2016-09-14 09:58] #290 closed

[2016-09-14 09:58] #291 closed

[2016-09-14 09:58] #300 closed

[2016-09-14 09:58] #302 closed

[2016-09-14 14:40] Jailander commented on #344
Hi this is the topological map as it was last deployment the area within the yellow square is where the robot was allowed to record images ![aaf_deployment16](https://cloud.githubusercontent.com/assets/5035967/18516584/7c181c56-7a91-11e6-8593-a73ba12614f8.png)

[2016-09-16 12:51] Jailander commented on #344
Hi I created some screenshots from the info terminal, this is the current layout
![infot1](https://cloud.githubusercontent.com/assets/5035967/18586395/4da2e962-7c14-11e6-96ac-8a4a490f1789.png)
![infot2](https://cloud.githubusercontent.com/assets/5035967/18586396/4da392cc-7c14-11e6-851c-cdf561744348.png)
![infot3](https://cloud.githubusercontent.com/assets/5035967/18586394/4da03bd6-7c14-11e6-9ce8-b

[2016-09-16 12:57] cdondrup commented on #344
AFAIK, the start screen had the video playing in the bottom centre under clock in the latest version. But I have no idea where those changes are.

[2016-09-16 12:58] Jailander commented on #344
I was hoping no one would notice :p but yes @cdondrup is right I just didn't run the latest version as it was not in linda

[2016-09-19 07:08] capamat-aaf commented on #344
@Jailander thank you for the map and the screenshots!
I will work on mockups for the infoterminal; I googled the screen of the robot and found out that the size is 15 inch but I couldn't find the resolution listed. I assume it is 1024x768, or is it listed in some documentation?

[2016-09-19 07:49] marc-hanheide commented on #344
@capamat-aaf yes the resolution is only 1024x768, just like the screen shots @Jailander sent.

[2016-09-26 12:45] capamat-aaf commented on #348
[info-screen-start.zip](https://github.com/strands-project/aaf_deployment/files/492987/info-screen-start.zip)
[Infoterminal Recommendations.docx](https://github.com/strands-project/aaf_deployment/files/493082/Infoterminal.Recommendations.docx)

@marc-hanheide @Jailander
Hello, here are some drafts for the adapted infoscreen design, which I designed in Balasmiq Mockups and GIMP, so unfortunatley wi

[2016-09-26 12:47] capamat-aaf commented on #344
@marc-hanheide @Jailander
Hi,
https://github.com/strands-project/aaf_deployment/issues/348

I uploaded drafts for the infoscreen in this issue, and here's a screenshot:
![info-screen-start](https://cloud.githubusercontent.com/assets/21201058/18834755/ffe8cc28-83f7-11e6-912d-5c545cc97f07.png)

[2016-10-07 07:38] marc-hanheide commented on #347
So, I understand we want this also on-demand this year. From what I understand it is meant to run according to scheduled time in the calendar, _not_ really on demand. And the sessions will be facilitated by @capamat-aaf and @kirumang
assigned to @cdondrup for comments.

[2016-10-07 07:40] marc-hanheide commented on #346
so, this needs modification of the topo map. That is a bit of a shame, but if needed we have to take the waypoints out. @gestom and @Jailander please comment if this is a problem. If not, @Jailander to modify map.

[2016-10-07 07:40] #349 closed

[2016-10-07 07:41] marc-hanheide commented on #341
@cdondrup is there something that needs to be done? Otherwise, please close as appropriate.

[2016-10-07 07:41] #343 closed

[2016-10-07 07:42] marc-hanheide commented on #337
Right, the issue that tasks are being dropped needs to be addressed. We shall test the task dropping and interplay between info-terminal etc. better.

[2016-10-07 07:44] marc-hanheide commented on #340
what is this about? What shall it address? Is it something we need to think about for Yr4?

[2016-10-07 07:44] #334 closed

[2016-10-07 07:46] Jailander commented on #346
Tes its a shame, but I can remove this area I think the point was made on the previous deployments

[2016-10-07 07:47] marc-hanheide commented on #323
I'm lost with this, can @bfalacerda and @Jailander update me if this is still relevant?

[2016-10-07 07:50] Jailander commented on #340
I think @cdondrup already fixed this, @cdondrup can you comment?

[2016-10-07 07:51] marc-hanheide opened #351 "Scheduling and interplay with smarter info-terminal"
We need to decide
- [ ] which scheduler to take (consult @bfalacerda)
- [ ] test it with our tasks (@marc-hanheide and @Jailander)
- [ ] integrate with the more clever planning of info-terminal (@gestom, for MESA paper)

[2016-10-07 07:53] marc-hanheide opened #352 "Human-Aware navigation"
As it is agreed, we want to use the new human-aware navigation of @cdondrup at AAF. Here are the things I believe are relevant:
- [ ] make sure it works with wheelchair detector of @Pandoro
- [ ] design an experiment around this, e.g. flip the behaviour every week? To be discussed with @cdondrup

[2016-10-07 07:56] gestom commented on #337
It seems that this is due to the fact that infremen does not consider the travelling times and it proposes locations that are unreachable in 5 minutes. I will add the implementation that we did with Mirek, which considers that:

1)  Read the topological map and forward it to Mirek's planning.
2) Make a plan of experiments at AAF.

[2016-10-07 08:07] marc-hanheide opened #353 "get Henry to AAF"
- Can we aim to get the robot to AAF in the first week of Nov (e.g. 1/11/16).
- @capamat-aaf to boot up laptop and connect to network.

[2016-10-07 08:17] marc-hanheide commented on #351
@bfalacerda "schedules" next 20 minutes, tasks without windows are highest priority tasks. Priorities should work. But the on the fly task submission is probably not working (@hawesie to comment).

[2016-10-07 08:31] marc-hanheide commented on #352
@cdondrup and @marc-hanheide to discuss how this could lead to a publication.

[2016-10-07 08:33] bfalacerda commented on #323
depends on if you want a max number of bumper recovery attempts. I don't remember why you wanted it, but I don't see the point of stopping the recover bumper behaviour

[2016-10-07 08:37] marc-hanheide opened #354 "improving wheel chair detector"
- [ ] hard negative mining
- [ ] training on test data (as we are running live now anyway)
- [ ] parameter tuning to go for reasonably low FPR
- [ ] upload new version of scipy / THEANO
- [ ]  test in old tracking pipeline

[2016-10-07 08:50] marc-hanheide commented on #348
Consensus after meeting:
- suggested info screen accessible through big button (hiding the actual information)
- menu always visible
- _not_ displaying info-terminal while driving.

[2016-10-07 08:52] marc-hanheide opened #355 "Detect interaction via xtion during info-teminal"
add to logging...

[2016-10-07 09:01] marc-hanheide opened #356 "Cognitive Game"
@capamat-aaf to check for test license, and to see if this should be a specific extra task to schedule for the robot. Also to see if there is a gain.

[2016-10-07 09:03] marc-hanheide commented on #356
facilitated by therapist

issues:
- [ ] internet connection needed
- [ ] license needed

[2016-10-07 09:04] marc-hanheide opened #357 "implement no-task idle screen"
display video when robot is not in task, monitor executor topic to trigger it.

[2016-10-07 09:08] marc-hanheide opened #358 "dealing with updated topo map"
this is to facilitate #298

- [ ] MDP needs to get updated map
- [ ] infremen needs to get updated map
- [ ] TopoMap needs to publish this and allow to switch between maps on the fly.

needs serious testing.

[2016-10-07 09:10] #323 closed

[2016-10-07 09:13] marc-hanheide commented on #346
@Jailander to remove the 5 waypoints.

[2016-10-07 09:13] Pandoro commented on #354
We should also not forget the map filter option! This seemed to work nice
and it might also help to fix many of the FPs.

On Oct 7, 2016 10:38 AM, "Marc Hanheide" notifications@github.com wrote:

[2016-10-07 09:15] marc-hanheide opened #359 "new reading zone"
some waypoints need to be moved due to new reading zone at "Feuerloescher".

@capamat-aaf to put a photo.

Marc

[2016-10-07 09:21] mzillich commented on #353
Yes, that's ok.

[2016-10-07 09:45] capamat-aaf commented on #359
![tmp_3913-img_20160919_15111191255575038](https://cloud.githubusercontent.com/assets/21201058/19185796/7ab31c36-8c83-11e6-93c3-0afbdf46a85a.jpg)
![tmp_3913-img_20160919_1511000-392483734](https://cloud.githubusercontent.com/assets/21201058/19185805/85607778-8c83-11e6-84ac-f88f9fecb8cd.jpg)

I will take some better ones and of the metallic threshold as well.

[2016-10-07 09:46] marc-hanheide commented on #351
after discussion with @hawesie it has more or less been decided to move to the new executive.

[2016-10-07 10:38] marc-hanheide opened #360 "augment infremen to also predict the information screen people want to look at"
We can now anticipate the information people want to look at. This need infremen to also predict this screen and interface with the GUI appropriately.

[2016-10-07 12:46] cdondrup commented on #341
This happens once in a while but I have no idea why. The mysteries of smach...

[2016-10-07 12:46] #341 closed

[2016-10-07 12:53] cdondrup commented on #340
I remember that I wanted to do this, yes... I don't I have though.

[2016-10-07 12:57] cdondrup commented on #352
See: https://github.com/strands-project/strands_perception_people/issues/209 regarding wheelchairs.

[2016-10-09 16:52] lucasb-eyer commented on #354
Thanks for writing this up, Marc. What are the main problems trying to be solved here?

I agree with @Pandoro that the biggest bang for the buck we will get is adding a map-filter, and I think @cdondrup already did that for another detector in the past, so it should be very little buck to pay?

As to the suggestions, here are my thoughts, mostly negative sorry :smile: :
- I don't expect hard negat

[2016-10-09 17:15] lucasb-eyer commented on #354
Btw, I can run such a hard-negative experiment, but I'm pretty certain that at best, it will improve learning speed. I've made such experiments in the past.

[2016-10-09 18:57] Pandoro commented on #354
Just to clarify, almost all of this is what I suggested.
- Hard negative mining seems interesting and is something I want to do to see what it does. I totally agree with your point, but it seems that this is a standard thing in "traditional detection" approaches and in my brain it is semi-mixed with hard negative mining on scenes where clearly no wheelchair is present (as in just recording further

[2016-10-09 20:22] cdondrup commented on #354
Regarding the laser filter, given that the people perception is started with `with_laser_filter:=true` (which is the default) all you need to do is to subscribe to `/base_scan_filter` instead of `/scan`.

[2016-10-10 01:03] lucasb-eyer commented on #354
Cool, thanks for the clarification Alex!

About hard-negative: if this means on new data that's not part of train/test set, it might help as it will give more data. On the training data itself, it was used in most classic detection scenarios because they used SVN and thus the hinge loss, where it makes sense. I can tell you more when I'm back if you're interested.

About old tracker: I just had a

[2016-10-10 07:30] capamat-aaf commented on #353
Laptop is booted. It has to run 24/7, correct?

[2016-10-10 07:35] cdondrup commented on #354
As long as it allows to integrate different detectors easily, I don't mind switching. But I cannot guarantee that all the components relying on the current tracker will still work if the output is not the same as for the old tracker and I don't have time to work on this I am afraid.

[2016-10-10 07:36] cdondrup commented on #353
The laptop is our gateway to inspect the robot remotely and make regular backups of the collected data so it has to run 24/7, yes.

[2016-10-10 07:49] capamat-aaf commented on #359
Here are new photos, let me know if you need more.
![img_20161010_0833180](https://cloud.githubusercontent.com/assets/21201058/19229565/cc686462-8ece-11e6-888f-11d3a199148f.jpg)
![img_20161010_0833285](https://cloud.githubusercontent.com/assets/21201058/19229741/292d8a32-8ed0-11e6-8602-7849f886ffb7.jpg)
![img_20161010_0832570](https://cloud.githubusercontent.com/assets/21201058/19229740/29279000-8

[2016-10-10 16:34] lucasb-eyer commented on #354
Now might be time to get Stefan a github account and ping him here =)

The thing is that with Stefan's fixes and modifications, besides being better, the tracker also allows to get the camera images for a track (remember we wanted to do this a while ago @cdondrup?) which is essential for basically all of the vision-related tasks if we want them on top of tracks. And I think we want/need this with

[2016-10-10 16:49] Pandoro commented on #354
So we discussed all of this with Marc and Nick at the GA. For AAF we will not mess around with the tracker since all of the models that @cdondrup learned are based on the old model and there it will just be to risky for this deadline. For the TSC deployment Nick told Stefan he can do it if he is interested and I guess it would be nice to see. There, there is not such a high risk since only some ot

[2016-10-10 16:52] lucasb-eyer commented on #354
Ok thanks for the update; I should not say so much while I'm out of the loop hehe. If there's no requirement from anyone (from me, there's not anymore) then we might not want Stefan to do the work. Relevance to this issue is because it was the last point in the OP.

[2016-10-10 16:55] Pandoro commented on #354
Just to clarify, with "has any relevance" I didn't want to say stop discussing it, I just wanted to point out that I think it should not be a point in the OP. :)

[2016-10-11 14:11] capamat-aaf commented on #348
• for food menu have two buttons next to each other to select the desired one
• font size 14pt for mutliple lined text (should be around 18px, which looked bigger tan before, iirc)
• spacing between mutliple lined text (min))1.5-Line or Double Spacing, in any way so that scrolling can be avoided. I don't know what parameters are needed so I don't know how to convert it; here's a pic:

![image](htt

[2016-10-12 07:57] capamat-aaf commented on #356
Bad news: the people from RehaCom answered; the software has to be installed locally, the only thing that happens over the internet is the licensing, whatever that means.

They also sent me a link to a demo version, which I cannot open at the office.
Opening the link with the phone sent me to a download site where it say: "RehaCom available only for Microsoft Windows".
So I guess that resolves it

[2016-10-13 08:16] marc-hanheide commented on #356
yep... what a great product ;-) Well, I think that's a no. Just confirming with @hawesie: No Cognitive Games on the robot at AAF, it seems.

[2016-10-13 08:24] hawesie commented on #356
Ok, not a lot we can do then.

[2016-10-13 11:54] marc-hanheide commented on #359
Thanks

[2016-10-18 11:26] capamat-aaf commented on #353
The first of November is a holiday and I'm waiting for an ok to get the second off too.
@mzillich would the 3rd or 4th work?

[2016-10-18 11:26] mzillich commented on #353
4th is ok for me

[2016-10-18 13:28] capamat-aaf commented on #353
Brilliant, then please let me know, if you need anything from me :)

[2016-10-19 09:21] #356 closed

[2016-10-19 09:26] marc-hanheide opened #361 "AAF test system at L-CAS"
- update to latest
- test all the functionalities

[2016-10-19 09:28] marc-hanheide commented on #351
@Jailander needs should include this into the tests of #361 to see if it works. Working with @bfalacerda

[2016-10-19 09:29] marc-hanheide commented on #351
Is it always 20 minutes slots, @bfalacerda or is that configurable?

[2016-10-19 09:33] marc-hanheide commented on #347
new starting point shall be "Kindergarten", ok @cdondrup ?

[2016-10-19 14:35] cdondrup commented on #347
I will have to see where I hardcoded the name of the waypoint.
- [x] Check config files
- [x] Check tags of current starting node
- [x] Check task action server which might have the waypoint as a hardcoded default
- [x] Check intermediate waypoints to see if they are before or after Kindergarten
- [x] Check route planning

In general, I would prefer not change any waypoint or move them dramaticall

[2016-10-19 14:40] kirumang commented on #345
Werner got a fan now.
but, the fan makes some noise.
Currently, the power source comes from the wire which connects to a network hub (also 12V)
Do I need to connect the power cable of the fan to some specific power connector or pin?

e.g. some pins that have 12V power while battery charging, otherwise no power on it,
@marc-hanheide @gestom

![20161019_161730](https://cloud.githubusercontent.com/as

[2016-10-19 14:46] marc-hanheide commented on #345
When you say noise, is it a problem? @gestom to comment on the wiring.

[2016-10-19 15:18] gestom commented on #345
Hi, we connected the fan to one of the side PC's power sources. It's pretty silent.

[2016-10-19 15:28] kirumang commented on #345
Thanks.
I don't know the noise can be a problem in the field of AAF deployment.
If the noise become a problem, I will make the fan slightly slower.

[2016-11-02 10:15] marc-hanheide opened #363 "Jobs during pre-deployment week"
- [ ] test the wheelchair detector
- [ ] adjust the topo map
- [ ] gmap the environment (but keep the old one!)
- [ ] adjust the edge actions for human-aware nav (with @cdondrup)
- [ ] test the walking group (with @cdondrup )

[2016-11-02 10:21] marc-hanheide commented on #352
Jobs to do:
- [ ] write dispatcher for human-aware actions
- [ ] start off with it defaulting to the old behaviour
- [ ] implement human-aware nav from the models

[2016-11-02 10:28] marc-hanheide opened #364 "create actionserver for night/day switch"
take the start_stop_logging server as an example and allow it to switch maps via calendar interface

[2016-11-02 10:29] marc-hanheide commented on #357
Could @cdondrup point me to the little "I'm moving now' script?

[2016-11-02 10:32] marc-hanheide commented on #357
https://github.com/strands-project/aaf_deployment/blob/indigo-devel/voice_output/scripts/task_monitor.py

[2016-11-02 10:33] #337 closed

[2016-11-02 10:33] #345 closed

[2016-11-02 14:49] cdondrup commented on #352
@Jailander is it still required that every action that is triggered on an edge has a dynamic reconfigure that mimics move_base? Like this atrocity: https://github.com/strands-project/strands_hri/blob/hydro-devel/strands_human_aware_navigation/src/dwa_dyn.cpp

Because then the action dispatcher would need that as well.

[2016-11-02 15:11] Jailander commented on #352
Hi yes I am afraid that we still need that atrocity we both designed for every action based on move base, if you have an independent action server that will handle the navigation (such as door_pass) then that is not necessary

[2016-11-02 16:33] cdondrup commented on #352
I'm glad you want to take the fall for my terrible C++ skills ;P
I'll make sure to copy this over to the dispatcher then.

[2016-11-02 16:35] Jailander commented on #352
haha I don't want to steal your credit, just saying that I am quite comfortable with this solution to my own shame :p

[2016-11-04 12:52] kirumang commented on #353
The robot arrived at AAF now, and connected to network.
@marc-hanheide please check the network now.
I guess I need to turn the robot off after checking the network

[2016-11-04 13:12] marc-hanheide commented on #353
I'll check it next thing. But please keep everything up and running even when you leave.

[2016-11-04 13:16] marc-hanheide commented on #353
Please be online at
https://gitter.im/strands-project/aaf_deployment

[2016-11-04 14:53] cdondrup commented on #347
Walking group starting point has been changed. Please see above PR for instructions on how to update the topo map and DB.

In order to only have the robot stop and wait once during the big loop, in the final topo map remove the tag `walking_group_pause` from all waypoint except for `WayPoint61` which should be the one next to the cow bells.

I will leave this for @Jailander and reassign to him.

[2016-11-04 14:59] Jailander commented on #347
:+1: just that then?

[2016-11-04 15:01] cdondrup commented on #347
Easier than I thought ;)

Past-Christian's programming skills and his thoughtfulness keep on positively surprising me today ;)

[2016-11-04 15:01] Jailander commented on #347
yes we all miss past-Christian even Linda until she passed away this morning R.I.P

[2016-11-04 15:03] cdondrup commented on #347
She couldn't take the pain of being separated anymore I reckon.

[2016-11-04 15:04] Jailander commented on #347
Exactly :'( we are all feeling it

[2016-11-04 15:55] #353 closed

[2016-11-09 17:04] Jailander opened #369 "[infoTerminal] Info Task Server has no attribute ptu"
when the robot arrives to the info terminal there is this error and ptu remains unturned.

![ptuerror](https://cloud.githubusercontent.com/assets/5035967/20147076/dbe9c4d6-a6a6-11e6-9826-47163f82fbdc.jpeg)

[2016-11-09 17:33] #369 closed

[2016-11-10 16:35] marc-hanheide opened #372 "new scheduler amendments in gcal_routine and aaf_control_ui"
as discussed with @hawesie
- [x] infoterminal: not time critical, time window given as before, everything should be working as we do at the moment, no chance needed (other than probably adjusting the max_duration?)
- [x] calendar: make it time-critical, the max_duration is derived from the calendaer, the end time is same as start time
- [x] web interface: submit ondemand

[2016-11-11 12:57] capamat-aaf commented on #348
@marc-hanheide some observations regarding the info screen from today's excessive testing session :)
• Could you increase the Line Spacing for the text in News?
• Could I ask you for the link to the resident menu? Their menu is a bit more complex and I'ld like to try out the layout
• the font size in the menu is bigger in FF compared to Chrome, haven't checked the other items, but so far that's no

[2016-11-11 13:23] marc-hanheide commented on #348
@capamat-aaf

Yes, done in 111183c?

https://docs.google.com/document/d/1q4Aw0bPPeO9joDFGVbb59davNwdYdaSIWq1scbTkL3g/edit?usp=sharing

OK, strange.

yes, I don't know how to avoid that :-(

Yes, that's still on the list of things to do. Plan was to just have the time and some very basic information on it.

192.168.20:8080/news was only for test purposes. I'm surprised it is still running. It shoul

[2016-11-11 13:43] capamat-aaf commented on #348
Brilliant, thank you!
Can't view the line spacing changes, wouldn't know where now :P
So basically, the link that I need to view the info terminal is the same address that Henry uses; but I guess I'll only be able to do that once it's running on him?

[2016-11-13 20:02] marc-hanheide commented on #372
OK, I believe this could now work with #373 and https://github.com/strands-project/strands_executive/pull/266  in place... needs testing in system context

[2016-11-14 14:01] capamat-aaf commented on #344
@Jailander could you send me the list for the bellbot or tell me how I can help you update?

[2016-11-15 15:22] #340 closed

[2016-11-15 15:24] #361 closed

[2016-11-15 15:25] #359 closed

[2016-11-18 15:39] Jailander commented on #372
these are the outputs of the tests:
**Scheduler**
[tmux-scheduler.txt](https://github.com/strands-project/aaf_deployment/files/600288/tmux-scheduler.txt)
**/current_schedule**
[tmux-current_schedule.txt](https://github.com/strands-project/aaf_deployment/files/600292/tmux-current_schedule.txt)
**/task_executor/events**
[tmux-task_events.txt](https://github.com/strands-project/aaf_deployment/files/6

[2016-11-19 09:08] marc-hanheide commented on #372
Right... so what do we see in this test? What did you do in which order?

[2016-11-19 09:12] marc-hanheide commented on #372
`tmux-task_events.txt` has two entries only...?

[2016-11-19 10:21] Jailander commented on #372
Yes it does, this was infoterminal running with two calendar events (that it went to but didnt even do) and one on demand task that I dont think it was submitted at all from the UI

[2016-11-20 22:36] marc-hanheide commented on #372
@Jailander @hawesie I have investigated this further. Here are som observations
1. The `gcal_routine` had a bug that didn't work with time critical tasks. This is resolved in fb4a74bd100493235ab63a18ee989b6f16991295 (https://github.com/strands-project/strands_executive/pull/266)
2. it still doesn't work fully correctly as now on demand tasks don't work anymore... What happens when it is currently

[2016-11-22 10:07] marc-hanheide commented on #372
OK, I *believe* all this should be working now.

Question for @capamat-aaf related to this:

Which on-demand task do you guys want to be able to trigger vai the Control UI? In other words, which jobs do we need to offer to be available spontaneously? Think along the lines of

* What do you need to show the robot off to some visitors (and where)?
* What admin/maintenance jobs do we need (e.g. just

[2016-11-22 10:19] cdondrup commented on #372
@marc-hanheide I am not entirely sure we want to offer the 'schnelle Gruppe' as a choice in the first place. Even though it is possible to have the robot go quicker, we noticed that this leads to unforeseen side effects like the increased number of disgruntled patients when it comes too close for comfort. Also, this won't be changed by any new form of human-aware navigation as it needs time to spo

[2016-11-22 13:23] capamat-aaf commented on #344
So I have had some reports about Henry stepping over people's toes (n=2).
I have been told that they aren't "mapped" so basically there is not much we can do.
I'll see if this is a reoccurring issue.
(I stood in it's path at one point (corridor in front of AAF) to try it out and Henry would not make it past me, as he stopped at some point next to me and would not  continue)

[2016-11-22 13:27] marc-hanheide commented on #344
Is that n=2 toes or people ;-)

Seriously, we are having some problems with the human-aware navigation that have not had ever before, known as the dynamic_reconfigure bug by @jailander and @cdondrup. Not sure if this is in any way related, though. It might be worthwhile asking @kiruwang to spend a day monitoring the robot to watch out for things like misbehaving navigation...

[2016-11-22 13:31] capamat-aaf commented on #348
@marc-hanheide
Sorry, about line spacing again; it's not top priority right now, but for the record:
Somehow it still doesn't look good.
Here's a screenshot: apart from horrible news being displayed, there is plenty of room below.
Perhaps you could increase it to double spacing? Or, did the 1.5 apply? It looks so narrow to me...
![line-spacing](https://cloud.githubusercontent.com/assets/21201058/2

[2016-11-22 13:33] capamat-aaf commented on #344
People, unknown toes :)
Thank you! hopefully it will be fixed with those issues and I'll ask @kirumang next time he is here

[2016-11-22 13:35] marc-hanheide commented on #348
Odd, I'm sure I fixed it. This could be due to the outdated @gestom workspace we have to use at the moment. Let's wait and say until that is fixed.

[2016-11-22 14:03] marc-hanheide commented on #372
OK, I have made some changes to the button. To be viewed at https://lcas.lincoln.ac.uk/werner/tasks I leave it for now, if you have more requests, let me know.

[2016-11-22 14:50] cdondrup commented on #372
Looks good to me, thanks!

[2016-11-22 14:51] kirumang commented on #344
In my opinion, it is pretty okay when Henry directly moves toward people in front of him. He can safely stop in front of people. And I think that navigation functions don't have serious problem in the normal situations.
But, when he turned himself to avoid people or rotated to check his surroundings,  his tail (where it has a hole for the power connection) sometimes reached to people's toes or whe

[2016-11-22 18:53] marc-hanheide opened #377 "Scheduler and Info-Terminal Interplay"
So, this is an issue to document all the issues I had today and some lessons learned.

1. @gestom had a separate workspace set up on Werner (`~/infremen_test`) that had a number of uncommited local changes in it, and was - at the time I checked - 83 commits behind the official indigo-devel branch. This is causing myriads of problems. We must make sure that we are running the latest code. I spent a

[2016-11-22 20:01] gestom commented on #377
ad 1) I am really sorry about that.  My main goal for the AAF deployment was to confirm the exploration/exploitation experiments that we could not do last deployment due to the HW problems that we faced there. To do the experiments, I wanted to run a separate experiment every week for the first month (or at least 3 weeks) of the deployment. Hence, I had this separate workspace where I could change

[2016-11-22 21:13] marc-hanheide commented on #377
Thanks @gestom, no worries, I learned even new things about git today ;-) But I think we have to accept that we need to do a proper restart tomorrow, where we are certain things are working. If you indeed want to have different experiments. You can either
* Have a workspace that truly only has the infremen package in it and nothing else. (**not** my advice)
* Actually make the models different par

[2016-11-22 21:15] marc-hanheide commented on #377
apologies, the commits that appear as @cdondrup are not @cdondrup's. That cheeky little bugger had Werner configured to have everything committed in his name ;-)

[2016-11-22 22:50] hawesie commented on #377
The `Cancelling individual tasks is not implemented` statement is actually telling the truth. If you see this then nothing is being cancelled. The new executive implementation doesn't support task cancellation for specific tasks at the moment unless they're executing. If you call cancel and you don't see that message, then it has cancelled the requested task and may have cancelled other active tas

[2016-11-22 22:59] marc-hanheide commented on #377
Ok, surprised by this as we saw it cancelled, but you are probably right that it was always active and if I understood correctly than this individual task that is active is actually cancelled. I think I agree with your alternative being what we need. But how would that work with time critical tasks again that don't have a valid end_before?

[2016-11-22 23:02] marc-hanheide commented on #377
BTW, I'm not even sure we need then always cancelled when their time has expired. But we need then cancelled if there is another task due and the current has exhausted its max_duration... And also that doesn't seem to happen. Should it?

[2016-11-22 23:20] marc-hanheide commented on #377
Let me try to outline again how I think it could and maybe should work. And maybe @hawesie then tells me where I'm wrong.
I'm looking info terminal only for now, priority 1:

These are tasks with a window, I suggest a 5 minute window with a 2 minute max_duration. Tasks are generated every 5 minutes so that the windows are back to back. Then I would expect the scheduler to fit them into the window.

[2016-11-23 08:25] hawesie commented on #377
The executor *does* interrupt a running task if it surpasses its max duration (after giving it an extra 30 seconds wiggle room).

Normal tasks are only considered for execution when nothing is executing, so you don't get that preemptive behaviour you describe. The availability of a normal task does not trigger the preemption of a running task.

Normal tasks are only considered for execution if the

[2016-11-23 09:23] capamat-aaf commented on #348
Another non-urgent question: is there a link that I can access through the STRANDS laptop/network where I can view the info terminal screens? The "testing url" doesn't work anymore.
The menus in google docs have a different layout compared to the info terminal and since they get cut off if they're too long, I was able to preview them on the laptop.

[2016-11-23 10:41] gestom commented on #377
@hawesie Juddging by the names of the task parameters, I was expecting that the scheduler makes sure that the tasks is stopped before 'end_before' even if the total running time of the task is lower than 'max_duration'.  (That's how I interpreted the 'max'). So, could you make the scheduler to stop the relevant task if the current_time > task.end_before  as you suggested before (no wiggle room plz

[2016-11-23 11:56] Jailander opened #378 "[mdp_policy_executor_extended] seems to have blocked"
The robot was on the Charging Station with infoterminal sending tasks and the scheduler was adding them to the current schedule but navigation was not getting any commands to navigate anywhere.
The scheduler was restarted and the following error appeared `/mdp_policy_executor_extended required SIGKILL`. Could this be the cause?
scheduler output here:
[scheduler-blocked.txt](https://github.com/stra

[2016-11-23 12:19] hawesie commented on #377
Will do.

[2016-11-23 13:41] capamat-aaf commented on #344
General question: assuming someone is clicking through when Henry is in infoterminal mode and he has a different task coming up or has to move: does he wait until that person is gone?
Someone, who this happened to, inquired on this.

[2016-11-23 14:57] hawesie commented on #377
This PR adds that functionality. It's not exhaustively tested, but hopefully does the job.

https://github.com/strands-project/strands_executive/pull/282

[2016-11-23 15:42] marc-hanheide commented on #344
This relates to the scheduler @hawesie. The info terminal sets the is_interuptable to false for 30 second after every click. So it should no happen IF  the scheduler respects that flag.

[2016-11-23 15:49] hawesie commented on #344
Ah. Needs a fix. Will do it now.

[2016-11-23 16:15] hawesie commented on #344
Fix added to https://github.com/strands-project/strands_executive/pull/282

[2016-11-23 16:16] Jailander commented on #344
should I add this into werner?

[2016-11-23 16:18] hawesie commented on #344
Yes please.

[2016-11-24 07:00] capamat-aaf commented on #344
Thank you!

[2016-11-25 09:41] capamat-aaf opened #381 "Infrastructure changes at AAF Y4"
I picked up a conversation that is unfortunately harrowing news.
The area where the robot charging station is, will become a "lounge area" with a carpet and a small couch.
These changes are going to happen in the third week of January.
I drew some pictures to show the exact location.
![2](https://cloud.githubusercontent.com/assets/21201058/20620324/759837da-b2f9-11e6-9d16-c4d62cc6b433.png)
![4](ht

[2016-11-25 09:52] Jailander commented on #381
WOW, that is bad news :confused: honestly any waypoint but the Charging station would be less problematic. The main problem right now is that the Charging Point is our 0,0 in the map. Also with changes in topology midway the deployment I am not sure how well our prediction system will work (not too well I'd say), and how this will affect the infoterminal experiments (@gestom can have a more clear

[2016-11-25 09:56] cdondrup commented on #381
Don't the security guys have two charging stations? Could we just add the new location as charging station 2 and never use 1?

[2016-11-25 10:07] gestom commented on #381
Good to know in advance, so we are ready for this. We could add another charging station without significant problems and not starting from 0,0 should not be that problematic either. The predicttions will be affected, but on the other hand, we have a chance to observe a structural change and see how the persistence part of FreMEn deals with it.

[2016-11-25 10:12] Jailander commented on #381
we only need to move the Charging station and change the name, but as I said this will affect the infoterminal experiments, and we would definitely not use position injection. Also after restarting the robot in the ChargingPoint we would need to inject the robot pose to Amcl rather than leaving it to 0,0

[2016-11-25 10:13] marc-hanheide commented on #381
First of all, thanks @capamat-aaf for the early heads-up. Then, when you say the decorators are coming in, is this also planned for third week of Jan? Or earlier? Finally, I think this is not too bad, rather it's interesting. But we really need to know the precise schedule, including the times when we probably cannot operate at all.

[2016-11-25 10:30] capamat-aaf commented on #381
Thank you guys for staying positive! I felt so mad when I found out...

Regarding painters, I will be informed once the exact times are known, it's not going to be any time soon though.

But it's not too bad apparently, they are going to paint only a couple of walls:
• part of the ambulance area
• the one walls on the left of the entry, where the elevator and the bins are
• the niche where it woul

[2016-11-25 10:43] capamat-aaf commented on #348
Minor thing: the "hover" function is showing the links eg localhost:8090/menures
But it seems the workaround might be tedious
(http://stackoverflow.com/questions/5605481/css-html-disable-link-hover-text)

[2016-11-25 10:46] cdondrup commented on #348
Is that a problem? It does that in all the interface I guess. In the walking group as well.
But people can't do anything with that information so I don't think it needs to be fixed if that means replacing every link with a javascript call.

Also, it shows this sometimes even when an external component changes the webpage... So if my program triggers a new webpage to be shown, it still shows the ho

[2016-11-25 10:54] capamat-aaf commented on #348
It's only a "problem" when they keep the mouse at the menu bar and looks ugly.
But indeed, there are no functionality issues
![img_20161125_1149389](https://cloud.githubusercontent.com/assets/21201058/20623030/e56646ae-b305-11e6-89a2-6e6ba7893a60.jpg)

[2016-11-25 11:30] Jailander opened #382 "Calendar Task Droped"
Hi a calendar Task was dropped giving this reason it was added ten minutes in advance
[code]
full log here:
[calendar-log.txt](https://github.com/strands-project/aaf_deployment/files/613121/calendar-log.txt)
Line 1628 for previous message

[2016-11-25 11:37] marc-hanheide commented on #382
@jailander can you tell me what time the task was supposed to start and at what time you added it?

@hawesie, what does a negative time mean here:
[code]

and is this in seconds?

[2016-11-25 11:38] Jailander commented on #382
I added it at 11:02 GMT it was to start at 11:10 GMT

[2016-11-25 11:38] Jailander commented on #382
too short notice?

[2016-11-25 11:43] marc-hanheide commented on #382
no, that should be alright...

[2016-11-25 12:59] hawesie commented on #382
It looks at travel time, which is 598 seconds, and it checks it has enough time to travel to the task location to execute it. The check was done at 1480072020.055082 which is 11:07. It therefore thinks it would be 2 minutes late for the task so I think this is why it was dropped. Have you got `allowed_lateness` set to 0 locally?

[2016-11-25 13:05] hawesie commented on #382
Oops, ignore that.

[2016-11-25 13:26] hawesie commented on #382
(because if it was set to 300 then it shouldn't have been dropped)

[2016-11-25 14:10] hawesie commented on #382
Just for reference: https://github.com/strands-project/strands_executive/blob/indigo-devel/task_executor/scripts/mdp_task_executor.py#L457

[2016-11-25 14:15] marc-hanheide commented on #382
It thinks it'll be 10 minutes (~600 seconds) travel time. Then it was submitted too late. Actually, the calendar only ever presents tasks to the scheduler 15 before the are due, with such long travel times that's problematic. We never really have 10 minutes travel time in the environment. Where does that come from? @jailander can you check the predictions.

[2016-11-25 14:15] hawesie commented on #382
(oops, my bad maths!)

[2016-11-25 14:19] hawesie commented on #382
The travel time comes from the expected time to complete navigation given by the MDP, but we scale it a bit because the MDP underestimates the travel time as it also includes the effects of potential failures.

https://github.com/strands-project/strands_executive/blob/indigo-devel/task_executor/scripts/mdp_task_executor.py#L694

[2016-11-25 14:24] marc-hanheide commented on #382
Wow, that formula looks dangerous... So, a probability of 0.1 is causing an overestimate of 10 times the predicted time??? That probably causes many of our tasks to be dropped. @jailander can you tell me what the probabilities and estimated travel times are for the edges? Also, @hawesie, how is that probability computed from the individual edge probabilities?

[2016-11-25 14:39] Jailander commented on #382
Hi sorry missed this, what do you mean the formula for the probabilites or do you want me to query what the probablities and times where at that time?

[2016-11-25 14:40] marc-hanheide commented on #382
Just curious what our current estimates are for probabilities and times. So I meant the query.

[2016-11-25 14:44] Jailander commented on #382
Yes I thought so
[code]

[2016-11-25 14:45] Jailander commented on #382
this was the query for 11 am, they are ordered by index. They predictions at that time could have been slightly different as we now update the fremen models online, but I wouldn't expect major changes.

[2016-11-25 14:46] marc-hanheide commented on #382
So, some probs are **very** low indeed. @hawesie how are you joining those probabilities? I had the same problem in my tests as well, where all my tasks were dropped because travel times were about an hour...

[2016-11-25 15:03] Jailander commented on #382
I was planning to make a script to have the expected time of a route at different time stamps would this be useful for you @marc-hanheide ?

[2016-11-25 15:08] marc-hanheide commented on #382
The probability for going between charging point and station for instance is 0.01!  And it is predicted to take 24s. Given @hawesie s formula that translates to 2400 seconds if I understand that correctly!! No wonder everything is dropped with this..  right?

[2016-11-25 15:26] hawesie commented on #382
Yes, but a probability of 0.01 means you're expecting to execute that action successfully 1 time in 100, and therefore you will probably need quite a long time to actually reach your location!

The probability in the scaling comes from the optimal solution to the MDP for navigating to the location of the task.

In this case the probability of success is 0.09856153875611785.

I'd suggest that the e

[2016-11-25 16:16] #382 closed

[2016-11-29 11:59] Jailander opened #385 "Some calendar tasks are still being dropped"
Yesterday the robot dropped the infoterminal task at the Charging Sattion and the stop logging server although it was already on the charging station.
here are the logs:
scheduler output:
[nostoplog.txt](https://github.com/strands-project/aaf_deployment/files/618873/nostoplog.txt)
`current_schedule` topic output:
[nostoplog2.txt](https://github.com/strands-project/aaf_deployment/files/618874/nosto

[2016-11-29 12:03] marc-hanheide commented on #385
could you give any indication about the lines to look at?

[2016-11-29 12:05] marc-hanheide commented on #385
and maybe, can we log `task_events` as well? Also, a time when this happened would be tremendeously useful.

[2016-11-29 12:10] Jailander commented on #385
hmm ok I'll log that next time and I really can't find in the scheduler output where its dropping the tasks thought maybe someone else would understand this better. In the topic you can see in the line 1745 where info_task at the ChargingStation disappeared from the schedule and in line 1919 where the logging_server_stop disappeared.

[2016-11-29 12:17] marc-hanheide commented on #385
so, they really are in there very briefly, even though now other tasks gets started? Boo, @hawesie any idea?

[2016-11-29 13:16] hawesie commented on #385
It's really hard to see anything in the logs. It really is task_events that holds most of the information here. Also the executor log seems to be a long time after the event. Line 1745 is at time 1480352404  but the executor is 148036****

[2016-11-30 07:55] capamat-aaf commented on #348
Wow, this is really bizarre
![img_20161130_0828117](https://cloud.githubusercontent.com/assets/21201058/20744116/42d0cf26-b6da-11e6-858b-819233691ccb.jpg)

@marc-hanheide it looks fine in google docs, and so far it was never an urgent issue (I could see it in the control UI if people clicked on it and then correct it)
But if it's like that it'd be inconvenient to go to the robot every time to chec

[2016-11-30 11:48] marc-hanheide commented on #348
OK @capamat-aaf, I now launch a test GUI automatically on the control PC. You can go to http://192.168.200.20:9999 to see it. Note: The facebook news are not displayed as the OAuth token isn't available on this one.

[2016-11-30 13:29] capamat-aaf commented on #348
Thank you very much, it is tough to always find the best size of items and this facilitates my job quite a bit

[2016-12-01 08:51] capamat-aaf commented on #348
@marc-hanheide
Is there a way to decide the order of pictures in the gallery of the info-terminal?
Perhaps naming them alphabetically?

[2016-12-01 09:36] marc-hanheide commented on #348
that's beyond my knowledge... @cdondrup do you recall?

[2016-12-01 10:01] cdondrup commented on #348
Sorry, no idea. This whole media server thing was always black magic to my eyes...

[2016-12-01 10:02] capamat-aaf commented on #348
Ok, I'll try things out
Edit: so apparently it's like this: in the file manager they are sorted alphabetically.
In the sets, it's entropy for the ones in set or not (also when adding them), but regardless of that; the one that gets added first will be displayed on the robot first, etc, which is very good.

[2016-12-01 13:51] Jailander opened #386 "Walking group failed to start"
Today the walking group did not start the log is here
[WG_fail.txt](https://github.com/strands-project/aaf_deployment/files/624728/WG_fail.txt)

error in short:

[code]

[2016-12-01 15:56] cdondrup commented on #386
https://github.com/strands-project/aaf_deployment/pull/384 fixed that. Please update.

But that means it never received a move_base goal... did you restart navigation directly before that?

[2016-12-02 08:18] capamat-aaf commented on #344
For protocol purpose:
We received a letter in the complaint box regarding Henry: on Saturday, someone was rushed in with an emergency and the robot was in the way.
I assume he got stuck, because there was a lot of commotion around him.
Anyway, people tried to move him, which of course only worked partially, as he wasn't in Free Move Mode.
I guess it was bad luck that it happened on the weekend, ot

[2016-12-02 09:08] marc-hanheide commented on #344
:shit: ok I suggest we implement a little button in the GUI that engages free run for 30 second. That carries the risk that people click it by accident but it is still better than this!! We need to make sure the robot is not a risk to anyone or well get into trouble.

[2016-12-02 09:24] capamat-aaf commented on #344
That's neat. There is even a free spot in the menu bar.

[2016-12-02 09:26] marc-hanheide commented on #344
Well... we can't have it only in the info-terminal... It needs to be present in all screens, as the robot might be doing walking group or something else at the moment. So I was planning on a small red cross or something in the top right corner hovering over any interface.

[2016-12-02 09:30] Jailander commented on #344
I think @gestom 's virtual bumper works, it would just need testing (and finding it) I guess. The small red cross makes sense but maybe we would need some training for people to know what it means or a sign on top of the screen?

[2016-12-02 09:30] capamat-aaf commented on #344
True, but if bottom right is also an option, then it could go in the menu bar and thus hopefully also look somewhat better.

[2016-12-02 09:33] cdondrup commented on #344
In the bottom right it would overlay the "back" button in the walking group interface.

Also, what would that button do? Would it trigger the emergency stop or just turn on freerun? If the latter, keep in mind that as soon as the robot receives a new nav goal, it would disengage freerun again.

[2016-12-02 09:37] capamat-aaf commented on #344
Can one pause the new nav goal list for the 30s?
But maybe that is not a problem, if it's pushed out of the way, it can restart routine somewhere else then. (but hopefully not drive to whatever might be still going on)

[2016-12-02 09:40] Jailander commented on #344
I think it should preempt the current nav goal and put the robot in freerun

[2016-12-02 09:43] Jailander commented on #344
maybe a simple version of the nogo stop script? https://github.com/strands-project/strands_navigation/blob/indigo-devel/emergency_behaviours/scripts/nogo_node_stop.py#L222

[2016-12-02 09:58] marc-hanheide commented on #344
What I intended to do:
* A small button directly provided by `strands_webserver` and therefore present on *any* screen, I would make it small and a little transparent but on top of anything else, alternative, we could block some small section at the top or bottom and reduce the size of the main content by let's say 60 pixels in width or height.
* Implement a node that will continuously call the se

[2016-12-02 14:17] capamat-aaf commented on #344
Question regarding Bellbot:
I think @Jailander told me, but I forgot. Why are the buttons & typing in field arranged the way they are?
I think I'd much more used to a field for entering the address that spans over the screen and the two buttons next to the keyboard.

[2016-12-05 10:55] Jailander commented on #385
Hi we had another funny case today: we were asked to send the robot to the charging point for the morning, @cdondrup set a calendar task for info_terminal at `ChargingPoint` and used the `nav_client` to send it there while waiting for the calendar task to become active. When the robot reached `Station`, the `info_terminal` scheduled a new task which led the robot to try and go off to a different `

[2016-12-05 12:51] hawesie commented on #385
Please can you identify the task id or approximate line to look at?

[2016-12-05 13:03] hawesie commented on #385
Looking at the logs it appears that top nav is aborting which is causing policy execution to abort which is causing  the tasks to get dropped. This is what is supposed to happen when aborts get back to the executor. My guess is that the executor tried to trigger navigation whilst the manually triggered navigation was in process, and perhaps this caused the problem.

[2016-12-07 22:16] marc-hanheide commented on #344
@capamat-aaf I did the layout ;-) So, could you provide a mockup... Then I could see if easily possible.

[2016-12-12 09:21] capamat-aaf commented on #344
Thanks! Can you provide a screenshot? I can only find cut out images

[2016-12-13 16:29] Jailander opened #388 "fixed IP for openVPN"

[2016-12-13 16:30] Jailander commented on #388
@marc-hanheide

[2016-12-13 16:30] Jailander opened #389 "Confirmation Dialog for emergency stop"
@marc-hanheide to implement

[2016-12-13 17:21] marc-hanheide commented on #388
This now works. Config is here: https://gist.github.com/marc-hanheide/d754f614012ce11e2568285adc57fb00

So, the control PC has a fixed IP of `192.168.2.128`

[2016-12-13 17:21] #388 closed

[2016-12-15 16:38] marc-hanheide commented on #389
Finally... fixed in https://github.com/strands-project/strands_ui/pull/105/commits/77064b72ffd3267d2973641fa17d6c66a95b978d

This is what it looks like now @capamat-aaf in case you want to tell people:

![screenshot from 2016-12-15 16 34 15](https://cloud.githubusercontent.com/assets/1153084/21232689/6b644f7e-c2e4-11e6-9a43-eed5f1c3e393.png)

Should work fine. @Jailander you just need to update `s

[2016-12-15 16:39] #389 closed

[2016-12-15 16:52] marc-hanheide commented on #389
OK, @Jailander I have deployed this on the robot already and also tested. Works.

[2016-12-20 09:25] capamat-aaf commented on #381
@marc-hanheide @Jailander
Unfortunately, and without a notification of course, they already started working. No carpets or sofas yet, but they are moving the septums. Today. The "entire" day, but I will receive a call when they're done.
The problem is the charging station, I'm completely lost on what to do about this.
Should I bring it to the AAF office and charge him here, if he requires to? But

[2016-12-20 10:49] capamat-aaf commented on #381
![img_20161220_1144107](https://cloud.githubusercontent.com/assets/21201058/21347727/2be260e2-c6aa-11e6-9355-a312ee565724.jpg)

They aren't completely done yet, but the septum is going to stay like this.
On a side note, I think I nailed the approx. location in the first post of this issue...

[2016-12-20 10:52] marc-hanheide commented on #381
Ok, could you try to find new suitable positions for the station and propose them here with photos, please.

[2016-12-20 11:19] capamat-aaf opened #390 "Mass Times"
Disclaimer, apart from the morning mass I have never seen anything going.
EDIT: Veronika doesn't think that any actions have to be taken

General:
Mass: Tuesday and Friday (Saturday, Sundays, and holidays) 10h30
Communion: Friday 16h30
Rosary: every day 13h30
Way of the cross: Thursday 15h00

Xmas ones (apart from Sat&Sun&usual ones)
22.12. Thursday 10h30
26.12 Monday 10h30
27.12. Tuesday cancelle

[2016-12-20 14:10] capamat-aaf commented on #381
![img_20161220_1400113](https://cloud.githubusercontent.com/assets/21201058/21353482/7d141e6c-c6c6-11e6-84df-429b6556df13.jpg)

[2016-12-20 14:51] capamat-aaf commented on #381
![img_20161220_1546266](https://cloud.githubusercontent.com/assets/21201058/21354896/24af8e54-c6cc-11e6-8c99-ae5791cc80c6.jpg)

[2016-12-22 15:04] capamat-aaf opened #391 "Error msg after stuck in WG"
After being stuck & helping during WG: Error message remains until there is a change that necessitates a different screen.

[2016-12-22 15:27] marc-hanheide commented on #391
@bfalacerda how does it work: When `monitored_nav` displays something on the web server, how does it revert to showing the previous screen again? Something seems not to be working there. But I don't quite understand how it is supposed to work...

[2016-12-22 15:30] cdondrup commented on #391
This never worked because AFAIK it changes the `http_root` and therefore the page cannot be found. But not sure, just know it never worked.

[2016-12-22 15:32] marc-hanheide commented on #391
that's 💩

[2016-12-22 15:32] bfalacerda commented on #391
monitored nav loads the root page when help is provided, or when it times-out, so the help screen should always disappear..

it shouldn't be changing the http_root, here is the call i do:

https://github.com/strands-project/strands_recovery_behaviours/blob/hydro-devel/strands_human_help/src/strands_human_help/help_screen.py#L86

[2016-12-22 15:33] bfalacerda commented on #391
is the main page for aaf not index.html?

[2016-12-22 15:36] cdondrup commented on #391
Yes, I found that as well, it assumes that the page it should show is always called `index.html` which doesn't work because the walking group has a lot of different pages it shows using `show_relative_page`. Neither of them is called `index.html` ;)

It has to somehow know what relative page it displayed before the help was required and go back to that.

[2016-12-22 15:41] marc-hanheide commented on #391
right... the `index.html` assumption is most likely very wrong...
A better way for monitored nav would probably be using a modal dialog. There is *some* support for that already in there using the `/strands_webserver/modal_dialog` topic (type `strands_webserver/ModalDlg`), but that just displays and doesn't allow for feedback...

[2016-12-22 15:45] bfalacerda commented on #391
sorry for the ignorance, but I don't know what a modal dialog is... If the webserver publishes the name of the last relative page displayed, or has a service that provides that info, I could update the call to take that into account

[2016-12-22 15:47] cdondrup commented on #391
It might not be a relative page that is currently displayed. Adding a service to the webserver that gets the current pages as an html string which could then be displayed again might work.

But I agree that the dialogue might be the best choice given that adding buttons would be possible.

[2016-12-27 15:28] marc-hanheide commented on #385
OK, I'm still trying to get to the bottom of this :-(

I'm testing only calendar (time-critical) tasks at the moment.

Here's one output:
[code]

The schedule look like this:
[code]

So, the task **had** a duration. And it did not finish itself... But the scheduler preempted it right after it had been started. And this is wothout anything else submitting tasks or anything.

Here the copy from the

[2016-12-27 17:03] marc-hanheide commented on #385
OK, same happened again:
[code]

What could make the task being dropped after 36 seconds? If nothing conflicts with it. And it's `max_duration` is far from being exhausted? @hawesie @bfalacerda ?

[2016-12-28 08:54] marc-hanheide opened #392 "The origin for the sensor at `XXX` is out of map bounds. So, the costmap cannot raytrace for it."
can this have something to do with the costmaps for `human_aware`, @cdondrup?

e.g. http://answers.ros.org/question/9845/move_base-warning-sensor-out-of-bounds/

[2016-12-28 08:57] marc-hanheide commented on #392
I also saw this right before:

[code]

[2016-12-28 08:58] marc-hanheide commented on #392
I'm asking as it only seems to happen for `human_nav` edges, but I can't be sure.

[2016-12-28 09:12] marc-hanheide commented on #392
A restart of navigation solved it, but I don't consider this a solution. Can we please investigate once everybody returned.

[2016-12-28 10:34] marc-hanheide commented on #391
@bfalacerda a modal dialogue is just a dialogue that sits above everything all. I implemented something like this before for the webserver to display a maintenance message. We could change it to offer ROS service that displays the dialogue, and returns the button pressed, e.g. the srv could be:
[code]
with all strings supporting full HTML formatting. Returned would be the `button_id` and the strin

[2016-12-28 12:40] bfalacerda commented on #391
yep, I can do that after the hoidays

[2016-12-30 11:40] marc-hanheide commented on #391
The required functionality is implemented in `strands_webserver` in https://github.com/strands-project/strands_ui/pull/106

[2016-12-30 21:08] hawesie commented on #385
Have you got more of the executor output from before the drop, i.e. from when the addition occurred? There are usually more clues there. In the meantime I'll try to recreate locally.

[2016-12-30 21:16] marc-hanheide commented on #385
Sorry no, it's very verbose. I did scroll back but all I saw was the same "matrix" of policy stuff being repeated every second or so (with varying values).

[2016-12-30 21:24] hawesie commented on #385
Ok, there's definitely something wrong there.

[2016-12-30 21:34] hawesie commented on #385
Ok, @marc-hanheide please try https://github.com/strands-project/strands_executive/pull/295

[2016-12-30 21:35] marc-hanheide commented on #385
Cheers

[2017-01-01 16:55] marc-hanheide commented on #390
Good to know... But if Veronika is not too concerned, we leave it for now.

[2017-01-01 16:55] #390 closed

[2017-01-01 16:57] marc-hanheide commented on #385
looking good

[2017-01-01 16:57] #385 closed

[2017-01-03 11:55] marc-hanheide commented on #392
I had this one again... Here's the full log from tmux: https://gist.github.com/marc-hanheide/1eca01323b57352cbfae77efa0786b71

[2017-01-03 22:35] cdondrup commented on #392
The current human-aware navigation does not change any costmap parameters but just the min and max speeds for translation and rotation. I don't think that should cause this error but am not sure. I still have no idea how to solve the issue with the dynamic reconfigure not working. I could just catch the `AttributeError` and retry as a first step.

[2017-01-04 09:25] capamat-aaf commented on #344
I'm going to use this issue to write down some of the complaints:
- Trouble with e-wheelchairs: evasion was too spontaneous (n=2);
   • one wheelchairs apparently had a headrest in form of a long metal bar, he then bumped against it and got a bit stuck;
- People mentioned a general high spontaneity when evading (n=a couple of times)
- Leaving too quickly when people are still near him (n=a couple

[2017-01-05 16:48] marc-hanheide commented on #344
well... @cdondrup should read this as motivation ;-)
Some things there are just not possible:
* a long metal bar is futile, no chance to see
* what do they mean with "spontaneity"?
* Leaving when people are near... Yes, not to be changed. It notices when people use (click) and won't wander off then, but if they just linger around, we don't model that.
* The getting close from behind is a well-know

[2017-01-09 07:18] capamat-aaf commented on #344
Yes, I'm also not quite sure how to approach the complaints.
I still hear about the toes incident and that happened some time ago...

By spontaneity I mean too last minute or too close to them; too sudden.

I don't know if there is something that can be done for these two months; if a bigger halt-radius (?) or reducing velocity a bit would be doable or desired

[2017-01-09 15:20] capamat-aaf commented on #347
The Monday Walking Group has been moved to Tuesday, due to many cancellations & work schedule changes

[2017-01-09 15:37] capamat-aaf commented on #347
Update on our study plans:
We're evaluating a similar effect to the WG, but for residents who have to spend time with med students during their (social) training.
This week we're evaluating "walking/rolling" through the facility without Henry and next week with him.
That means that next week, we need Henry and thus the usual WG won't take place.
And for this week, I won't be able to supervise the

[2017-01-09 17:14] cdondrup commented on #347
Please, just make sure that the walking group is either a calendar event for the time slot you want it to happen or that someone is there to request it as an on-demand task.

[2017-01-10 12:44] capamat-aaf commented on #381
We have a date for the carpet's arrival.
Next Monday, the 16.01., it is estimated that it will take the entire day.
How do we proceed next?

Additionally, from Tuesday 17th to Thursday 19th workers will modify things inside the cafeteria and they might leave tools and other thing in the hall. I will talk to them on that day and see, if they'll block the entire path and Henry can't pass or not.

[2017-01-27 08:01] capamat-aaf commented on #344
![unnamed](https://cloud.githubusercontent.com/assets/21201058/22364269/8c302216-e470-11e6-8d9f-9c5b9c27280c.jpg)

This is a photo Veronika received from one of the directors.
I don't know the content but it seem that he simply didn't stop.

[2017-01-27 08:28] marc-hanheide commented on #344
OK, hard to tell the full story from just this photo. Clearly, the robot would not see the foot, but the leg. So, yes, this is a situation that can happen. Maybe, @cdondrup, it's time to put your code to use now? Or, with the current Human-aware navigation to be much more conservative and simply not move at all in the presence of humans... it will, however, cause a deterioration of the level of se

[2017-01-27 08:36] cdondrup commented on #344
I didn't have time to do anything, yet. But I planned on starting to integrate it beginning of February.

Currently, the human-aware navigation works in a way that there is a cone in front of the robot where it considers humans and you can define a min distance at which it stops and a max distance at which it starts to slow down. Can mess with those as well.

[2017-01-27 08:54] capamat-aaf commented on #344
Thank you for replying.
Is there anything that can be done so that I can pacify the spirits? Have him roam a bit slower or anything else?
It is indeed though to assess the situation, if I don't see it happen.
What I personally noticed once was, and perhaps I didn't explain it too well, that there are "problems" when he isn't going straight.
When approaching a node, we will at some point turn to it

[2017-01-30 07:12] capamat-aaf commented on #381
There are electricians checking the lights and we were asked for Henry to be careful or not go their way at all.  And supposedly they'll be here the entire week, in different areas of the house.

[2017-01-30 09:06] capamat-aaf commented on #344
I talked to the person who observed the incident above and took the picture.
He said that Henry would not stop.
I assume that Henry thought he wouldn't have to, since he thought he can pass between the person and the wall and then obviously not noticed the foot.

In cases like this, where he decides to pass through intro a narrow path between people and other people/objects/walls, would it be poss

[2017-01-30 09:12] marc-hanheide commented on #344
We can (as @cdondrup said) increase the "carefulness" around people. It would mean, however, that it  won't be able to accomplish its task for often. @cdondrup any advice what to change?

[2017-01-30 09:41] cdondrup commented on #344
The config parameters can be found here: https://github.com/strands-project/strands_hri/blob/hydro-devel/strands_human_aware_navigation/cfg/HumanAwareNavigation.cfg

You can change the `detection_angle` which currently is at 45 degrees whish means 22.5 degrees to either side of the front of the robot. If increased it will also take detection into account that are not directly in front of it.

If y

[2017-01-30 09:54] capamat-aaf commented on #344
Thank you @cdondrup
It seems that there is some leeway to try things out. Perhaps we won't have to decrease the speed in this case and potentially destroy data @marc-hanheide @Jailander @gestom

[2017-01-30 10:32] Jailander commented on #344
@cdondrup silly question when you said this

you meant increase?

[2017-01-30 10:36] cdondrup commented on #344
Of course I did. Isn't that obvious ;)

Thanks for pointing that out. I meant increase of course.

[2017-01-30 10:37] marc-hanheide commented on #344
Do you will comfortable to make some recommendations for new numbers then?

[2017-01-31 08:39] cdondrup commented on #344
Actually, I set it quite low during the walking group, e.g. `min_dist = 0` so it would never stop to prevent frustrating the therapists. It entirely depends you. I wouldn't necessarily change the `max_dist` but you can try increasing the `min_dist` to something like 2 metres (if it isn't there already) and the `detection_angle` to 90 degrees. If that is too conservative and the robot doesn't reach

[2017-02-03 07:42] capamat-aaf commented on #347
Hello,
Some observations from the WG.

• I had the impression that the waypoint at "Frisoer" is in the middle of the hall? Nonetheless, that is a hotspot for problems, also because there are a lot of people present. Could I see a map of where it is? Maybe I can come up with a better location; if it is easy to move of course!
• On his way back, after passing our office, he at some point stops and d

[2017-02-03 08:36] cdondrup commented on #347
* Maybe Jaime can post the current map. The main reason for the Frisoer point to be there is that the robot has to go through it. Also, it only asks if you want to continue or rest. Once you press either it will go somewhere else. If this position is not good, please move the waypoint. I don't want to run tests again with a new waypoint ;)
* Regarding the "Weiter", please see the first post in thi

[2017-02-03 09:00] capamat-aaf commented on #347
Thank you, I see that it was requested by the therapist (at some point).
Whatever is possible. There aren't that many walks left, but if somethings are easy to do, it might impprove the experience a bit.
They do rest there relatively often...

[2017-02-03 09:22] cdondrup commented on #347
Since the walking group uses its own topological map, @Jailander should be able to just move the Frisoer waypoint to (almost) wherever you want. Please liaise with him to do that.

Regarding the wait, if it is confusing and annoying for the therapists/patients, it is very easy to remove that functionality. Just let me know.

[2017-02-08 07:23] capamat-aaf commented on #348
@marc-hanheide
Some minor issues/questions/"Schönheitsfehler":
• the emergency stop overlaps with "Übermorgen" on weather. Could the content be moved down a bit? There is plenty of space until the menu bar
• and I finally found a (n incomplete) bellbot screenshot
the "address" field could be the bigger one and on top in my opinion, instead of delete entry
(I think the upper one is what it looks li

[2017-02-08 09:14] capamat-aaf opened #394 "get Henry to TU"
Hello,

Officially the AAF deployment ends on the 28.02. and I guess Wernry has to go back to the TU.
So I wanted to inquire about transportation.

• Related question regarding the review meeting in May: will he be brought back to make a cameo appearance?
• I was also going to ask, since the HB will host a technology event on the 28.03., if Henry could make an appearance to that as well.
In these

[2017-02-08 09:59] marc-hanheide commented on #394
We should be thinking about the date we want to end the deployment. As it is relatively low maintenance at the moment we may want to extend this? @hawesie @jailander @mzillich? Also there is HRI conference in Vienna 6-9 March, it could be an opportunity to invite interested parties over as an unofficial demo?

[2017-02-08 11:22] Jailander commented on #394
I really have no problem extending it, and I had already suggested HRI could be an opportunity to show off so its a +1 from me.

[2017-02-08 11:43] hawesie commented on #394
Fine from me too.

[2017-02-09 07:38] capamat-aaf commented on #394
Talked to Veronika and she said it would be fine here as well.
Would still be good to know if/when the TU @mzillich @kirumang wants him back.

[2017-02-09 08:33] capamat-aaf commented on #348
I just had a look at the bellbot screen; the "los gehen" is above and as big as "ziel löschen", but that doesn't change the suggestion.

[2017-02-10 16:55] mzillich commented on #394
Ok also for us. We are out of space anyway :P

[2017-02-14 11:59] capamat-aaf commented on #394
@gestom thanks for your mail, is it ok if we move the conversation here is well?
so that the TU guys also know the schedule, in case we decide on something.

I'm waiting for an answer from Veronika; she said she's going to talk to the board on Wernry also still running until the end of March.
We do have one director, who eg is still waiting to finalise the changes of the corner of his charging sta

[2017-02-14 12:11] gestom commented on #394
Hi all,

I was wondering about the finishing date of the AAF deployment, because I wanted to know how much time there is to test other info-terminal strategies.

In particular, I wanted to run some round robin or randomized strategy at the deployment end to test if the number of interactions decreased due to neglecting the spatio-temporal distribution of interactions. Having these tests at the end

[2017-02-14 15:41] marc-hanheide commented on #394
I would be in favour of running longer (i.e. until the end of March), to get most out of this. Please @capamat-aaf check locally and comment here on what is deemed possible.

[2017-02-15 09:04] mzillich commented on #394
Agree, let's make the most of the deployment.

[2017-08-04 09:21] #394 closed

[2017-08-04 09:21] #372 closed

[2017-08-04 09:22] #357 closed

[2017-08-04 09:22] #355 closed

[2017-08-04 09:22] #351 closed

[2017-08-04 09:22] #348 closed

[2018-01-24 09:17] #381 closed

[2018-01-24 09:17] #352 closed

[2018-01-24 09:17] #347 closed

[2018-01-24 09:17] #346 closed