[2015-02-17 15:42] marc-hanheide opened #6 "[aaf_waypoint_sounds] make aaf_waypoint_sounds package depend on pygame_managed_player"
This should be using https://github.com/strands-project/strands_ui/tree/hydro-devel/pygame_managed_player for its playing

[2015-02-17 19:27] cdondrup commented on #6
Please remember to check the install targets as well: https://github.com/strands-project/strands_ui/pull/66#issuecomment-74734392

[2015-02-17 19:31] cdondrup opened #7 "[aaf_walking_group] Fixing arrows indicating the direction"
This does not work very reliable at the moment. Also,
- [ ] please use different types of arrows. The arrows on a traffic light might be a good idea. But the ones currently used look too much like buttons
- [ ] tidy up the web page the buttons are on, e.g. no background image.

[2015-02-17 19:45] cdondrup opened #8 "[aaf_walking_group] Make state machine preemptable"
Even though the task itself should never be preempted, it should be preemptable in any state to prevent deadlocks from happening. Also necessary for the guide to preempt the task using the interface.

[2015-02-17 19:47] cdondrup opened #9 "[aaf_walking_group] Add ability of preempting walking group task from interface"
This would have to be integrated in the guide interface after #8 has been implemented.

[2015-02-17 19:48] cdondrup opened #10 "[aaf_walking_group] Use different image for continue button"
The button to make the robot move again shouldn't be the start button but maybe a green figure like on a traffic light.

[2015-02-17 19:50] cdondrup opened #11 "[aaf_walking_group] Find convenient way of adding images and videos to entrainment"
Maybe like for the info terminal using the datacentre and a staff webinterface.

[2015-02-17 20:00] cdondrup opened #12 "[info_terminal] Fails to install"
[code]

[2015-02-18 15:05] #12 closed

[2015-02-18 15:48] cburbridge opened #15 "[info-terminal] Create deployable system."
These are the info-terminal team members

- Akshaya Thippur @akshayats (KTH)
- Bruno Lacerda @bfalacerda (BHAM)
- Lenka Mudrova @mudrole1 (BHAM)
- Eris Chinellato @eris-ch (Leeds)
- Tom Krajnik @gestom (Lincoln)
- Umer Rafi @urafi  (RWTH)
- Michael Zillich @mzillich (TUW)
- Chris Burbridge @cburbridge (BHAM)

There are still quite a few things to be done in order to be able to deploy the info-term

[2015-02-19 16:14] mzillich commented on #15
Umer had a prototype working, still in matlab. It worked ok for the examples he tested. I will ping him on progress.

[2015-02-19 16:22] mzillich commented on #15
Thanks for the list! Can we attach names to these tasks?

[2015-02-21 15:15] marc-hanheide commented on #6
Isn't this done by now?

[2015-02-21 15:18] nilsbore commented on #6
No, I will sink my teeth into this after the IROS deadline.

[2015-02-21 15:22] marc-hanheide commented on #6
Sorry, was confused with all the audio packages that are about. Thanks, @nilsbore

[2015-02-22 14:02] marc-hanheide opened #16 "interaction camera for AAF deployment"
We need to mount a webcam (and connect it to werner-right-cortex) to record people interacting with Henry. This cannot run continuously, but only when we are at permitted nodes. Hence a dedicated node that monitors the `/current_node` topic and switches recording on or off needs to be developed. Rather then stopping the recording, we should switch it to record a "black" image, by using [mux](http:

[2015-02-22 14:03] marc-hanheide commented on #16
assigned to @mzillich to make sure the camera is obtained and mounted. Once this is done, I look for volunteers to implement the component (or I'll do it myself). I seek input from @nilsbore (on data_compression), and @cdondrup, @yianni, and @denisehe for the general implementation of this functionality.

[2015-02-22 14:06] marc-hanheide opened #17 "Identify entities to log during deployment"
We need to decide what we want to log (and how) during the deployment. I suggest a specific component to be developed that logs into mongodb everything AAF deems relevant. Hence we need to know what we want to log, and what research questions we want to answer. Let's use this issue to collect what we want to log, by editing or commenting on this entry. @denisehe is the person to tell us.

The idea

[2015-02-22 14:07] marc-hanheide commented on #17
I tag @mudrole1 @hawesie @yianni @Jailander @cburbridge @ToMadoRe @denisehe @cdondrup @nilsbore @mzillich as they are the AAF core team and should follow this discussion.

[2015-02-22 14:08] marc-hanheide commented on #17
assigned to @denisehe to share her view on what to log first

[2015-02-22 14:14] marc-hanheide opened #18 "AAF routine and scheduler"
While we have a number of different functionalities implements, we need to implement a proper routine for the AAF deployment, including scheduled and on-demand task. The scheduler needs to be able to handle non-interruptible and interruptible tasks.
@denisehe should start by providing an informal description of the expected routine, describing what Henry should be doing when, including time and we

[2015-02-22 14:16] marc-hanheide opened #19 "provide a CSS for AAF"
The idea is that all interfaces used at AAF load a shared CSS file that follows the main guidelines for interfaces for the elderly (contrast, fonts, etc.)

[2015-02-22 14:16] marc-hanheide commented on #19
This also involves refactoring/changing the existing interfaces. The CSS shall be deployed via strands_ui and based on bootstrap.

[2015-02-22 14:28] marc-hanheide opened #20 "staff interface"
We need a staff interface that members of staff at AAF at the reception and in @denisehe office will be using. Functionality envisioned includes:

- [ ] An entry page with a dashboard view showing battery level, map with current position, last voice output, currently executed task, pending tasks, contact details for strands admin to get in touch, and buttons to choose from the following sub functi

[2015-02-22 14:30] marc-hanheide commented on #20
we need a volunteer to develop this top-level interface. Maybe someone from info-terminal group?

[2015-02-22 14:42] marc-hanheide commented on #15
Quite a number of these things on the list are related to #20 so I feel the info_terminal group should be looking into the staff interface as well.

For the gesture detection, we need a working prototype ASAP as I feel this is a critical functionality and we need to assess its reliability to be able to decide upon its inclusion in the deployed system.

[2015-02-22 14:43] marc-hanheide commented on #11
indeed, another thing for #20 I'd say.

[2015-02-22 14:47] marc-hanheide opened #21 "staff training"
We shall educate and empower members of staff at AAF, e.g. teach them

* how to use the admin interface
* about the implemented the robot's routine and abilities
* how to push the robot out of the way (tell them about emergency buttons) in case of emergency (talk to health and safety representation at AAF, @denisehe?)
* about the project's background and data recorded (and NOT recorded)
* how to r

[2015-02-22 15:22] hawesie commented on #16
I believe @kunzel has some code for detecting when a robot is in a region.

[2015-02-22 19:33] cdondrup commented on #17
Using the standard people perception with the dedicated logging component stores x y coordinates of the person, a uuid, the current robot pose, and the timestamps for each message. If this is enough we can just run that.
Storing the robot pose might be a bit of an overhead in case it is logged constantly anyway. The benefit is that this puts it all in one message and makes it very easy to parse.

[2015-02-22 19:36] marc-hanheide commented on #17
That's a good start. It does go into mongodb, right? For later, we'd need annotations with a start and end date of a person by ID. That can of course be created from your data, so this should be sufficient as far as persons are concerned.  BTW, we agree that everything is time-logged using rostime, yes?

[2015-02-22 19:44] cdondrup commented on #20
Also, uploading images, videos, and maybe music to the datacentre to be displayed and played during the walking group and via the info terminal.

Regarding the on demand tasks, do we need the walking group as one? As far as I understand this will be fixed events. But then again, as we have seen they might be combined into one or be cancelled.  So maybe having it as an on demand task is not a bad i

[2015-02-22 19:48] marc-hanheide commented on #20
I believe, we need a bit more than just interruptible or non-interruptible in the scheduler. Probably more something with priorities, e.g. if an on-demand with higher prio comes in, a lower on-demand task will still be interrupted. I think this is needed, to e.g. implement the "emergency" or "maintenance" behaviour. Or, alternatively (probably better), provide a dedicated means to stop the current

[2015-02-22 19:48] cdondrup commented on #17
Everything goes into mongodb, yes.
I guess rostime is the cheapest way of doing this since most messages have header any way. Isn't ros using the system time? What would be the alternative?

[2015-02-22 19:49] cdondrup commented on #11
I agree. I'll close this in favour of an integrated system for all the interfaces.

[2015-02-22 19:49] #11 closed

[2015-02-22 19:52] marc-hanheide commented on #17
rostime is system time AFAIK, but I have seen logs, where people log the time since start or likewise. We must make sure everything is synchronised.
We might even consider "watermarking" the videos we record from head camera etc to include the rostime, so we can align them. At least using `-timestamp` for ffmpeg set to the correct time whenever we start recording something (and using it in the fil

[2015-02-22 19:52] cdondrup commented on #21
Regarding the emergency buttons, they are not reachable with the covers on. Is the key easily accessible on werner or is the second side PC mounted like in Linda?
Can we use the virtual bumper to switch to freerun when pulling or pushing the robot?

[2015-02-22 20:11] marc-hanheide commented on #21
good question...

[2015-02-22 20:37] kunzel commented on #17
Regarding the detected humans, we plan to transform a sequence of poses for one person into a trajectory data structure (https://github.com/strands-project/strands_perception_people/blob/indigo-devel/human_trajectory/msg/Trajectory.msg). It works already offline. It think, @ferdianjovan will also look into an online version. @cdondrup @marc-hanheide Please let us know if you would like to add anyt

[2015-02-22 20:45] marc-hanheide commented on #17
Yes, we want that :+1:

[2015-02-22 20:48] cdondrup commented on #17
Looks exactly like what we want.

[2015-02-22 20:48] marc-hanheide opened #22 "watchdogs and cron jobs on Henry"
In order to have a safe and reliable system, we need a few scripts (that we ran on Linda) to ported to Henry. There are:

- [ ] Battery watchdog (sending emails and shutting down as a last resort)
- [ ] Connection watchdog
- [ ] System responsiveness watchdog

I think @Jailander and @gestom are the experts. Can you please advice where to find the scripts and how to use them?

[2015-02-22 20:51] gatsoulis commented on #20
It would also be nice to have unix-like "nice/renice" in order to change
the priorities on the fly.

Marc Hanheide wrote:

[2015-02-22 20:52] marc-hanheide opened #23 "network setup AAF"
A few issues still need sorting:

- [x] disconnections: The Wifi sometimes disconnects and won't reconnect. *Solution:* Don't use network-manager but static settings or use `nmcli` to connect if not connected every minute via cron job
- [ ] routing: Currently, the control PC cannot reach the side PCs due to NAT. This needs to be sorted so we can have full connectivity between the machines. Alterna

[2015-02-22 20:54] marc-hanheide commented on #19
I assigned Yiannis as I felt he had some expertise in this, if not, suggest somebody else, please.

[2015-02-22 20:55] marc-hanheide commented on #20
I think that would be too much for now. All we need is the ability to control what interrupts what.

[2015-02-22 21:01] gatsoulis commented on #19
I assume we are talking about a simple .css file, right? If that's the case then it's fine, I have done .css files in the past, not something really complex. Still, I would need some help from, I guess, you @marc-hanheide with the strands_ui integration and on how to test things given we have no robot and not sure when we get it back. Also from @denisehe as Denise will decide on these properties.

[2015-02-22 21:02] marc-hanheide commented on #19
sure, you be assisted! I just want some people to have stuff on their agenda :wink:

[2015-02-22 21:06] gatsoulis commented on #20
It was something that we discussed in Vienna, in the lines that tasks can be interruptible/non-interruptible at different times depending on which state they currently are, and hence they could change their status/priority. @hawesie is the man to give his insight though on this.

[2015-02-22 21:24] hawesie commented on #22
This should be for all systems, not just AAF.

[2015-02-22 21:25] hawesie commented on #23
Also relevant for G4S @cburbridge

[2015-02-23 07:58] mzillich commented on #15
@urafi How is the stop gesture recognition coming along? When do you think we can have a ROS component for that? Does not have to be perfect at this point, let's take what we have and see how well it integrates into the scenario.

[2015-02-23 08:10] marc-hanheide commented on #15
I suggest to put it into the activity_recognition repo and open a dedicated issue there to discuss its integration.

[2015-02-23 08:18] mzillich commented on #21
The key is not obstructed by the second/third PC. It is reachable as intended.

[2015-02-23 08:21] mzillich commented on #15
I will put it in strands_perception_people, where also the upper body detector resides.

[2015-02-23 08:26] denisehe commented on #16
Hey,
in regard of the additional camera it would be important for us that it is facing towards Henry's back and thus records users while they interact with the robot.

The camera should get the head (most important) and eventually torso of the user. Futhermore it would be nice to see if it is just one user or if there are more people interacting with the robot. Thus iv the camera could sourveille

[2015-02-23 08:27] denisehe commented on #17
Hey,

I think we can discuss some details during our todays hangouts meeting!

[2015-02-23 08:28] denisehe commented on #18
okay I wanted to discuss this topic during todays hangouts anyway! :-)

[2015-02-23 08:31] denisehe commented on #21
yes - I think at first it is important that we from our core team knwo how things work and we can transfere this knowlege to further key persons at our site!

[2015-02-23 08:40] marc-hanheide commented on #21
Agreed, we just need to teach a few multipliers...

[2015-02-23 08:43] marc-hanheide commented on #17
I think we'd need a written schedule. But that could come out of today's hangout. An idea for @hawesie  why not use Google calendar to"program" it?

[2015-02-23 08:45] denisehe commented on #21
as many studies show, elderlies do learn best when tought by others or reading about things rather than via trial and error => we talked about teaching some elderlies/residents how to use the robot so that they can then mediate between potential users and the robot.

[2015-02-23 08:55] marc-hanheide opened #24 "simulation of AAF"
We need a simulation environment of AAF to test everything properly. Maybe worthwhile asking the morse mailing list (or @kunzel) if we can easily turn the SLAM map into a blender model.

[2015-02-23 09:12] kunzel commented on #24
So far we have modelled everything manually. Maybe there are some Blender tricks to do that (ie extrude a 3D shape from a 2D map). However, I am not aware of them, sorry.

[2015-02-23 09:23] marc-hanheide opened #25 "human-aware navigation at AAF"
the local navigation needs to be 100% bullet proof in the presence humans. So this is about finding suitable parameters.

[2015-02-23 09:26] hawesie commented on #25
Also, true for security. Oddly this was the first thing I thought about when I woke up this morning. We should find that bullet-proof set of parameters and run them everywhere. My initial suggestion for reliability is a slow robot.

[2015-02-23 09:48] mudrole1 commented on #18
Drafting of the routine should be straightforward, as we will have the actions for the tasks.

[2015-02-23 09:51] marc-hanheide commented on #20
get @cburbridge involved :smile:

[2015-02-23 10:04] mudrole1 commented on #20
Or I am the woman to give the insight :D
I am definitely going to add priorities to tasks, it should be fairy easy to modify existing system, as the optimization already takes into account some weights. However, you are talking about interrupting when a task with higher priority comes in.  I think we should avoid interrupting as much as we can :)

[2015-02-23 10:13] marc-hanheide commented on #16
@nilsbore could you provide an estimate on the amount of data to expect and how to use it, please

[2015-02-23 10:28] marc-hanheide commented on #21
that would be great if you think that's working

[2015-02-23 10:38] marc-hanheide commented on #15
OK, fine by me, let the repo maintainer @cdondrup have his say on this.

[2015-02-23 10:47] cdondrup commented on #15
Since the head orientation is there as well, I think we can put it there. I will add some remarks in the issue.

[2015-02-23 10:49] cdondrup commented on #25
By parameters you mean tweaking the local planner? No extra behaviour when crossing edges, right? Or should it be a dedicated node that sets these parameters?

[2015-02-23 10:52] marc-hanheide commented on #25
I'm not sure about the best way here to be honest. I think most importantly it's about the right parameters and costmaps to be used. And making human aware navigation to change e.g. the rotation parameters and available recovery behaviours. E.g. when being stuck when humans are present a different recovery is suitable then in their absence.

[2015-02-23 10:54] marc-hanheide commented on #24
Is it worthwhile asking on blender/Morse mailing lists?

[2015-02-23 11:04] cdondrup commented on #25
Good point, the thing about restricting the rotation is, that the planner then goes straight and drives into obstacles because it does not seem to be aware of the restrictions of the rotational speed. At least this is what we observed at last years deployment and which is why I disabled the restriction of the rotational speed.
Maybe I was missing something, I will have a look again.

Regarding the

[2015-02-23 11:05] cburbridge commented on #24
@mudrole1, you created a script to add tables to the morse scene. Could this easily be adapted to simply fixed size boxes on every occupied pixel in a map image? Would there be an issue with the number of items in the scene with this simple approach?

[2015-02-23 11:07] marc-hanheide commented on #18
I think we should use the [Google Python API](https://developers.google.com/api-client-library/python/start/get_started) to be able to generate a routine from a Google Calendar. What does @hawesie think about this?

[2015-02-23 11:10] Jailander commented on #24
Hi I checked into it briefly after we talked about it in Vienna, I found nothing on doing it automatically, however, apparently it would be possible to create a 3D model automatically in other file formats like ply and import into blender, but that was only a ten minutes search on my phone so I am not sure at all about it since I'm not a blender expert.

I also think @cburbridge would be easy to i

[2015-02-23 11:50] marc-hanheide commented on #24
check https://www.youtube.com/watch?v=ows2QTiMRPg and http://blenderartists.org/forum/archive/index.php/t-193092.html ?

[2015-02-23 11:51] marc-hanheide commented on #24
I think the idea to vectorise using inkscape, then "clean it" in inkscape and then import into blender looks promising.

[2015-02-23 11:52] marc-hanheide commented on #24
@Jailander could you provide a simulation launch file in this repo to start everything up to strands_navigation?

[2015-02-23 11:54] Jailander commented on #24
with which environment? mht?

[2015-02-23 11:54] marc-hanheide commented on #24
AAF of course ;-)

[2015-02-23 11:56] Jailander commented on #24
Haha, Ok, I'll do so (as soon as I can), still watching the turtorial, but looks promising

[2015-02-23 12:02] bfalacerda commented on #25
There are different ways of doing this:
1. If you want a very different recovery behaviour, use the [`/monitored_navigation/set_nav_recovery`](https://github.com/strands-project/strands_navigation/blob/topological-testing/strands_navigation_msgs/srv/SetNavRecovery.srv) and set a new smach recovery state machine with the new logic for that particular recovery behaviour. This service can only be use

[2015-02-23 12:09] cdondrup commented on #25
Cancelling the goal, changing the recovery behaviours, and resending it sounds like a bit of a hack. I do like the second solution better as well but that would mean that
- every recovery behaviour would have to offer such a parameter
- or the mon nav should offer a parameter where one could set and get the activated behaviours as a list.

I think I would prefer the latter over having to call ever

[2015-02-23 12:12] cdondrup commented on #25
Also, it would be great to add recovery behaviours to the config file stating that they should start as `inactive` and can only be activated via dynamic reconfigure. This way we could have custom ones that we don't have to add dynamically but just turn on when we need them. This would mean a list of all available behaviours via a parameter would also be necessary.

Would this be possible?

[2015-02-23 12:16] bfalacerda commented on #25
It is possible, but not implemented right now. I could get some interfaces for that but only next week. I'll open a ticket in strands_navigation and assign myself.

The main issue right now is that what we are referring to as recovery behaviours are in fact smach states in the nav recovery state machine, so they don't really have any kind of pre-defined interface (only the overall recovery state m

[2015-02-23 12:43] hawesie commented on #18
I think it's a very cool idea, and should be easy enough to connect to what's there already, but I have zero spare capacity to implement it.

[2015-02-23 12:45] marc-hanheide commented on #18
I'll have a quick look into in to assess the complexity.

[2015-02-23 12:58] nilsbore commented on #16
If we assume that the images are 640x480 (same as Kinect) then ROS image compression (I forget if it's png or jpeg) would give us about 1.5 GB at 1 FPS for 12h. The same number for theora image transport would be about 100 MB. Both formats are lossy with theora being worse. In this file: `https://github.com/strands-project/data_compression/blob/hydro-devel/mongodb_openni_compression/launch/record.

[2015-02-23 13:19] marc-hanheide commented on #18
It'll be pretty straight forward using the `icalendar` Python package and have it parse the exported iCal format from gcal. That also makes it more flexible, as any iCal source could be used.

[2015-02-23 13:19] marc-hanheide commented on #18
I'll take this up.

[2015-02-23 13:23] marc-hanheide commented on #18
see https://github.com/strands-project/strands_executive/issues/130

[2015-02-23 14:09] denisehe opened #26 "Legibility of Robot Behavior"
Hey,

as I could not follow your answers during todays hangout calls => is somebody working on reobot legibility by now?
=> making the robots behavior more legibel?

Important issues would be:

Henry indicating to go around a cornder
Henry going backwards (alermsound)
Henry announcing to leave a certain place or ends a certain task (f.e. HRI takes place and another tasks with higher priority inter

[2015-02-23 14:12] denisehe commented on #15
Hey,

so how is it planned: it is you who are providing the interface layouts and we provide you with pictures, music etc. that you then fill in bevore the deployment or is it that you provide the interface and layout and we can add content?

[2015-02-23 14:19] denisehe commented on #15
@replacing card symbol to start the infoterminal: as michi and I discussed during the winterschool, maybe looking and waving at the robot (both taken together) would make a natural as well as a distinct sign for the robot to start displaying the info terminal.

[2015-02-23 14:21] cburbridge commented on #15
There are 3 elements of the info-terminal that you will be able to edit during the deployment:
- the cafeteria menu
- the current  events
- the photo album

The layout of each page will be fixed, with just the content being editable. Editing/adding content will be from a web page that you can view on your desktop machine. The photo album editor (implemented already) allows you to upload new photos

[2015-02-23 14:26] denisehe commented on #15
okay! that sounds great!

and as we also were talking about displaying news informations on henry:

would it be possible to get a link to www.orf.at    - one of austrias main news pages.

Could we restrict the internet function to just that side, so that users can not surfe somewhere else?
Could you test if Henry's display shows that side properly and if it is "easy" to use via the touchscreen or

[2015-02-23 14:30] mzillich commented on #15
Umer is working on the waving gesture. So the plan is to replace the cards.

[2015-02-23 14:31] denisehe commented on #15
(Y) cool!

[2015-02-23 14:34] denisehe commented on #15
I sent out one of our lunch menues but via email as github did not accept a pdf attachment

[2015-02-23 14:38] denisehe opened #27 "Pre Testing Interface Solutions on Henry as long as he is still @AAF"
Dear all,

as we have our media deployment with Henry this week - is it possible to on some point test the interfaces (just in their actual status) - this would be a good options to also give feedback, inputs etc from our side bevore everything gets really fixed and ready for the predeployment.

[2015-02-23 17:48] mudrole1 commented on #24
@cburbridge if we have a list of coordinates, we can place simple box there. But I am worried about the correct dimensions of the environment (it must be correct in meters to fit model of the robot). However, I am worried about amount of objects.

Do we have a map of AAF? Or ideally, technical draw with dimensions. It depends how is it complicated, but should be fairy easy and take me 4-8h.

[2015-02-23 19:19] cburbridge commented on #24
The dimensions are available in the YAML file associated with each map image. However, I think the method in the link @marc-hanheide sent is the way to go, so no worries, once I get a G4S map I'll have a go at it.

[2015-02-23 22:55] Jailander commented on #24
Hi I have the map for AAF I'll test Marc Method tomorrow but it looks promising if you want to give a go I leave it in these links:

https://drive.google.com/file/d/0B2bBn3sIAgYRdEY1VlhZcG5sN3c/view?usp=sharing
https://drive.google.com/file/d/0B2bBn3sIAgYRcVhBUGFsRkNkNHM/view?usp=sharing

[2015-02-24 11:09] marc-hanheide opened #28 "[info-terminal] RSS reader"
@denisehe has suggested that the headline news from Vienna, Austria, and the World should be displayed. This IMO should be done by getting the RSS feed from ORF:
* http://rss.orf.at/news.xml
* http://rss.orf.at/oesterreich.xml
* http://rss.orf.at/wien.xml

[2015-02-24 11:11] Jailander commented on #24
@denisehe Do you think it would be possible to get a version of this map on a better quality (the room/office walls are very diffuse) and without annotations on it?
![y2_map](https://cloud.githubusercontent.com/assets/5035967/6348194/a68d1428-bc15-11e4-9888-d2cb5a38f16d.png)

[2015-02-24 11:12] marc-hanheide commented on #15
Here's a link to the [menu](https://lcas.lincoln.ac.uk/owncloud/public.php?service=files&t=2122cefe2610be979208801242dcf16b)

[2015-02-24 11:18] marc-hanheide commented on #27
Let's wait until @cburbridge and @yianni have a first version that's worth looking at.

[2015-02-24 11:18] marc-hanheide commented on #26
@cdondrup might have something to say on this?

[2015-02-24 11:23] marc-hanheide opened #29 "[info-terminal] stop on touch"
The idea (conveyed by @denisehe)  is that Henry should also stop (only when in info terminal patrol mode) not only when being waved at but also when somebody touches the display. So effectively this should have the same effect as waving at Henry, when somebody touches him while moving or standing. E.g. look at http://stackoverflow.com/questions/8054429/how-do-i-handle-a-click-anywhere-in-the-page-

[2015-02-24 11:27] marc-hanheide commented on #26
We have a student working on indicators, as known from cars. We _might_ have a solution to this that we _could_ integrate, but no promises yet. It might interesting to do it this year without and present it as an improvement next year.

[2015-02-24 11:29] marc-hanheide commented on #24
why not use the robot's map?

[2015-02-24 11:36] cburbridge commented on #29
While the robot is moving between info-terminal positions @denisehe would like the robot to be showing a slideshow of the photos in the photo-album, auto transitioning between images. It is on this screen that the click-anywhere needs to stop the robot, so this screen needs creating first. Will this screen be only active when moving between info-terminal points, or is it supposed to be the default

[2015-02-24 11:37] cdondrup commented on #26
We have the general aim of having arrows on the display indicate the direction the robot is going when guiding the walking group. @santosj is looking into that after the IROS deadline is over. This could then also be used to control the indicators, but as @marc-hanheide said, there is a lot of could, would, and should in there. Instead of the indicators we can also try and use the gaze direction o

[2015-02-24 11:38] Jailander commented on #24
Its incomplete, in this map we can tell where the doors are not only the ones that where open whilst mapping and not completely straight (very big loops) and requires a lot of declutering (in the cafeteria) if @denisehe can get the other one it would be nice if not I will use the slam map.
![aaf](https://cloud.githubusercontent.com/assets/5035967/6348607/4de8e352-bc19-11e4-9c9e-a26e0b488c3f.png)

[2015-02-24 11:40] cdondrup commented on #29
Please keep in mind that the robot might also have to move slower in order to do this. First because you might not be able to catch it otherwise and second  if it stops from full speed that might be too abrupt and dangerous for people chasing after it.

[2015-02-24 11:40] marc-hanheide commented on #29
We will be going very slowly anyway (in particular in info-terminal mode?)

[2015-02-24 11:43] Jailander commented on #26
I don't see any problem with sending a topic every time the robot gets a new navigation goal so another module can play a sound (I wouldn't play a sound directly as navigation should be independent from these things)

[2015-02-24 11:46] cdondrup commented on #26
The only problem is, that this would have to be done before the robot starts moving, including a time delay to give people time to react. This is why the scheduler might be better, because the navigation instantly starts moving the robot when a goal is received. This would be the same behaviour as last year which wasn't too nice.

[2015-02-24 11:48] Jailander commented on #26
yes in that case it better if handled by the scheduler directly unless @bfalacerda has any other idea

[2015-02-24 11:49] cburbridge commented on #28
The "events" page currently takes the top 3 entries from BBC RSS feed, so this is no problem. However, this was just a place holder I created for the in-house events page. Should the ORF headlines be displayed on the events page, or where?

[2015-02-24 11:52] cdondrup commented on #26
@mudrole1 @hawesie would that be possible? Otherwise, I wouldn't know where to put it.

[2015-02-24 12:36] marc-hanheide commented on #24
But this is the accurate metric map. I'd ignore (as in delete) all the noise.

[2015-02-24 12:39] marc-hanheide commented on #26
To be honest, I don't think you need much of a delay. We could (optionally) have navigation call a service `prepare_movement` that will be called before the motion actually starts and only when it returns `True` the motion will actually go ahead. This service can then play a sound and introduce any delays deemed needed.

[2015-02-24 12:57] denisehe commented on #29
Well the idea was that if people follow the robot, looking at the displayed slide show do also have the possibility to stop the robot to gain more information. this would be easyest by touchting the screen rather than quickly overtaking the robot and trying gestures and gaze to stop the robot.

Thus it would be nice for users to stop the robot a) from the front: waving/looking at the robot and b)

[2015-02-24 13:08] Jailander commented on #24
I tried it out yesterday and the blender model doesn't look very nice if you don't close all the walls and clean the noise, my plan was to use the dimensions of the metric map but using a nice map with straight walls and no noise which will allow us to create the whole building not only the bits we could map. If I could get it before I started working on it, currently I'm finishing other things to

[2015-02-24 13:12] denisehe commented on #24
hey @Jailander (cool name by the way ^^) - which walls are the problems? and what do you need the rooms annotations for?

[2015-02-24 13:16] Jailander commented on #24
no I don't need the room annotations, on the contrary, that map has too much text on it and if you have one without it would be awesome!, Also the office wall are a bit blurry when you export the pdf to image and I cant sharpen them easily because of the text ;) but if you don't have it is no Biggie I can use the SLAM map.

[2015-02-24 13:20] denisehe commented on #24
one should be able to read - you mentioned WITHOUT annotations before ^^ I can ask but I can not promisse anything!

I will get back to you as soon as i know more!

[2015-02-24 13:23] Jailander commented on #24
Thank you very much @denisehe !!!!

[2015-02-24 13:28] mzillich commented on #15
Umer's simple stop gesture detector developed at the school seems not fit for deployment. He is working on the full proper skeleton based one. But we have yet to get a time line for that.

[2015-02-24 13:34] denisehe opened #31 "[all Szenarios] Cliff detection"
Fall prevetions is still an issue to work on - thus I open this issue:

as we discussed yesterday: @mzillich - when can you come over with a magnetic strip so that we can decide if this is doable at AAF?

@marc-hanheide, @cdondrup @Jailander @cburbridge @hawesie @ToMadoRe @yianni

[2015-02-24 13:35] marc-hanheide commented on #15
Also, from limited experience, a skeleton one will struggle with several people. @urafi we need to be aware of the requirements/challenges:
- several people in the field of view
- a moving robot/camera (i.e. motion blur and non-static background)
- people not in "star-fish" shape, i.e. initialisation as star-fish is not required I understand, but standing in "random" pose when we encounter humans

[2015-02-24 13:37] marc-hanheide commented on #31
Please join discussion in https://github.com/strands-project/scitos_drivers/issues/98 I'll close this one as duplicate as we have a discussion on this running over there.

[2015-02-24 13:37] #31 closed

[2015-02-24 13:51] bfalacerda commented on #26
I agree with using the task executive (not exactly the scheduler in this case) to do the talking, as it clearly splits each task into a navigation to a waypoint, and an execution of an action server once the waypoint is reached. It should be quite easy to add a call to mary before starting to move

[2015-02-24 15:32] marc-hanheide commented on #26
just not sure: are we _always_ going via task_executive before moving, e.g. the bellbot, doesn't it move _within_ a single task? I still find it clearer and better separated if we have an optional function in navigation, because also this function can check conditions, e.g. getting confirmation to be allowed to bugger off...

[2015-02-24 15:36] bfalacerda commented on #26
True, I was thinking of last years system. The higher level that can be called directly to make the robot move is monitored nav, so I guess this is another job for me. Next week :)

[2015-02-24 15:44] Jailander commented on #26
not necesarily @bfalacerda topological_navigation or policy execution should do it (not that I want to take work from you for myself :P ) but if you do it in monitored_navigation it would also sound between nodes where the robot hasn't even stopped, whilst the topological navigation level can do it for the whole plan.

[2015-02-24 15:56] bfalacerda commented on #26
Right. I was thinking that the info terminal does direct calls to monitored navigation but it goes through the whole demand task procedure. It should be ok to out it in topological nav then

[2015-02-24 16:22] Jailander commented on #26
Ok, but stupid question why does the terminal use monitored navigation directly?

[2015-02-25 10:58] bfalacerda commented on #26
Ignore my last comment, in the info terminal there is a call to monitored_navigation that bypasses topological: When a person is detected waving to the robot while it is navigating to a task, we demand a task that first drives towards the person who waved, and then starts the info terminal gui. We use monitored here because it's navigation to a pose that is not a waypoint.

However, since we plan

[2015-02-25 12:07] denisehe commented on #24
hey, just for your information: i got in touch with the person in charge about the plan - he will have another look - so it might take some time. but hopefully he can provide us with a better one ;-)

[2015-02-25 14:47] Jailander commented on #24
Thank you very much @denisehe I will start working on it now anyway but if you do get one I will make the improved version too.

[2015-02-25 15:34] marc-hanheide commented on #23
I put a "hack" on place on henry to re-connect whenever the connection is lost (happens very rarely, 1-2 times a day).

I added https://gist.github.com/marc-hanheide/8b79676812f8710b90bb to root's crontab (`sudo crontab -e`) on Henry, to check the connection every minute and reconnect if not connected.

[2015-02-26 07:56] denisehe commented on #15
hey :-)

i just wanted to feed back that the infoterminal GUI looks great! really cool :-)
i showed it to my colleague and she also considers it very nice, clear and stylish! :-)

cheers Denise

[2015-03-06 07:27] denisehe commented on #17
Loging data that would be of relevance for AFF:

Bellbot:
- Frequency of use (how often is the service used during Y2?) [log data]
- user feedback to short questionnaire implemented on robot [log data/questionnaire]
- Number of errors occurring during tour [log data]

Info Terminal:
- Frequency of use (over time) (log data)
- what information is used most (log data)

Walking group:
- error-frequen

[2015-03-06 07:28] denisehe commented on #17
ah and in case of infoterminal:
where was the infoterminal used (what area of the buliding

and in case of bellbot
where from did the service start and where did it go

[2015-03-09 09:32] marc-hanheide opened #32 "mounting of the magnetic strip"
@creuther is going to order 20m of magentic strip to be send to AAF (@denisehe). @creuther also recommends to use safety tape ![safety tape](http://www.harborfreight.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/i/m/image_16543.jpg)

[2015-03-09 09:51] marc-hanheide opened #33 "name the waypoints the bellbot should go to"
name the final destinations and the final waypoint the robot can go to.

@Jailander please put a screen shot of the topop map here, @denisehe to give names for the places, @yianni to see.

[2015-03-09 10:24] marc-hanheide commented on #20
@cburbridge created a first file manager to upload photos etc to the system. It's available at http://lcas.lincoln.ac.uk/strands_media for test purposes. @denisehe, @yianni @cdondrup and @mzillich have a look to see if it fulfills your needs/expectiations and comment below.

Feel free to upload stuff and test out. Note this is potentially public right now, so don't put your private photos up.

[2015-03-09 10:28] denisehe commented on #24
Hey Haime, unfortunatelly I can not provide you with another map of the building. All the plans available do have more annotations on it.
Can you work sufficiently with the one you have got?

[2015-03-09 10:32] Jailander commented on #24
Hi, yes @denisehe don't worry already been taken care of, I'll upload the simulations after lunch

[2015-03-09 10:45] cdondrup commented on #20
Instant feedback.
- Having to click upload after choosing the file seems redundant. Just automatic upload after choosing it would be nice.
- I can only select single files, being able to select multiple and then automatically upload them would be great.
- I uploaded music but it doesn't show in the options for creating a music set.
- Images are autorotated to landscape

The rest looks great.

[2015-03-09 10:48] cdondrup commented on #20
One more thing, downloading creates a file with the internal id instead of the filename. `54fd79cecd82ea7718a53014.mp4` is not a really speaking name ;)

[2015-03-09 10:51] cdondrup opened #34 "[aaf_walking_group] Use new media_server to retrieve file from datacentre"
This applies to:
- [x] All the music playing nodes @nilsbore
- [x] The entertainment interface for images and videos @creuther

[2015-03-09 10:53] cdondrup commented on #7
Please make this as general as possible. Just having it run as an action server so it can be used by everyone. Also, adding the ability of moving the head left, right, and centre and potentially include 5V indicators.

[2015-03-09 11:42] marc-hanheide commented on #20
Could you put this into an issue on https://github.com/strands-project/strands_ui/issues for @cburbridge ?

[2015-03-09 11:53] nilsbore commented on #34
Alright, I'll finish this and the managed player integration today.

[2015-03-09 16:09] mzillich commented on #15
Hi @urafi, any news on the stop/waving gesture detector? Do you think an implementation will be available before the code freeze? Or do we have to rely on alternative?
Thanks, cheers

[2015-03-09 16:42] marc-hanheide commented on #15
I think, in the last AAF hangout, we agreed that it is not fit for deployment and decided not to include it. But @urafi should still respond on this ASAP. The info-terminal task has been amended in the following ways (right, @yianni?):
- Effectively, info-terminal shall be active as the "default" task, i.e. active whenever the robot is "just patrolling".
- Given that, people shall be enabled to st

[2015-03-09 16:43] marc-hanheide commented on #15
sorry, I didn't mean @yianni (he's bellbot after all), but I meant @cburbridge...

[2015-03-09 16:51] hawesie commented on #15
@cburbridge is not the leader of that task, he's pretty much up to his eyeballs with security.

[2015-03-09 16:56] marc-hanheide commented on #15
I know he isn't, but @mzillich is, and he missed the meeting we agreed this, so I wanted someone else to confirm what we agreed upon. I'm not trying to sneakily steal him... (or, I won't admit it).

[2015-03-09 17:23] cburbridge commented on #15
I am pretty sure that is what we discussed: drop the gesture recognition to make sure we have a robust system that does not inadvertently approach people who dont want to see it.

[2015-03-09 20:21] marc-hanheide commented on #15
@yianni can you poke @urafi. I'm not sure he reads his github notifications...

[2015-03-09 21:47] marc-hanheide commented on #22
Hi, can I ask @gestom or @Jailander to upload those scripts somewhere or tell me where they are? What have we got and what is needed to put them on? Also if someone could go to https://lcas.lincoln.ac.uk/henry/ and implement and test this scripts there, that would be appreciated.

[2015-03-10 00:25] mzillich commented on #15
@gestom wrote:

the FreMEn is so far tailored to model probabilities of binary states,
e.g. the probability that someone will interact with the robot at a
particular place if the robot waits for a certain amount of time.
Therefore, it will simply cause the robot to visit more populated places
more frequently.

Depending on the robot's strategy (e.g. taking into account the extra
energy spent while

[2015-03-10 00:25] mzillich commented on #15
@gestom : is the above already implemented, and running in the system?

[2015-03-10 13:48] gestom commented on #15
Apart from the 'We might ... time to wait' part, it is implemented and was running when we have demonstrated the infoterminal. As far as I know, the robot now waits for one minute and assumes that it can get to a given spot in 2 minutes. The robot uses a Monte-Carlo-based method to choose a location to go and his preferences (weights for Monte Carlo) are calculated as
w_j = a_H_j(t)+(1-a)_p_j(t),

[2015-03-10 15:40] gestom commented on #15
Just a comment on the fixed schedule that @denisehe suggested:

The robot is supposed to learn such a schedule on itself, that is one of the (scientific) aims of the STRANDS project. If we fix the schedule, how can the robot improve its behaviour over time ?

IMHO, the system should be doing infoterminal by default and bellbot and walking groups on demand.  It should LEARN FROM EXPERIENCE that the

[2015-03-10 17:10] gestom commented on #22
The battery checking scripts are part of the  strands_utils package.

[2015-03-10 17:11] Jailander commented on #22
here to be exact https://github.com/strands-project/strands_utils/tree/hydro-devel/battery_check

[2015-03-13 07:53] denisehe commented on #32
I just ordered 30m of magnetic strip!

[2015-03-13 07:56] marc-hanheide commented on #32
:+1:

[2015-03-13 07:56] denisehe commented on #21
hey - I just spoke to the therapists - they can test Henry on the 15th of april from 1-2PM! :-)

unfortunatelly receptionists were not jet informed that the bellbot task would really be taken to action - one receptionist is on vacation at the time of the pilot trial the other therefore can not leafe his working space (and he is the one who is rather uneasy with having the robt at our site, so I th

[2015-03-13 08:22] denisehe opened #36 "Interface Henry - feedback & open questions"
•	Eventually the blue text has not enough contrast (we can test that during the pilot trial)
•	Lunch Menu should look a bit nicer, not just white with plain text but like different background
         colors for soups, mains, and deserts, it would also be cool if we can have our carrot symbol
          next to the vegetarian dish. So that this carrot symbol is fixed next to or on the side of one

[2015-03-13 08:31] marc-hanheide commented on #21
I see... can you say what he's uneasy about?

[2015-03-13 08:36] marc-hanheide commented on #36
What specifically did you test and had a look at. Interface on the robot? Or the website I ran?

For the additional features you ask: While this is technically all possible, but we must be a bit careful with the efforts we commit to. Each of these "nice to have features" need to be probably working and tested, and someone will have to dedicate time to actually implement them. So, I want to ask you

[2015-03-13 08:48] denisehe commented on #21
well he is against the use of robots. he was quite rejective with all issues that come along with the robot - I guess has something to do with prejudices etc.
We try to get him a bit more interestsd but I have the feeling with pressing his workschedule in times he is responsible for everything going on might not be the best strategy ;-)

[2015-03-13 11:41] denisehe commented on #36
hey marc,

yes sure - I understand your point. maybe we can find an easy going solution - as I think it is important to provide a good information offer so that ACC is enhanced.

what about:
1. if there are upcoming events, we can just create a announcment-flyer that we feed in from the back end so that henry is showing it during patroling - on this day instead of the random picture galery that is

[2015-03-13 11:47] denisehe commented on #33
hey there I have got the list with rooms.
unfortunatelly I can not upload the map of the house that comes with it.
I will send the documents streight to marc, maybe he can upload them from his backend.

[2015-03-13 11:48] Jailander commented on #33
Hi, can you send them to me? I will create the topological map from them

[2015-03-13 11:54] denisehe commented on #33
in a sec ;-)

[2015-03-13 13:11] denisehe commented on #34
Hey, I am not sure if it really fits here - but as it concerns the walking group, I add it here:

We agreed that Henry should play different sounds at different areas when walking around the building.
How is this feature implemented:

Should we assign certain areas, that you then point out for the robotic system as "predefined areas"?

And how is the sound fed in:
eigther: in this predefined areas

[2015-03-13 13:15] denisehe commented on #17
required vido logs from the small newly mounted cam:

1) AAF:
a) video record the walking group
b) video record when infoterminal is used
c) video record when bellbot is used

2) G4S: video record the ID scan

[2015-03-13 13:27] marc-hanheide commented on #36
Implementing a quiz in our own framework is quite a job. I expect someone experienced could do it in two days. But then this person wouldn't do the other bits. We need to prioritise and you need to convince me that this is needed. If you find a web site that you can use to design quizzes and run them, then we _could_ integrate that website. But it would have a very different look and feel than the

[2015-03-13 13:28] marc-hanheide commented on #36
For the flyer. You can perfectly upload any image and assign it to the set of images that is displayed when Henry moves. If it's the only image assigned then it would be displayed all the time.

[2015-03-13 14:01] nilsbore commented on #34
Hi Denise,

to begin with, the entertainment interface. You use the web interface that @cburbridge developed, simply put all the songs you want to be played in a `music_player` collection of media in that interface.

For the music, you put all the songs in a collection in the same interface, the default one right now is `aaf_waypoint_sounds` so maybe choose that for simplicity. Then we associate e

[2015-03-14 11:06] mudrole1 commented on #15
@mzillich According your email... the timetable posted by Marc can be written down to the robot's routine. I am happy to write down such a routine, but each task needs to have its action defined (by the team responsible for it.) I am not going to write the action myself. However, the writting down the routine was kind of easy solution last year and it much more fits security scenario. As pointed o

[2015-03-16 07:47] denisehe commented on #34
okay but how can we tell him that he should play the song during driving along thus, in between waypoints - not just when shortly stoping at the waypoint?

[2015-03-16 08:30] cdondrup commented on #34
You can't, we have to use a waypoint for this. However, the robot should not stop at intermediate waypoints, meaning it only stops at the goal even if it passes through other points that have music associated with them.

[2015-03-16 08:57] marc-hanheide commented on #19
I thought we should be using https://github.com/twbs/bootstrap/compare/master...strategicdata:master I will put this in a branch in our own https://github.com/strands-project/twitter_bootstrap.

[2015-03-16 10:20] hawesie commented on #17
I would like to agree a common core set of logs for both AAF and G4S so we make sure we can compare deployments in a  number of ways.

For the record, the task executor logs lots of information about tasks which can be used to reconstruct robot behaviour. Check message store collection `task_events` to see this. These events are also published when the system is running.

[2015-03-16 10:23] hawesie commented on #17
@marc-hanheide can we assign someone to create the correct config for `mongodb_log` for most of the things in your list above?

[2015-03-16 10:33] marc-hanheide commented on #17
Yes, but whom?

[2015-03-16 10:37] hawesie commented on #17
Me maybe? Or someone at your place? Or @nilsbore as he's got experience with the logging.

[2015-03-16 10:51] marc-hanheide commented on #17
@nilsbore might be a good person for this, indeed. He volunteered to be at the AAF pre-deployment.

[2015-03-16 11:21] marc-hanheide opened #37 "[info-terminal] Info-Terminal Routine"
- [ ] define a subset of waypoints to be used for info-terminal (@Jailander with @gestom)
- [ ] implement a routine that submits task for the next *n* minutes (or max *m* tasks)
- [ ] run with charging level being configurable

[2015-03-16 12:36] denisehe opened #38 "Back Ends & Admin Interfaces"
Hey @marc-hanheide, @cdondrup, @cdondrup, @Jailander, @nilsbore, @yiannim - probably it is already existing but I did not find it - I would need a description of the admin interfaces - so what exactly you implemented by now, for which tasks and whom it therefore concerns!

Thanks, Denise

[2015-03-16 12:39] cdondrup commented on #38
Being linked twice, I feel very responsible now :)
I think the second one should have been @cburbridge
I will write something about the interfaces for the deliverables and can share that with you.

[2015-03-16 12:40] denisehe opened #39 "[bellbot] - szenario description"
Hey @yianni, how is it going with the bellbot implementation? I just wondered how the bellbot functions are implemented now, or better said which of the possible appraoaches you set into action.

During Winterschool we were talking about if it schould be a presheduled offer, or that the receptionist can call the robot to come.

I somehow missed the decition how this was now implemented?

Cheers De

[2015-03-16 12:42] denisehe commented on #38
yes you are right, sorry about that - I really did not meen to throw all the preassure upon you now :-D

[2015-03-16 12:49] denisehe commented on #37
do you need any information where it would be nice to have waypoints from our point of view ?

[2015-03-16 12:55] denisehe commented on #39
or in general, could I have a short description of how the task is ment to start, run and end exactly?

[2015-03-16 13:00] marc-hanheide commented on #37
That would be useful... But best if @Jailander would send out a tpoplogical map that you then annotate!

[2015-03-16 13:03] denisehe opened #40 "[walking group] - szenario description"
@cdondrup can I also have a general description of the walking task? explaining how the task starts, how it proceeds and also ends or can be ended if needed.
And what the therapists have to ware/do etc.

Thanks :-)

[2015-03-16 13:06] denisehe opened #41 "[infoterminal] - szenario description"
hey @mzillich, @cburbridge - please can I  get a short description of the infoterminal task - how it starts, how it proceeds and how it ends.

And how it is now thougth to be embedded within patrolling-behavior?

Thanks :-)

[2015-03-16 13:16] gatsoulis commented on #39
Send you a personal email as it does now allow me here to attach pdfs.

[2015-03-16 13:36] marc-hanheide commented on #19
@denisehe can you please check this: https://bootswatch.com/readable/ and let me know if you think it's a good style for our purpose. It's about colours and fonts, not about text size and specific buttons. More general, if this is deemed suitable.

[2015-03-16 13:38] denisehe commented on #19
what is a CSS?
do you mean suitable for our interface?

[2015-03-16 13:47] marc-hanheide commented on #19
The CSS defines colours, fonts etc.

[2015-03-16 13:54] denisehe commented on #19
okay meaning that you want to take color suggestions or font sice/type & button size ideas from there?

[2015-03-16 14:10] marc-hanheide commented on #19
size is easily fixed (e.g. just by setting your zoom level a bit higher). you can compare to https://bootswatch.com/default/ and say which one you like better. Actually, I think the defaults are pretty good and we only have to modify specific elements that turn out to be not suitable. So, what Im looking for is a general :+1: from your end saying that there's nothing massively wrong with those des

[2015-03-16 14:23] denisehe commented on #19
well for me its a bit difficult now as I see many aspects where there are several "solutions" proposed but that will not be of any relevanc efor our robot (e.g. dropdowns etc)
bzw. it would be easyer to see what kind of things you want to implement where within the interface.

I just can say that everything below size "heading 3" is too small and that contrasts with yellow or light blue letters or

[2015-03-16 14:33] marc-hanheide commented on #19
I see... well, for all others @strands-project/aaf_deployment_team let's use bootstrap for all end-user facing websites, please. After doing a little research I came to the conclusion, that it's the best option and that we probably won't need a very taylored CSS. Maybe we change the colours of a few elements, but nothing substantial.

[2015-03-16 15:35] denisehe commented on #39
Following your description the user has to choose a certain room type and thereafter a new GUI with a list of rooms appears.

As we have many offices, that would overload the screen I have following suggestion:

Main GUI:
select between

Seminar Rooms
Person (Name)
Units (Lifts)
"Others" (chapel, hairdresser, cafeteria)

when "person" is selected a keyboard can appear where the user can enter the

[2015-03-16 16:09] marc-hanheide commented on #15
@mudrole1 I think there is no need to write the routine, as we will be using The Google Calendar Interface I made:  https://github.com/strands-project/strands_executive/pull/132
And, that's what we need priorities for, we will have a "fremen-ised" low priority routine that suggests info-terminal tasks all the time (e.g. when not overwritten by some higher-level tasks)

[2015-03-16 16:17] marc-hanheide commented on #19
As I said in my previous comment. Let's stick to plain bootstrap for now. I played around with other option and actually it's not really an improvement. Maybe one or two changes would make sense, but reinventing the wheel is pointless here. So, everybody use bootstrap!

[2015-03-16 16:17] #19 closed

[2015-03-17 14:46] nilsbore commented on #17
I guess this would mostly be poking people to log stuff in their systems / identify which topics should be logged?

[2015-03-17 14:48] marc-hanheide commented on #17
I was actually thinking to have a kind of aggregator node, a bit like the marathon logger.

[2015-03-17 15:09] hawesie commented on #17
I think it should be as simple as a launch file which launches mongodb_log with the correct topics.

[2015-03-17 16:13] marc-hanheide commented on #17
Also possible, then we'll have to log a lot and do post-mortem analysis to extract meaningful stuff. If we are not logging too much that should be feasible. FYI: I started playing with extracting and visualising logs from `message_store` into [ELAN](https://tla.mpi.nl/tools/tla-tools/elan/). This could be developed into a post-mortem analysis tool to extract meaningful annotations for @denisehe an

[2015-03-18 10:04] marc-hanheide commented on #41
The info terminal task is pretty straight forward. The robot will effectively patrol and go to places where, from past experience, it is likely to be interacted with. It will show the front page of the info terminal at these points and stand there for approx 5 minutes. Then it might choose to go to another waypoint and offer its services there or to stay longer. When people are interacting, Henry

[2015-03-18 10:07] marc-hanheide opened #42 "[info-terminal] news about HdB"
@denisehe requested to have the news screen split. Showing global news and also local HdB news. The easiest would be if the local news would also be given by a RSS source. @denisehe are these local news already available online?

[2015-03-18 10:07] marc-hanheide commented on #42
@mzillich we need someone who takes care of the info-terminal GUIs. It's not a big job, but I can't do it.

[2015-03-18 14:01] denisehe commented on #42
the local news will be available as text files, that we need to fill in.

its internal news, vital tipps, environment tipps
that need to be filled in - so thee sections

[2015-03-18 15:23] Jailander commented on #37
@denisehe I can send you the topological map, but I'm afraid it would be less practical for you as it looks like this:
![rviz_screenshot_2015_03_18-12_51_54](https://cloud.githubusercontent.com/assets/5035967/6712026/5eec61cc-cd82-11e4-896e-f8e564a5a474.png)

Or I would need to spend some time writing something that renders the map nicer (which I will at some point).
So why don't you annotate thes

[2015-03-18 15:27] Jailander commented on #37
@marc-hanheide for defining the set of nodes for the info terminal we are going to add "tags" (e.g. Info terminal) in the meta information of the nodes, and I am going to implement a service that returns the list of nodes an specific "tag" on them and of course another service to add tags to nodes.

[2015-03-18 15:28] Jailander commented on #37
This was agreed with @gestom

[2015-03-18 15:44] marc-hanheide commented on #42
How would you fill this? Does it contain picture? On simply way could be to setup a wordpress account for this...

[2015-03-18 16:10] marc-hanheide commented on #37
ok

[2015-03-18 16:12] Jailander commented on #37
Are you happy with this? or should we plan for something different?

[2015-03-18 16:28] marc-hanheide commented on #37
I don't have enough knowledge to really comment. If you agreed it go for it.

[2015-03-18 21:22] mzillich commented on #41
no correction, that's right. Info terminal is the idle task.

[2015-03-18 21:23] mzillich commented on #42
@denisehe How are local news distributed now?

[2015-03-19 07:17] denisehe commented on #37
Hey thanks @Jailander I will use our map and annotate zones - I will also try to take your red marked waypoints in your map into account - I guess it should be overlapping, or the zones should be inbetween nodes that are already existing? Am I right?

[2015-03-19 07:20] denisehe commented on #37
ah no, I mixed up the task - we are in the discussion about waypoints for the infoterminal here! I thought its about marking zones where the robot should play musik during the waling group

okay so I will just mark points where the infoterminal should be displayed and on what time of the day!

[2015-03-19 07:26] denisehe opened #43 "[walking group] - sounds and songs"
Hey @cdondrup @marc-hanheide @nilsbore

how is it planned to have the robot playing eighter songs or natural sounds during the walking group procedure?

I can annotate zones on the map of the house where we should be able to fill in nature sounds via our back end

But the question is: how can the therapists enter the menue to tell the robot that he should play a hiking-song during the next part of

[2015-03-19 07:28] denisehe commented on #42
@mzillich Local news are just distributet to employees via mailings or letter - but residents/visitors do not get hold of these information => it would be nice to have this offer for these persons too.

@marc-hanheide I am not familiar with wordpress - what can we do with that - does it offer just plain text or can we also insert pictures, or change color of the text or fonts?

[2015-03-19 07:32] denisehe commented on #42
@marc-hanheide @mzillich : and please could I get some information what the backend for the lunch menue will look like and how the front end is planned (I think it would look boring to have just black text on white background - could we also insert our little pictures that go with the menue? )

[2015-03-19 08:07] Jailander commented on #37
Hi, don't worry about  thhe previous way points put points or areas that you think are relevant and I'll take car of making the map. Also if you want make comments on what things should happen where and I'll liase with the Different tasks

[2015-03-19 08:35] cdondrup commented on #43
We have to use waypoints for the sounds. However, we can insert new ones, so please mark the spots where to play. If this does not coincide with an existing waypoint, we'll add one.
Regarding the hiking songs, from the discussions before and during the winter school we understood that the robot should play music all the time while driving along. It would!d be inherently difficult for the therapist

[2015-03-19 08:53] denisehe commented on #43
okay I will mark zones.

:-S oh no! I imagined it like the robot playing nature sounds in pretargeted areas. so thats his standard routine

on waypoints - when he stops therapists then should be able to choos if they want to enter the song list.
or in case they have enough of singing, to leave the songlist and the robot continues with its nature sounds.

is that possible?

[2015-03-19 09:21] cdondrup commented on #43
It would be possible but it depends entirely on @ferdianjovan since he developed the guide interface. Please liaise with @nilsbore on how to use his services. Should be very straight forward.

[2015-03-19 09:30] marc-hanheide commented on #43
Hi,

I want to leave one comment, sorry @denisehe :smirk:

I think we need to be careful about adding more and more tiny things to the todo list. Is this something that is _needed_ in order to make the walking group work properly, or is it a _nice to have_ feature? More importantly, have we got evidence that the therapist(s) (who are our ultimate customers in this task) would need/want it?
I'm jus

[2015-03-19 09:37] nilsbore commented on #43
@denisehe I don't understand exactly what you want now, was the first part in response to the robot continuously playing music? The robot will play nature sounds or other sounds you provide us with and if you can point out the places in the map where the robot should do so, that would be great. Right now, it always lowers the music and plays nature sounds when it passes by those areas. If there is

[2015-03-19 09:53] cdondrup commented on #43
Actually, atm [it starts playing](https://github.com/strands-project/aaf_deployment/blob/indigo-devel/aaf_walking_group/src/aaf_walking_group/guiding.py#L28-L32) automatically when the guiding starts. As @nilsbore said, that coukld be moved to the guiding interface if @ferdianjovan has time to do it.

[2015-03-19 10:03] marc-hanheide commented on #43
I'd say, leave it as it is now if @denisehe doesn't object. We leave this open, but I want a full running prototype first.

[2015-03-19 11:01] denisehe commented on #43
hey,
@marc-hanheide @cdondrup : yes i totally understand your consern - but the thing is that I am not intending to add on things but as it seems there a missunderstanding happended.

From my point of view it was the genuine intention to have the robot playing nature sounds ( @nilsbore ) when moving along, but that the therapists have the chance to interupt that nature sounds rutine (e.g. when the

[2015-03-19 11:05] ferdianjovan commented on #43
I will try to do that on weekend along with https://github.com/strands-project/aaf_deployment/issues/9 if that was the original intention.

[2015-03-19 12:10] denisehe commented on #39
hi @yianni
I have a question about the bellbot scenario - how does voice output programming and robot behavior correspond in regard of programming?

e.g. do you have to programm certain time slots when the robot should say something, or can the robot just drive and additionally the voice output can be activated?

[2015-03-19 12:58] nilsbore commented on #43
@ferdianjovan Should I implement a service to enable/disable the waypoint sounds?

[2015-03-19 13:07] cdondrup commented on #43
Can't we just use the priorities provided by the pygame player?

[2015-03-19 13:09] nilsbore commented on #43
That would be nice, didn't know that you could configure that from the outside. Is that possible @marc-hanheide ?

[2015-03-19 13:22] marc-hanheide commented on #43
Well, you could simply assign  a low-prio volume of 0 to the nature sounds and make sure its priority is lower than the other things you want to play. Then it would be muted whenever other stuff plays. Is that enough?

[2015-03-19 13:27] nilsbore commented on #43
You mean within the waypoint sounds node, not by the webpage calling a service in the pygame player? I think I might as well pause the playing then.

[2015-03-19 13:49] marc-hanheide commented on #43
All I mean: Have it play the nature sound, say with priority 0.3, and have it play music files on request with higher priority. Check https://github.com/strands-project/strands_ui/blob/hydro-devel/pygame_managed_player/src/pygame_managed_player/pygame_player.py#L42 The set the `min_vol` for the nature sounds to 0 to disable it whenever something else, e.g. the music, is playing.

[2015-03-19 13:51] nilsbore commented on #43
Ok, understood! I guess that more or less solves it.

[2015-03-19 13:57] denisehe commented on #43
thanks for adapting the system !!!! :-)

[2015-03-19 14:36] gatsoulis commented on #39
hi @denisehe

not sure how the strands robot voice output works and whether it holds the main ROS loop which would prevent it from doing anything else while talking.

[2015-03-19 21:08] marc-hanheide commented on #42
@denisehe @mzillich @cburbridge I think we should just populate the local news like we populate the ORF news, via RSS feed.

I have created a wordpress blog at https://henrystrands.wordpress.com/ that you @denisehe and others at AAF can post to. I shall send you the login details by email. This page will provide any blog posts as RSS feed at https://henrystrands.wordpress.com/feed/ so we can easil

[2015-03-20 06:43] denisehe commented on #39
@marc-hanheide @hawesie - how does it work? (see question to yianni above  ;-)

[2015-03-20 06:45] denisehe commented on #39
@marc-hanheide as far as I can see: looks really nice :+1:
thanks :-)

[2015-03-20 07:41] marc-hanheide commented on #39
For voice output: either is possible easily. Speaking while driving is no problem. Well, no problem besides that it might not be very good as people should concentrate on walking rather than trying to understand the robot...

[2015-03-20 08:06] mzillich commented on #42
Great! Yes, that's the cleanest solution.

[2015-03-20 12:15] cdondrup commented on #6
This is done now.

[2015-03-20 12:15] #6 closed

[2015-03-20 17:32] hawesie commented on #17
Adding @PDuckworth to the conversation as he would like to see robot poses logged throughout the runs.

[2015-03-22 15:36] cdondrup opened #45 "[aaf_waypoint_sounds] Warp into action server"
Currently, as soon as it runs, it will play sounds at the waypoints. This is not really what we want to do. We need to be able to turn it off and on, to not annoy people.

I could also live with a service to pause and resume, but I'd prefer an action server.

[2015-03-22 15:41] nilsbore commented on #45
I think we might as well use a server for this, then we can use it in the webpage also if necessary. Sounds ok?

[2015-03-22 15:42] cdondrup commented on #45
As I said, if we can turn it off and on, I don't really mind how ;) What ever you think is better. The point with the webpage might actually be a valid argument for a service.

[2015-03-22 16:15] cdondrup commented on #9
Please see above PR and https://github.com/strands-project/aaf_deployment/commit/51bec28b6172d81a2ace33087d8d5872b2e81d7c in particular. If this is called via a button it will preempt the whole state machine and therefore the task. Can be used by the therapist to cancel the walking group while it is running via the guide interface.
@ferdianjovan can you please use the 'Abbruch' button to kill all

[2015-03-22 16:16] #8 closed

[2015-03-22 16:45] cdondrup commented on #9
Thinking about it, it shouldn't be 'Zurück' because the guide interface can also be triggered during the guiding. Please make it something like 'Entertain'. Then, if the card is shown during guiding, using the entertain button will put it in entertain mode and the 'Weiter' button will continue the tour. I think this is clearer and easier to understand.

[2015-03-22 21:05] #45 closed

[2015-03-22 22:14] cdondrup opened #49 "[aaf_walking_group] position of card node improvements"
The spammy output should be moved to debug level to not hide the statemachine output.

There was talk about making the division into the QSRs "near" an "far" a bit cleverer than it is now, maybe even implementing some simple learning algorithm. I can't remember exactly but maybe @PDuckworth want's to have a look. If no improvements can be made before the feature freeze, please let me know and take

[2015-03-22 22:21] cdondrup commented on #34
Does anyone have time to look at this for the entertainment interface? If @creuther has time to do that, that'd be great but since he is usually pretty busy and you have done that for the music bit already, could you have a look as well @nilsbore?
If not, I'll try to get it to work.

[2015-03-22 22:32] cdondrup opened #50 "[aaf_walking_group] Adding intermediate state after arriving at a resting area to decide if one wants to rest or not"
Seeing how the walking group did not stop at every resting area when being at aaf, showed us that it should be made more convenient to just sent the robot to the next resting area without going via the entertainment and guide interface. This shall be handled like the continue button:
 1. When the robot arrives at a resting area, show a more or less informative screen that it arrived
 1. When the t

[2015-03-22 22:33] cdondrup opened #51 "[aaf_walking_group] Turn head and PTU when necessary, look at people when resting"

[2015-03-22 22:36] cdondrup opened #52 "[aaf_walking_group] Create component that plays jingles from a music collection"
This shall be called when specific buttons are pressed, e.g. the continue during the tour. I know you probably already hate me for this, but @nilsbore you are my goto guy when it comes to playing sounds now. If you have time to implement something like that, that would be great. It should be able to play different mp3s via a service call, identifying them by name or a list index.
If you don't have

[2015-03-23 06:42] denisehe commented on #17
hey, I trust your judgement in this reagard @marc-hanheide - I have no pre-experience with ELAN but if we can easily trasphere information to SPSS it should be fine :-)

[2015-03-23 06:42] denisehe commented on #42
ok great! thanks a lot!

[2015-03-23 08:40] nilsbore commented on #52
I think this might as well go in `strands_ui`, no? It's pretty general and might be needed for other webpages.

[2015-03-23 08:45] marc-hanheide commented on #24
This is done, I suppose

[2015-03-23 08:45] #24 closed

[2015-03-23 09:00] cdondrup commented on #52
It could be a general component that takes a music collection and is able to either play them continuously, or one by one identified by their name. Maybe the existing node could be extended? But I am happy with everything that works ;)
strands_ui sounds fine.

[2015-03-23 09:02] nilsbore commented on #52
I think it's better with a new one, it's easier and with @marc-hanheide 's player it's really easy to get them to play well together.

[2015-03-23 11:48] cdondrup commented on #7
@denisehe here is Linda with her shiny new indicators :)
![linda_indi](https://cloud.githubusercontent.com/assets/4293484/6779278/6dd32c56-d152-11e4-8ab1-50600aa5d2b9.jpg)
Ignore the Christmastree

[2015-03-23 11:53] denisehe commented on #7
_ignoring accomplished_

coooooool! hahahahahahaha - looks a bit freaky but cool :-D

[2015-03-23 12:07] cdondrup commented on #49
Apparently, I was too tired yesterday. It does only spam if set to verbose. Maybe just switching all of the prints and infos to debug level using `rospy.logdebug()` would be the better choice. Still please let me know if there will be improvements. Otherwise, I'll assume this is its final form.

[2015-03-24 00:07] marc-hanheide commented on #20
started working on the overall interface: https://github.com/strands-project/aaf_deployment/tree/indigo-devel/aaf_control_ui

[2015-03-25 15:50] cdondrup opened #56 "[aaf_walking_group] Make people tracker or human aware navigation ignore ubd during guiding"
The PTU will be turned backwards which is why the robot will be detecting people behind it. This will make it drive slower because currently human aware does not care where the person is but just about the distance. Also the gazing behaviour will be more creepy since the robot will look at ubd detections in the back.

Somehow the ubd has to be ignored while driving with the PTU backwards.

[2015-03-25 17:11] #7 closed

[2015-03-26 09:10] denisehe commented on #39
@yianni could we actually adapt the last evaluation screen feedback options on Henry's bellbot task?

As we are designing this years evaluation we would have 5 questions in total that would be cool if we can ask (answering with pressing smilies is still okay)

it would be:

I am satisfied with the service
It is convenient fo have a bellbot
I would use the bellbot again
I find the bellbot easy to u

[2015-03-26 09:14] gatsoulis commented on #39
I'll see what I can do.

[2015-03-26 09:55] denisehe commented on #32
magnetic strip arrived!

[2015-03-26 09:58] denisehe commented on #18
@marc-hanheide @cdondrup - hi, ther had to be a slight change in the robot shedule as appointments for the walking group got mixed up. As I heard just now it is not only a single walking group on monday but two!!! The same time as on thrusday!

Therefore I send a new shedule via mail!

[2015-03-26 10:00] denisehe commented on #39
thanks! please do let me know as soon you know more!!

[2015-03-26 13:52] denisehe commented on #32
hey there - the sensor was lowered today. positive news: it is working! breaks hit immediatelly after detecting magnetic strip

A testrun in the buliding showed no false positive detections! :-)

[2015-03-26 13:59] marc-hanheide commented on #32
Now, that's a relief! Great, thanks for testing @denisehe and @ToMadoRe ! We shall then use this as our main safety feature.

[2015-03-26 14:09] marc-hanheide opened #61 "safety zones"
In last years deployment, we needed safety zones for Henry to go in the event of an emergency. I presumed we need this again, but then again we need @denisehe to tell us where those zones would be and mark them on the topological map @Jailander provided. Please @denisehe bear in mind that there should be numerous of those more or less safe waypoints, as we want Henry to reach the nearest quickly.

[2015-03-27 16:38] cdondrup commented on #61
Instead of asking people to tell the robot admin staff that they sent it away, could the script just send an email to Denise and us?
Rest looks good I think. Just have to make sure that really all tasks are interruptible.

[2015-03-27 16:44] Jailander commented on #61
yes we can tag safe nodes and have a service for getting the closest "safe" node and navigate to it

[2015-03-27 16:59] cdondrup commented on #9
Finally able to test this. Works beautifully. Thank you @ferdianjovan!

[2015-03-27 16:59] #9 closed

[2015-03-27 17:01] cdondrup commented on #51
Solved by #55 and #59
But see #56

[2015-03-27 17:01] #51 closed

[2015-03-27 20:47] marc-hanheide commented on #61
Yes, the email feature would be good. How to do it? There was a service in strands_social?

[2015-03-27 20:47] marc-hanheide commented on #61
And... anyone volunteering to implement the emergency behaviour?

[2015-03-27 20:54] marc-hanheide commented on #61
I would actually prefer not only the executor to be set to false, but rather have topo_nav to take to and keep the robot in a safety zone, no matter what. E.g. by submitting the next safety zones as a goal every second ;-)

[2015-03-27 21:02] Jailander commented on #61
Yes there is a tool called strands_emails  and yes sending the robot directly with top nav was my suggestion

[2015-03-29 20:19] cdondrup commented on #49
I guess there won't be anything happening then?! @PDuckworth

[2015-03-29 20:20] cdondrup commented on #10
Closed via #64

[2015-03-29 20:20] #10 closed

[2015-03-29 20:55] #50 closed

[2015-03-30 07:07] denisehe commented on #61
yes i think it would a good idea to email us and that we then take care of the robot!

[2015-03-30 07:16] denisehe commented on #61
Aja @marc-hanheide anstatt roboter-admin team wäre STRANDS-Team der Akademie für Altersforschung einleuchtender! Damit auch jeder weiß, wer damit genau gemeint ist!

:-)

[2015-03-30 07:30] #52 closed

[2015-03-30 07:30] cdondrup commented on #43
Closed via #66

[2015-03-30 07:30] #43 closed

[2015-03-30 09:17] hawesie commented on #41
@mzillich et al, please can I urgently have a screenshot of the info terminal for DR 8.2?

[2015-03-30 11:37] marc-hanheide opened #67 "[info-terminal] use mongodb_media_server to serve media"
Use https://github.com/strands-project/strands_ui/tree/hydro-devel/mongodb_media_server to serve all the media needed.

[2015-03-30 11:44] marc-hanheide commented on #28
In addition we need to display the local news: https://henrystrands.wordpress.com/feed/ probably side by side?

[2015-03-30 14:09] cburbridge commented on #23
When the robot looses connection do you ever have ROS communication issues beween nodes? I'm not 100% sure, but I think when bob looses network then reconnects, network manager might be temporarily screwing something for ROS. I would like to get rid of network manager, but if you think it is ok then I'll not "waste" the time...

[2015-03-30 14:10] cburbridge commented on #23
You can see the setup routing on bob for the side PCs etc here: https://github.com/uobirlab/strands-bham/wiki/Bob-Setup

[2015-03-30 14:16] marc-hanheide commented on #23
that's non-public...

The important thing is that we set ROS_IP, ROS_HOSTNAME, etc. fixed on all our machines and bind this to IPs that are not effected by the network_manager.
Then it seemed to work nicely. I'm still using network manager to connect to the wifi, as it's by far the most convenient way to set this up. The connection losses we observe seem to be due to being kicked out by the authen

[2015-03-30 14:16] marc-hanheide commented on #23
Can you still share the routing config you have publicly?

[2015-03-30 14:29] cburbridge commented on #23
I have duplicated the page here: https://github.com/strands-project/scitos_robot/wiki/Bob%27s-Network-Configuration

[2015-03-30 14:40] marc-hanheide commented on #23
One thing, I'm struggling with (and I wonder if it works for you). In this setup, including another computer on the wifi (in your case `ccarobot`) network into the ROS network is not working for me, as for instance `bobl` is NAT-ted and if it makes requests to a machine on the wifi network (e.g. `woody` in your example), that won't work as the request to appear to come from bob... Or do I get some

[2015-03-30 14:45] cburbridge commented on #23
This works ok for us, `bobl` can access `woody` and vice-versa by routing through `bob`. ROS communication works no problem: the camera running on `bobl` can be seen in rviz on `woody`.

[2015-03-30 14:52] marc-hanheide commented on #23
OK, then I've got something wrong, even though it looks the same as yours. No worries, I'll find out. Thanks!

[2015-03-30 16:30] cdondrup opened #70 "[aaf_walking_group] Create action server launching the system and starting the action"
This should use: https://github.com/strands-project/strands_apps/tree/indigo-devel/roslaunch_axserver to launch the walking_group launch file and once that is up and running it should start the `walking_group_smach` action server.

This encompassing action server can then be used by the scheduler to start the whole system and launch it only when the walking group is scheduled.

Use https://github.

[2015-03-30 16:31] #56 closed

[2015-03-30 19:00] hawesie commented on #23
@marc-hanheide do you execute the magic `sudo route add -net 192.168.0.0/24 dev eth0 gw bob` on the other computers? Without that we can't see bobl.

[2015-03-30 19:06] marc-hanheide commented on #23
Sure, i do. I suspect some firewall magic at aaf to stop me there. As the setup works perfectly well at ours.

[2015-03-30 19:23] cburbridge commented on #41
![infoterm](https://cloud.githubusercontent.com/assets/259580/6904697/99922bd0-d71a-11e4-99e4-a4136e07bad7.png)

[2015-03-30 19:58] hawesie commented on #41
Thanks!

[2015-03-30 21:08] cburbridge commented on #28
This is what is looks like now with just three items from the BBC RSS feed. How should I lay it out to get the extra information in there?:
![events](https://cloud.githubusercontent.com/assets/259580/6906833/1ef014fa-d729-11e4-9d44-63dfc7b78364.png)

[2015-03-30 21:26] marc-hanheide commented on #28
What about making it two columns and putting the back button at the bottom, less tall, but full width?

[2015-03-30 21:29] #67 closed

[2015-03-31 00:16] cdondrup commented on #49
@PDuckworth, I know you are most likely busy with the g4s deployment, but no answer at all is very disappointing I have to say.
I guess there will be nothing happening then...

[2015-03-31 00:16] #49 closed

[2015-04-01 17:39] cdondrup commented on #70
Closed via #72

[2015-04-01 17:39] #70 closed

[2015-04-01 17:40] cdondrup commented on #40
@denisehe Do you need anything besides the document I sent? You can also have a look at the [README](https://github.com/cdondrup/aaf_deployment/blob/recovery/aaf_walking_group/README.md) for a more technical description on how to use the system.

[2015-04-02 06:03] denisehe commented on #40
@cdondrup thanks for asking, but you gave a very clear overview of what is planned for the WG! But, I am really very curious to see it in real - and I guess questions will come up then :-)

[2015-04-02 13:23] marc-hanheide commented on #37
OK, so we need some progress on the routine. Here's what I believe needs to be done:
- [x] The [GoToPerson](https://github.com/strands-project/aaf_deployment/blob/indigo-devel/info_terminal/approach_person_of_interest/action/GoToPerson.action) action should be simplified, as we don't have a pose to turn towards (no waving detection available), and `go_to_person` is not needed. All code that uses t

[2015-04-02 14:04] gestom commented on #37
Since there is no waving detection, we can completely remove the person approaching part. I can do the 'strands-gazing' and PTU movements in the infremen.

[2015-04-02 14:09] cdondrup commented on #37
For the PTU and gaze I have some code that you can just use: https://github.com/strands-project/aaf_deployment/blob/indigo-devel/aaf_walking_group/src/aaf_walking_group/utils.py#L11-L50

Can either do the same in C++ or just use the python file by importing it from the walking group.
The rest sounds sensible to me.

[2015-04-02 14:20] marc-hanheide commented on #37
@gestom I don't think you can do it in `infremen` as `infremen` doesn't implement the _task_, but the _routine_ (i.e. the component that submits tasks to the scheduler). That means the task server (currently called `approach_person_of_interest`, but should probably be renamed) will have to do that. I suggest we keep these things nicely separated. infremen suggests task (with a simplified interface

[2015-04-02 14:20] marc-hanheide commented on #37
I'll come and see the Lincoln people in a few minutes to discuss this in person

[2015-04-02 16:23] marc-hanheide opened #77 "[info-terminal] store input into infremen model in message_store"
... to be able to re-initialise the model on startup

[2015-04-02 16:28] marc-hanheide opened #78 "[info-terminal] new task action server replacing approach_person_of_interest"
- [x] the current [approach_person_of_interest](https://github.com/strands-project/aaf_deployment/tree/indigo-devel/info_terminal/approach_person_of_interest) should be refactored to be based on [AbstractTaskServer](https://github.com/strands-project/strands_executive/blob/hydro-release/strands_executive_msgs/src/strands_executive_msgs/abstract_task_server.py), so that a factory service for tasks

[2015-04-02 16:41] marc-hanheide opened #79 "[info-terminal] add battery_threshold to infremen as dynamic_reconfigure"

[2015-04-02 17:07] cdondrup commented on #40
OK, I will close this then and we create new ones after the predeployment ;)

[2015-04-02 17:07] #40 closed

[2015-04-03 15:07] cdondrup commented on #78
As we discussed, I didn't really refactor the old action server but created a new and simpler one.

[2015-04-07 13:52] cdondrup opened #82 "[info_terminal_gui] Doesn't die"
Something in there ignores `Ctrl+C` very effectively.

[2015-04-07 13:53] #78 closed

[2015-04-07 13:56] marc-hanheide commented on #82
Check https://github.com/strands-project/aaf_deployment/blob/indigo-devel/aaf_control_ui/scripts/server.py#L29 for an example how to fix this

The problem is that as long as a client is connected a web.py server thread will still be running.

[2015-04-07 13:58] cdondrup opened #83 "[info_task]"
The display of the info_terminal will also be shown while the robot is navigation during the info tasks. To account for the possibility of interaction before reaching the designated node, we should also take the current robot_pose into account when publishing the feedback.

The info_task action server will subscribe to `/robot_pose` and publish that along with the times and page numbers in the cus

[2015-04-07 14:53] marc-hanheide commented on #83
indeed!

[2015-04-07 15:43] marc-hanheide opened #84 "[bellbot_gui] missing build_depend for `bellbot_scheduler`"
[code]

(from https://lcas.lincoln.ac.uk/jenkins/job/ros-indigo-bellbot-gui_binarydeb_trusty_amd64/14/console)

I suppose the bellbot_scheduler shouldn't be used anymore, right? Can somebody with more knowledge than me fix this, please? @jailander or @yianni?

[2015-04-07 15:55] cdondrup commented on #84
Just to link it: https://github.com/strands-project/strands_hri/issues/103

[2015-04-07 15:59] marc-hanheide commented on #84
@cdondrup is right as alw... most of the time. I'll close this one as duplicate.

[2015-04-07 15:59] #84 closed

[2015-04-07 20:51] cdondrup commented on #83
this will done in the gui scripts so it publishes directly when something is clicked and where. @gestom will change that.

[2015-04-07 21:03] cdondrup commented on #17
I think the logging of people should be done by #85
This will log all the poses of detected people into the datacentre. Only problem, it doesn't give you a start and end time without looking at all the detections with same uuid and finding the min and max time.

[2015-04-08 08:48] marc-hanheide commented on #17
@cdondrup @hawesie @ferdianjovan How is the logging done at G4S? We should be doing the very same thing here.

[2015-04-08 08:51] hawesie commented on #17
There is not a standard approach. I thought (as above) we assigned @nilsbore to get some logging going. My assumption is that it will be one or more instances of `mongodb_log` plus a list of topics. And there will be a shared list of topics, plus potentially different additions for each site.

[2015-04-08 09:00] marc-hanheide commented on #17
Yes, sure. I meant more specifically about the people tracks.

[2015-04-08 09:05] nilsbore commented on #17
@hawesie I am sorry, between different paper deadlines this has slipped my mind. I can assemble a list at the AAF pre-deployment next week but unfortunately I don't have any time before that.

[2015-04-08 12:33] cdondrup opened #88 "swappiness and the robot performance issues"
We observed that with the current aaf system running, the robot becomes rather slow and unresponsive which of course has several unwanted side effects. We assume that this is due to the low amount of RAM and processes being swapped quite regularly. We will try to [reconfigure the "swappiness"](http://askubuntu.com/questions/103915/how-do-i-configure-swappiness) and see if this has an effect. If an

[2015-04-08 13:48] marc-hanheide opened #89 "[info-terminal] display menu from google docs"
simply display this page: https://docs.google.com/document/d/10OG5Yad8r3FqHGB6zD06NtwWmpEI9NMexCVwNUQBWMI/pub?embedded=true
for the weekly menu.

[2015-04-08 13:50] marc-hanheide opened #90 "[info-terminal] write Menu for info terminal"
Denise, please see https://docs.google.com/document/d/10OG5Yad8r3FqHGB6zD06NtwWmpEI9NMexCVwNUQBWMI/edit?usp=sharing and edit the menu. Make sure it fits on one page, thanks.

[2015-04-08 13:51] marc-hanheide commented on #90
You shall be using this interface to update the menu every week, if that's ok.

[2015-04-08 14:53] denisehe commented on #90
so should it be updated per week or do we have a daily list?

[2015-04-08 16:13] marc-hanheide commented on #90
your call, really. This page is yours. Put horse pictures on it :smirk: or the menu (make sure the horses don't look yummy, though). It is displayed on the robot "as is", so if you want to put a daily menu on, then you'd have to update it every day. Or if we have a weekly menu, then that is displayed.

[2015-04-09 08:21] marc-hanheide opened #93 "video annotation with timestamps"
image topic in, overlay in the right bottom corner with rostime and human-readable datetime (in seconds).
Even add waypoint and current task, please

[2015-04-09 08:33] #39 closed

[2015-04-09 08:33] #41 closed

[2015-04-09 08:35] #23 closed

[2015-04-09 08:35] #38 closed

[2015-04-09 08:38] #18 closed

[2015-04-09 08:38] #20 closed

[2015-04-09 08:38] #27 closed

[2015-04-09 08:38] #79 closed

[2015-04-09 08:38] #83 closed

[2015-04-09 09:01] marc-hanheide opened #94 "[info-terminal] set priority of task in infremen"
... from a new param `task_priority` as soon as https://github.com/strands-project/strands_executive/tree/priorities is merged

[2015-04-09 09:02] marc-hanheide opened #95 "[aaf-walking-group] set priority of tasks"
see #94

[2015-04-09 09:02] marc-hanheide opened #96 "[bellbot] set priority of tasks"
see #94

[2015-04-09 09:18] PDuckworth commented on #49
@cdondrup Argh sorry! I totally missed this issue!

I am fairly busy with the security deployment system. I am also not sure what update you require. This node is just a subscriber/publisher, and just converts a quantitative distance into a qualitative relation "near" or "far".

[2015-04-09 09:33] marc-hanheide opened #97 "[infremen] don't set execution to true"
see here:
https://github.com/strands-project/aaf_deployment/blob/indigo-devel/info_terminal/infremen/src/infremen.cpp#L551

you mustn't make this call, as another component is in control of changing the executors status.

[2015-04-09 09:57] denisehe opened #98 "[all Szenarios] Voice outputs"
Hi @marc-hanheide @cdondrup @yianni @mzillich

here is a list of voice outputs we thougth of so far. They can of corse be adapted, modified etc. but it think we can see next week!

Infoterminal
When it ends infoterminal, drives off
Achtung, ich mache mich wieder auf den Weg! Bis zum nächsten Mal!

Engaging People to interact
Hallo, möchtest du Information zum Wetter haben? Dann drücke auf meinen B

[2015-04-09 11:04] denisehe opened #100 "AAF Pilot Test"
Our agenda for the Pilot Test @marc-hanheide @mzillich @cdondrup @nilsbore @Jailander @ToMadoRe

•	Testing Scenarios
•	Introduction back-ends
•	Feedback Interview
a.	AAF
b.	Older adults (spontaneously)
•	Voice Outputs (what should be said when)
•	Check loging
•	Testing new webcam (quality, best angle etc.)
•	Test walking Video (quality, view etc.)
•	Test legibility during Walking Group
•	Test legi

[2015-04-09 15:11] cdondrup commented on #88
Setting swappiness to `10` seems to be a fair assumption and prevents swapping if not necessary to prevent PC from freezing.. Will test further.

[2015-04-09 15:20] cdondrup opened #103 "[info_terminal_gui] Doesn't start when started from a launch file"
Apparently `web.py` assumes that the `name` tag in the launch file represents the port. This is the error:
[code]

This is the launch file statement that doesn't work:
[code]

[2015-04-09 15:56] cdondrup commented on #94
Do we really need a parameter? This can be set in the gcal interface, right?

[2015-04-09 16:07] marc-hanheide commented on #94
no, because infremen implements another _routine_ besides GCal...

[2015-04-09 20:56] cburbridge commented on #28
![events](https://cloud.githubusercontent.com/assets/259580/7076663/d6a4b1b0-df02-11e4-9a84-7593261e3243.png)

You can test it from my branch: https://github.com/cburbridge/aaf_deployment/tree/events

The ORF news feeds don't provide nice thumbnails. Also the wordpress blog feed provides HTML formatted entries that can mess up the layout, you will need to make sure they are large font and well sca

[2015-04-09 21:10] cburbridge commented on #89
![menu](https://cloud.githubusercontent.com/assets/259580/7076974/1dcbe78c-df05-11e4-9436-286cd68d8f23.png)

On my "menu" branch: https://github.com/cburbridge/aaf_deployment/tree/menu

If it is ok then open a PR, but it will include the events page changes and my other PR should be merged first..

[2015-04-09 22:07] marc-hanheide commented on #89
Nice. Well you open a PR?

[2015-04-09 22:09] marc-hanheide commented on #28
OK, what about stripping out only the description from the RSS of WordPress? No images etc...

[2015-04-09 22:11] #82 closed

[2015-04-09 22:13] marc-hanheide commented on #103
Is fixed by #105

[2015-04-09 22:13] #103 closed

[2015-04-10 06:32] marc-hanheide commented on #96
Silly me. Not needed

[2015-04-10 06:32] #96 closed

[2015-04-10 06:33] marc-hanheide commented on #95
Silly me... Not really needed

[2015-04-10 06:35] marc-hanheide commented on #93
Can we make this component so it also uses @cdondrup s "censoring" node, e.g. blank the video when in no recording zones.

[2015-04-10 06:37] marc-hanheide commented on #37
I suppose this is done @gestom ?

[2015-04-10 06:40] marc-hanheide opened #107 "add prios to gcal"

[2015-04-10 06:41] marc-hanheide opened #108 "on_demand tasks in staff interface"

[2015-04-10 06:42] marc-hanheide opened #109 "apache setup control pc"

[2015-04-10 07:14] Jailander commented on #93
No problem I'll liase with @cdondrup to make it that way

[2015-04-10 07:40] gestom commented on #37
With a few exceptions:
1) /task_executor/set_execution_status service is still called (this was needed for testing)
2) Was working quite OK with task_executor_top, but seems to have issues with task_executor_mdp.

[2015-04-10 07:47] marc-hanheide commented on #37
OK, cool. The /task_executor/set_execution_status can also be called manually via `rosservice call /task_executor/set_execution_status '{status: true}'`
The MDP one is interesting. It shouldn't have any effect with that, should it?

[2015-04-10 08:02] hawesie commented on #37
No, it shouldn't. In https://github.com/strands-project/strands_executive/issues/173 we're waiting to see more output to see what's going on.

[2015-04-10 08:22] marc-hanheide opened #111 "[info-terminal] layout fixes for events page"
see #110 for a discussion of the changes needed.

[2015-04-10 08:22] #95 closed

[2015-04-10 08:25] cdondrup commented on #93
The example in the [readme](https://github.com/strands-project/strands_navigation/blob/indigo-devel/topological_logging_manager/README.md) should work for this already.

[2015-04-10 08:27] marc-hanheide commented on #93
not exactly. I want the video to be black (or something else) rather than not being send. This is so we can have a continuous video without having to fiddle with many out of sync video files in the analysis later.

[2015-04-10 08:27] marc-hanheide commented on #95
nice to see we're both confused :smirk:

[2015-04-10 08:28] marc-hanheide commented on #94
yes, this was indeed an accident...

[2015-04-10 08:28] cdondrup commented on #93
Yes, in the case of the node not publishing, which is only when it dies, this would lead to no video being saved. Maybe just using the bool topic in a separate callback would be better, yes.

[2015-04-10 08:30] cdondrup commented on #94
It's just because I linked this as closed in the PR. But my confusion is at an all time high, yes :D

[2015-04-10 08:42] marc-hanheide commented on #93
If I understand the readme correctly, the node wouldn't publish anything when at censored areas. But we want it still to publish images, just black ones...

[2015-04-10 08:56] marc-hanheide opened #112 "video recording of image topics (interaction cam and head cam)"
Here is a "tested" solution:

1. `rosrun topic_tools throttle messages /head_xtion/rgb8/image_mono 1 /record/head`
1. `rosrun image_view video_recorder /image:=/record _fps:=1 /camera_info:=/head_xtion/rgb8/camera_info _codec:=fmp4 _filename:=record.avi`

The feed that should be recorded should first be annotated via #93, and the throttling should occur before the annotation.

This call shall be i

[2015-04-10 08:57] marc-hanheide commented on #112
Oh, here's the link to the used video_recorder node: https://github.com/ros-perception/image_pipeline/blob/indigo/image_view/src/nodes/video_recorder.cpp

[2015-04-10 09:58] cdondrup commented on #93
"Whenever the robot is at a node that is in the white list, the script publishes true, false otherwise." It only doesn't publish if it dies. this is meant as a security precaution. So if you have a synchronised callback, it will either publish true or false depending on if you are at a whitelist node or not, but if it dies it doesn't publish and therefore the callback is not called any more.

[2015-04-10 10:04] marc-hanheide commented on #93
okok, convinced.

[2015-04-10 10:07] cdondrup commented on #93
But I actually talked to @Jailander, he will use the timestamped bool but in a separate callback. If this is too old, he will switch to a blank image, assuming the node dies but still publishing to not interrupt the recording.

[2015-04-10 17:58] marc-hanheide commented on #111
works now

[2015-04-10 17:58] #111 closed

[2015-04-10 17:58] #107 closed

[2015-04-13 07:51] marc-hanheide opened #121 "safety measures"
- [x] `magnetic_barriers` is turned on (EBC parameters per default `laser_rear` turned on)
- [ ] put monitors in place for and call the emergency node (@jailander)
  - chest_cam publisher
  - odometry
  - laser
- [x] set up email notifications
- [x] test cliff detection (@nilsbore) and calibrate

[2015-04-13 07:57] marc-hanheide commented on #121
The RearLaser needs to be enabled in https://github.com/strands-project/scitos_drivers/blob/indigo-devel/scitos_mira/resources/SCITOS-G5.xml#L13 surposingly (@cburbridge to confirm)

[2015-04-13 08:05] #32 closed

[2015-04-13 08:07] marc-hanheide commented on #97
@gestom did you do anything about this yet?

[2015-04-13 08:08] marc-hanheide commented on #97
It's a bit urgent with us testing in Vienna, or shall I do it?

[2015-04-13 08:13] #16 closed

[2015-04-13 08:14] nilsbore commented on #121
@Jailander Please monitor `/move_base/points_subsampled`, check that it's publishing at least at 2 FPS.

[2015-04-13 09:41] gestom commented on #97
Currently being tested by jenkins

[2015-04-13 09:58] gestom commented on #97
IMHO can be merged: https://github.com/strands-project/aaf_deployment/pull/117

[2015-04-13 13:26] #109 closed

[2015-04-13 13:33] nilsbore commented on #17
Ok, I had a first look at topics to log during AAF deployment: https://github.com/strands-project/aaf_deployment/wiki/Topics-to-log-during-deployments. Please could @bfalacerda have a look at the monitored nav topics to see if they make sense. @Jailander could you have a look at topological nav topics? And @mudrole1 , I could not find so many topics to log from the scheduler, could you also have a

[2015-04-13 13:41] hawesie commented on #17
@nilsbore `/task_executor/events` is already logged in the node itself, as are scheduling problems but the executor.

[2015-04-13 13:55] #97 closed

[2015-04-13 13:55] #89 closed

[2015-04-13 13:56] #42 closed

[2015-04-13 14:18] nilsbore commented on #17
@hawesie So we shouldn't log anything from the executor here?

[2015-04-13 14:20] marc-hanheide commented on #17
Are these logged via mongodb_log? I want it all in one Format/place to ease later analysis.

[2015-04-13 14:34] hawesie commented on #17
@marc-hanheide everything I mentioned above is done by the message store which is exactly what mongodb_log does anyway.

@nilsbore I think it's all covered unless @marc-hanheide or @mudrole1 think of other things.

[2015-04-13 17:12] yianni opened #125 "[bellbot] new updates and fixes - how to handle pull request?"
I've updated various things both in the aaf_bellbot package and mainly in the strands_hri/bellbot_gui to fix former issues. Namely,

* No longer tries to write on where the deb packages are installed rather it uses .ros/bellbot and aaf_bellbot folders instead. The latter can also be changed to .ros/bellbot if it is deemed that aaf_deployment goes to the deb packages or there is not write access in

[2015-04-13 17:22] cdondrup commented on #125
I think it's best if you just open a PR so we can have a look and know which branch to check out.

[2015-04-13 17:22] #125 closed

[2015-04-14 10:29] nilsbore commented on #17
So I'm running into a bit of a problem as mentioned on gitter. If @hawesie could have a look at this I would be grateful. You can try by using my `logged_topics_list` branch: https://github.com/nilsbore/aaf_deployment/tree/logged_topics_list . Run using `roslaunch aaf_logging topics.launch`. This doesn't work for me, but if I change to only log 5 topics (up until `/goal`), it works. It doesn't see

[2015-04-14 15:13] marc-hanheide opened #131 "diverse tasks"
- make wait_node set max_duration
- make wait_node interruptible
- add charging_task based on wait_node
- add maintenance_task based on wait_node
- make upload_task non interruptible

[2015-04-15 09:27] nilsbore commented on #17
So me and @marc-hanheide found the source of this. If you look at https://github.com/strands-project/mongodb_store/blob/hydro-devel/mongodb_log/scripts/mongodb_log.py#L435 , it seems like `mongodb_log` is blocking other topics from subscribing until the previous ones have been announced and `mongodb_log` can get their type.

[2015-04-15 10:52] nilsbore commented on #17
https://github.com/strands-project/mongodb_store/pull/125 addresses the mentioned issue.

[2015-04-15 14:49] nilsbore commented on #17
@hawesie The next problem is that the same node name is assigned to all the worker nodes launched in `mongodb_log.py` when launched via roslaunch, as detailed in https://github.com/strands-project/mongodb_store/issues/116 . Is there a plan for fixing this or should we launch this from a bash script?

[2015-04-16 07:13] hawesie commented on #17
I think that's easy to fix. At the moment all these issues are a bit spread around, so please make me an ordered list of things you'd like me to fix + deadlines.

[2015-04-16 07:25] denisehe opened #142 "[Pilot Trial] feedback comments"
Dear @hawesie @marc-hanheide, @nilsbore, @ToMadoRe, @Jailander, @mzillich, @yianni, @cburbridge,

again thank you for all your efforts :-) From what I saw these days I can realy say that the robot performs already better than during its last deployment :-) So far I reseived positive feedback from people over here - thus we are all very curious about the trial in may!

Following you will find a lis

[2015-04-16 07:34] nilsbore commented on #17
Ok, cool. The things that are left is this + the issue you opened. I'll drop some comments there.

[2015-04-19 16:32] hawesie opened #143 "log overall system start and stop"
To allow us to judge how long the system runs for, please can someone add some logging to the AAF system on overall start up and shut down? For G4S this is done in the routine as follows:

[code]

[2015-04-19 20:00] hawesie opened #144 "default robot screen?"
What do you have on the robot's screen when it's not doing any particular task?

[2015-04-20 08:03] marc-hanheide commented on #144
Nothing... currently all finished tasks leave the screen as it was. So the tasks decide the last page to be displayed. Bellbot shows a news page currently, walking group shows nothing (but it will be changed to display a farewell, right @cdondrup?). But as we have the info-terminal running when don't do anything else, it will most of the time show that, or - in other words - our robot is almost ne

[2015-04-20 08:05] cdondrup opened #145 "[aaf_walking_group] show goodbye screen after finished."

[2015-04-20 08:06] cdondrup commented on #144
Yes, it will @marc-hanheide #145 ;)

[2015-04-20 08:14] marc-hanheide commented on #143
You may want to look at https://github.com/strands-project/aaf_deployment/blob/indigo-devel/aaf_logging/scripts/start_stop_logging.py which is what we schedule as a task in the morning and evening respectively. Maybe we should have a chat about the "routines" at AAF and how we use GCal etc. I feel there is some confusion, and it my be useful for you guys, too.

[2015-04-20 08:14] marc-hanheide commented on #143
Still @cdondrup do we want to add the above code to https://github.com/strands-project/aaf_deployment/blob/indigo-devel/aaf_logging/scripts/start_stop_logging.py ?

[2015-04-20 08:20] cdondrup commented on #143
I don't think so. If I understand correctly, this should log when the robot starts and when it stops and not just when the day starts and ends. So actually our robot will hopefully run longer than for the few hours between the start and stop of the logging nodes. We talked about having a node to start the execution of the scheduler and to resume after an emergency. I think it should go in there. L

[2015-04-20 08:35] marc-hanheide commented on #143
Ah, sorry... misread this indeed. You're of course right. So, we could create a node "`routine_starter.py` or something that does all this?

[2015-04-20 08:41] cdondrup commented on #143
For example, yes. If you want to create an issue for that node, you can assign me for now if you don't want or don't have time to do it.

[2015-04-20 10:14] hawesie commented on #143
Yep @cdondrup is right, just at the start of the whole multi-week run :four_leaf_clover: and at the end :checkered_flag:

[2015-04-20 18:54] cdondrup commented on #112
Closed via #138

[2015-04-20 18:54] #112 closed

[2015-04-22 10:05] marc-hanheide opened #146 "testing on Linda"
we need to get a continuous deployment on Linda up and running of the AAF system. This shall be based on the "linda" branch, but needs to pull all the relevant changes from "indigo-devel" first. I suggest we actually pull all changes from indigo-devel into linda, making a copy of the original "linda" workspace first and then re-introduce the few Linda-specific things back.

Can we please then get

[2015-04-22 11:47] marc-hanheide commented on #146
I have just fast-forwarded the linda branch and rebased on indigo-devel. That means I have reintroduced all the local changes required for Linda (hopefully) and this should now work for linda. We should still develop and merge into indigo-devel, and then update the linda branch by doing `git rebase indigo-devel`, _not_ `git pull`, please.

I think, this branch can now be checked out and tested on

[2015-04-22 11:48] marc-hanheide commented on #146
Just check https://github.com/strands-project/aaf_deployment/compare/linda to see the differences between werner and linda.

[2015-04-22 11:50] marc-hanheide commented on #146
BTW, I created a tag "[linda_pre_predeployment](https://github.com/strands-project/aaf_deployment/tree/linda_pre_predeployment)" right before fast-forwarding the branch to make sure we can check back.

[2015-04-22 11:55] marc-hanheide commented on #146
Also, @cdondrup should know

[2015-04-22 11:58] denisehe opened #147 "[walking group] prolong Henry's walking group deployment"
hey @hawesie @marc-hanheide @cdondrup @TobKoer

we just checked the dates for the deployment of the robot  and saw that we will lose one monday therapy session and one thursday therapy session due to bank holidays!

Therefore we considered if it would be possible to have the robot for guiding the walking groups in the week after the end of the official tiral (15th and 18th of june).

Than we would

[2015-04-22 12:20] marc-hanheide commented on #147
I wouldn't see a problem with it but @mzillich should have his say as its their robot and they might want it back to prepare for the review.
If it had been running for four weeks then it's not a problem for us to run it another, IF HdB is still happy to have it around.

[2015-04-23 08:58] TobKoer commented on #147
Dear all,

I think there is no problem to have Henry a little longer for a balanced evaluation of the walking group (I also could imagine this to be the “care-task” reviewers might be most interested in)

Cheers,
Tobias.

[2015-04-23 13:07] nilsbore opened #148 "[aaf_logging] Add throttling"
We need to add throttling of some topics, particularly the tf, when logging. We should probably have something like three different tiers of throttling. @hawesie Is there support for throttling in `mongodb_log`? I remember reading something about it but I can't find an option. The alternative is to add throttling nodes in between.

[2015-04-23 14:05] hawesie commented on #148
No, there isn't a throttle option. You could add one though!

Or else `rosrun topic_tools throttle` for each topic to be throttled.

[2015-04-23 14:16] nilsbore commented on #148
Yeah, I'll leave that for after the deployment =P. Let's go with separate nodes.

[2015-04-24 06:47] marc-hanheide commented on #148
Simply throttling /tf doesn't sound like a good idea, as different nodes publish different parts if the tf tree in that topic st different rates. If you simply throttle /tf you only let through e.g. one message per second I think. Regardless where it came from. All others will be dropped and we'll likely never have a full tf tree stored. Or did I get this wrong?

[2015-04-24 08:02] nilsbore commented on #148
Honestly I don't really know, I though that it would be the whole tree. I guess we can check the size of each individual message to see if it varies.

[2015-04-24 17:04] lucasb-eyer commented on #88
.02$: Turning down swappiness is a good idea, but in my experience swapping usually happens because of one process leaking or otherwise going crazy. Given enough time, an easy way to detect that is either checking htop while swapping occurs (needs patience) or disabling swap altogether (`sudo swapoff -a`) for one session and look at which process crashes.

[2015-04-24 17:09] lucasb-eyer commented on #148
@marc-hanheide is right with the individual parts of `tf` at different rates. In my experience, `/tf` is negligible in size, and mongodb is supposed to be good at handling tons of small writes.

[2015-04-24 17:10] nilsbore commented on #148
See https://github.com/strands-project/aaf_deployment/pull/149 for relevant discussion.

[2015-04-24 17:12] cdondrup commented on #88
This was mainly an issue because of too many components running on the main PC with only 4GB RAM. With the new more distributed set-up (especially getting rid of the java bits) this is not as big an issue any more. Swapping would only occur when additional behaviour is launched, like the walking group or bellbot. The only problem with this is, that there is still enough RAM but the swappiness leve

[2015-04-24 19:24] cdondrup opened #150 "[aaf_walking_group] Setting sound volume"
As required in #142

Maybe @marc-hanheide or @nilsbore are best to answer this:

If I would like to set the sound volume for several components using the pygame managed player, would that be possible even after they have been started? Would that be the best way of achieving volume control during the walking group? I could just set the system volume and reset it after the group ends, which would be

[2015-04-24 20:13] marc-hanheide commented on #150
we _could_ extend the pygame player to support this... not a big deal. Setting system volume is another alternative, I suppose... I'm a bit agnostic here.

[2015-04-26 16:54] cdondrup commented on #150
I think there is two drawbacks to both:
- Changing system volume always entails the possibility that it is not reset correctly and that therefore all the components executed after the group might have no sound. This would only concern the asking for help I guess?!
- Changing only the pygame volume does not allow to make it louder than the current system volume, which does not give the user full co

[2015-04-27 08:38] cdondrup commented on #34
Video is also working now: https://github.com/strands-project/strands_ui/pull/91
Done.

[2015-04-27 08:38] #34 closed

[2015-04-28 09:19] #131 closed

[2015-04-28 09:29] marc-hanheide opened #157 "upload videos from last walking group to media centre"

[2015-04-28 09:29] #15 closed

[2015-04-28 09:29] #28 closed

[2015-04-28 09:29] #37 closed

[2015-04-28 09:29] #77 closed

[2015-04-28 18:51] cdondrup opened #158 "[aaf_walking_group] Stopping between resting areas"
Instead of setting a high distance value for the stopping, we could have designated waypoints. @santosj can you please have a look how complicated, i.e. how much additional work, that would be? We could used tagged nodes and just stop when current node has a specific tag maybe?

[2015-04-29 13:15] #145 closed

[2015-04-29 13:15] #150 closed

[2015-04-30 08:30] #158 closed

[2015-05-04 07:15] TobKoer opened #166 "Hangouts"
Dear all,

jut to make sure: Do we have our hangout today at 10:00 again or tomorrow?
For the future, in general, Monday’s at 10AM is a very inconvenient time for me to participate, as I usually work with patients Monday and Friday mornings.
I'm afraid, I have to ask to change the date for future hangout meetings.

Cheers,
Tobias.

[2015-05-05 07:54] denisehe opened #167 "[walking group] - demo for therapists next week"
hi @marc-hanheide @cdondrup @nilsbore @Jailander @mzillich @taketwo

I talked to the therapists yesterday and as ther are two of them who never interacted with the robot yet we would like to shedule a demo for them next week.

The therapists are free to do so next Tuesday, 12th of may from 3:30pm.

Is that possible?

@mzillich. is wolfang to be found on github? could you also assign him to this th

[2015-05-05 08:07] mzillich commented on #167
I asked Wolfgang for his githug account. @marc-hanheide, you would have to add him then.

[2015-05-05 08:39] lobinho commented on #167
hi,
that would be fine. I'll be there.
wolfgang

[2015-05-05 11:07] marc-hanheide commented on #167
OK, should be fine.

[2015-05-05 11:30] marc-hanheide opened #168 "AAF testing"
- [x] new topo map
- [x] regular info terminal
- [x] scheduled walking group
- [x] scheduled info_task
- [x] scheduled bellbot
- [x] emergency stop
- [ ] staff interface
- [x] data upload task

@Jailander @cdondrup @mzillich @denisehe

[2015-05-05 11:31] marc-hanheide commented on #168
tick off the things we tested an comment below for observations

[2015-05-05 11:36] denisehe commented on #168
ok!

[2015-05-05 11:37] denisehe commented on #168
could you also assign tobias to this issue!

[2015-05-05 11:47] denisehe commented on #167
Great!

[2015-05-05 11:50] denisehe opened #169 "[walking group] list of waypoint names"
dear @cdondrup @Jailander, @marc-hanheide, @TobKoer

as promissed some names for the waypoints during walking group:

Rastplatz Ambulanz
Rastplatz Frisör
Rastplatz Kapelle
Rastplatz Teeküche

are there any more that need renaming?

[2015-05-05 12:09] cdondrup commented on #169
Thanks, I don't think so. I'll rename them for the demo next week. Today they will have rather arbitrary names still.

[2015-05-05 12:12] denisehe commented on #169
okay - thats fine! :-)

[2015-05-05 12:52] cdondrup commented on #168
@TobKoer

[2015-05-05 15:24] cdondrup commented on #168
- topo map: Still need to move the "Cafeteria" waypoint but need to wait until the furniture is back where it belongs. Influence areas need to bigger for most of the waypoints.
- scheduled bellbot, info_terminal, and emergency behaviours will be tested on Thursday by @Jailander and @TobKoer, given the scheduler works again.
- walking group was tested without the scheduler. Will add a page when the

[2015-05-06 07:18] TobKoer commented on #168
We'll do another test-run for the bellbot at AAF with Jaime and Wolfgang tomorrow.

[2015-05-06 08:07] denisehe opened #172 "[bellbot] - evaluation questions"
hey @yianni - somehow I forgot to note down our final questions for the bellbot evaulation - do you have the 5 questions agian for me?

Our old issue here on github seams to have gone!

Cheers Denise

[2015-05-06 10:16] gatsoulis commented on #172
On 06/05/15 09:07, denisehe wrote:

See the following link:
https://github.com/strands-project/aaf_deployment/blob/indigo-devel/aaf_bellbot/conf/locale.ini

Not sure if a native has translated these.

Regards,
Yiannis

[2015-05-06 13:07] marc-hanheide commented on #168
@cdondrup is my list of tasks at https://github.com/strands-project/aaf_deployment/wiki#tasks-that-can-be-scheduled complete and correct? These should be the tasks we put in the google calendar to see them being scheduled and executed in the test, IMO.

[2015-05-06 13:28] marc-hanheide commented on #172
Pretty sure the answer is "no":

[code]

If you want to have a go at providing the right German questions here, @denisehe I'll put them on.

[2015-05-06 13:49] denisehe commented on #172
Yes please!

[2015-05-06 13:55] marc-hanheide commented on #172
Then please provide them 😉

[2015-05-06 17:17] cdondrup commented on #168
The bellboy task is actually called `bellbot_launch` which is quite unintuitive, so we could change it.

[2015-05-07 07:10] denisehe commented on #172
q1 = Ich bin mit dem Botenservice des Roboters zufrieden
q2 = Es ist praktisch einen Botenroboter zu haben
q3 = Ich würde den Botenroboter wieder benutzen
q4 = Ich fand den Botenroboter einfach zu bedienen
q5 = Ich war mit der Geschwindigkeit des Roboters zufrieden

[2015-05-07 07:55] denisehe opened #173 "[AAF deploy] - voice outputs"
Hey @marc-hanheide - are the voice outputs actually already implemented?

Cheers Denise

@TobKoer

[2015-05-07 10:05] marc-hanheide commented on #173
nope...

[2015-05-07 11:27] cdondrup commented on #168
setting max duration of info_task doesn't work.

[2015-05-07 11:27] cdondrup commented on #168
data is not replicated but task succeeded. Wrong collections or wrong times.

[2015-05-07 11:28] cdondrup commented on #168
bellbot, doesn't work. See gitter.

[2015-05-07 11:44] cdondrup commented on #168
In go_to_safety_node free run is not enabled.

[2015-05-07 11:57] denisehe commented on #173
We think that has to be done on some point before the real deployment as some feedback is required.

[2015-05-07 16:53] marc-hanheide commented on #173
Then please prioritise for me which ones are most urgent.

[2015-05-08 09:49] TobKoer commented on #173
I haven't heard any so far, but what is of high priority is:
- emergency (robot asking for help)
- robot canceling a task or idle behaviour in order to start another task (i.e. the robot should say something/indicate why it is driving off instead of just driving off. This is very irritating when using the robot as info-terminal)
- recovery behaviour: the robot should explain that it is doing somet

[2015-05-08 09:54] denisehe commented on #173
hey I have to leave early today, I sent tobias the list of voice outputs and he will prioritice things!

[2015-05-08 10:00] TobKoer commented on #173
Okay, I'll try:
1. Info-terminal ending/robot driving off
2. Recovery-behaviour (so far, we haven't planned for this, but robot should indicate what is happening, e.g. "Please wait. I am currently re-starting"... or something like that.
   3.Robot asking for help
3. Bellbot procedure voice outputs + thanks at the end
4. stopping during patrolling for info-terminal
5. engaging people to interact

a

[2015-05-08 10:10] TobKoer commented on #168
Hi, cdondrup has already commented on the test runs, but quickly from my side:
most issues tested, but scheduler not working; bellbot not working; issues with bellbot display (usability almost zero for older users or people not used to touch screen menus);
- bellbot: display still a mix of German and English
- bellbot: remove status guiding with map and instead show direction arrows (like in the w

[2015-05-08 11:59] cdondrup opened #176 "Task monitor to manage voice output"
* Subscribing to `/task_executor/events`
* Using parameters to define what to do for which action type at what event

Solves #173 and #98

[2015-05-08 12:01] cdondrup opened #177 "Control node to start/stop/reset robot via service call"
e.g. setting execution status to true, recover after hitting magnetic barriers, etc.
Solves #143

[2015-05-08 13:11] TobKoer opened #179 "AAF deployment"
@yianni, @marc-hanheide, @mzillich, @ToMadoRe @cdondrup @cburbridge @denisehe
Dear all,

set-up phase starts Monday. Wolfgang and Thomas will arrive at AAF around 9:00.

Any special agenda?
Should we start a new hangout for communicaton - when is everyone else available?

Cheers.

[2015-05-08 13:15] marc-hanheide commented on #179
We have our usual hangout starting at 10 your time. I suggest, we have that and start also only at 10, as we won't be available before 9 (our time).

[2015-05-09 20:00] cdondrup commented on #157
Do we do that manually from the videos we record anyway or do we want a dedicated node that records (where allowed) and uploads?

[2015-05-09 20:06] cdondrup commented on #88
Worked fine for the last few weeks on Linda. Changed it on Werner to be 10 by default.

[2015-05-09 20:06] #88 closed

[2015-05-10 14:37] cburbridge commented on #88
See discussion on g4s deployment gitter.. Roscpp memory leak and
odometry_mileage are the problem.

Worked fine for the last few weeks on Linda. Changed it on Werner to be 10
by default.

—
Reply to this email directly or view it on GitHub
https://github.com/strands-project/aaf_deployment/issues/88#issuecomment-100539603
.

[2015-05-10 15:04] cdondrup commented on #88
I'm not on the g4s chat. What was the consensus on how to fix it? Not running it?

[2015-05-10 15:05] cdondrup commented on #88
But regardless of leaks, the memory is very limited on the main PC and setting the swappiness does help response time.

[2015-05-10 19:42] #169 closed

[2015-05-11 00:04] #143 closed

[2015-05-11 00:19] #177 closed

[2015-05-11 10:08] TobKoer commented on #179
Hi,

demos/trainings are scheduled tomorrow at 13:00 (UK time) with the receptionists
and at 14:30 (UK) for the therapists (walking group)!

So we have to plan around this.
Let us know what your plans are form a technical side, and when AAF staff is definitely needed.
Cheers.

[2015-05-11 10:43] cdondrup opened #194 "Update launch files with new nodes"

[2015-05-11 13:34] #176 closed

[2015-05-11 13:55] cdondrup commented on #167
I preparation you could print a few of these: https://github.com/strands-project/aaf_deployment/blob/indigo-devel/aaf_walking_group/doc/card.pdf and hand them to the therapists to try themselves.

[2015-05-11 15:42] Jailander opened #198 "Add build temporal model action to routine"
we have to add the action `/topological_prediction/build_temporal_model` to the routine/calendar this is needed for improving mdp estimation, it should run at least once a day and will take up to one minute  https://github.com/strands-project/strands_navigation/blob/indigo-devel/strands_navigation_msgs/action/BuildTopPrediction.action

[2015-05-11 16:27] cdondrup opened #199 "[control_ui] feature requests"
- [x] A list of scheduler events, e.g. the last 10 events of the `/task_executor/events` topic.
- [x] demand tasks: charging (with set time)
- [ ] pause / resume scheduler
- [x] potentially html5 video stream of henry's screen
- [x] rosout logging

Please add more requests if you're missing anything.

[2015-05-12 10:42] marc-hanheide opened #201 "check recovery behaviours in walking group"
it asked for interaction help, but that should be disables.

[2015-05-12 11:07] cdondrup commented on #201
Thinking back, it also played the "Noooo" sound. So that was the walking group recovry. If we don't want a website, @nilsbore would have to take it out.

[2015-05-12 12:51] denisehe opened #204 "[bellbot] - external events for robo-shedule"
hi @marc-hanheide @cdondrup @Jailander @TobKoer

I have the external events for the first trial week. I will list the times of the seminars - please could you shedule the robot to be at his place already 15 minutes in advance.

18.5. - 08:30 - Seminar Quality Live - Seminarraum 1
19.5. - 08:30 - Seminar Quality Live - Seminarraum 1
19.5. - 13:00 - Konferenzraum 1
20.5. - 09:00 - Qualitätsmanagemen

[2015-05-12 14:08] cdondrup commented on #199
Changing on demand tasks to regular task being scheduled now with high priority. providing a sensible max_duration so they do end at some point

[2015-05-12 15:59] marc-hanheide commented on #204
Do you want it to show info-terminal for all this?

Then, can @Jailander please translate these into waypoints for me?

[2015-05-12 16:18] Jailander commented on #204
- Konferenzraum 1-> Konferenzraum
- Seminarraum 1 -> Feuerloescher
- Konferenzraum 3 -> WayPoint66

Seeing this need I'll try to make this more human firendly ;)

[2015-05-12 16:23] #90 closed

[2015-05-12 16:23] #94 closed

[2015-05-12 16:24] marc-hanheide commented on #93
done, right?

[2015-05-12 16:24] #93 closed

[2015-05-12 16:24] #167 closed

[2015-05-12 16:59] marc-hanheide commented on #204
OK, they are all in the [schedule](https://www.google.com/calendar/embed?title=Henry%27s%20geplane%20Aufgaben&showTitle=0&showCalendars=0&showTz=0&mode=WEEK&height=600&wkst=2&hl=de&bgcolor=%23FFFFFF&src=henry.strands%40hanheide.net&color=%23B1365F&ctz=Europe%2FBerlin)

[2015-05-12 16:59] #204 closed

[2015-05-13 06:58] denisehe opened #210 "[all szenarios] feedback and failureprotocol on task testing"
hey @marc-hanheide @cdondrup @Jailander @TobKoer following I will summarize things and issues that cam up during the testing yesterday:

Backend:
Nostop did not work, robot continued its patrole

Safety:
Henry drove against the walking stick of an elderly lady. as the bumper was released it started again, but the lady was still there - it was really a hairy situation - therfore: would it be possib

[2015-05-13 07:56] Jailander commented on #210
Hi @denisehe :

Is this the safety stop issue or is it something different?

[code]

[2015-05-13 08:23] marc-hanheide commented on #210
## A few comments and questions:

Yes, @Jailander, I think it is. Did you fix it yet?

---

@nilsbore can you have a look at this request for:

So, could you see if we could a wait in the recovery behaviour, please? I think it does make sense.

@denisehe I can imagine it was a bit "hairy". While we certainly do our best to avoid such situations, it's not always entirely unavoidable. BTW, just the

[2015-05-13 08:29] marc-hanheide commented on #199
That's in #209, but only marginally tested yet.

[2015-05-13 08:30] marc-hanheide commented on #199
And #209 is already running on the control-pc for werner, so simply test it, please

[2015-05-13 09:12] cdondrup commented on #210
Indicators:

Indicating the correct direction, is not as easy as it might seem as we have to calculate it from the path the robot might take. Maybe @santosj can have a look if some parameters can be tuned.

---

I'll have a look at that today

---

Yes, will do.

---

Easily done. Do you have a specific location in mind? Otherwise, I'll just pick one.

---

This is a general bug, will fix.

I'll o

[2015-05-13 09:22] Jailander commented on #210
https://github.com/strands-project/strands_navigation/pull/245 and https://github.com/strands-project/scitos_drivers/pull/109 Should do it, however there is still an issue with an action server not being preempted properly, all odds are in monitored navigation but I will do some testing to make sure.

I only need to add the content for the stations, on the respective nodes but in the map @denisehe

[2015-05-13 09:26] nilsbore commented on #210
@denisehe Do you have any preference on what sound to play when the robot fails during a walking group? I suggest something like: https://www.youtube.com/watch?v=yJxCdh1Ps48 .

[2015-05-13 09:26] cdondrup opened #211 "Try to enhance indicator reliablity"
There are some magic numbers in there that could be fiddled with.

[2015-05-13 09:27] cdondrup opened #212 "Make indicator node a stand alone package and run it continuously."

[2015-05-13 09:28] cdondrup opened #213 "[walking_group] Stop playing music and videos when "back" button is pressed."

[2015-05-13 09:30] cdondrup opened #214 "[walking_group] Loop through pictures automatically instead of having buttons."

[2015-05-13 09:31] cdondrup commented on #210
#211 #212 #213 #214

[2015-05-13 09:32] Jailander commented on #210
I really don't know what to do about this one, I don't think any WayPoint is stupid now I have already added more and made bigger influence areas they are also very straight now, but as long as we need the waypoints in one side of the corridor this will keep happening I see no solution within the deployment time frame

[2015-05-13 09:33] cdondrup commented on #210
Is there a way of reconfiguring the global planner to not try and go to the centre of the corridor between the waypoints?

[2015-05-13 09:35] Jailander commented on #210
no you can play with the inflation radius but that is minimal now, @bfalacerda has tested many different configurations and it doesn't help, as I have said many times the only 100% safe solution would be to use a non-movebase navigation on this edges

[2015-05-13 09:40] nilsbore commented on #210
@cdondrup I am implementing an RRT based planning approach for a course, this is something that would be nice to incorporate in this. Won't be ready for the deployments though.

[2015-05-13 09:41] denisehe commented on #210
@nilsbore - hi yes, that sound is cool :-)

[2015-05-13 09:43] denisehe commented on #210
@Jailander  I would make it that you can enter station XXX and that the robot brings you then to the lift and tells you what floor you have to go to

so that entering the station would be enough. because I think nobody would assume to enter "lift ..." (just to be on the safe side)

[2015-05-13 09:46] Jailander commented on #210
@nilsbore that sounds really good :+1: we definitely need more options on the local planner side, should definitely try that, however I don't think changing the whole navigation system during the deployment would have been a good idea anyway.

[2015-05-13 09:48] Jailander commented on #210
@denisehe as @marc-hanheide said there are no instructions implemented in the gui (I can definitely add them in the content), but if you search for station X it will appear lift to station X in the search bar, could that be intuitive enough?

so that entering the station would be enough. because I think nobody would assume to enter "lift ..." (just to be on the safe side)

[2015-05-13 09:50] denisehe commented on #210
@Jailander yes as far as I can imagine it should be fine like that ;-)

[2015-05-13 09:52] bfalacerda commented on #210
what's the problem with the zig zagging? You have waypoints only on one side of the corridor, but when connecting them the robots makes an arc through the middle? is it a global or local planner issue?

[2015-05-13 09:53] denisehe commented on #210
@bfalacerda yes the robot plans from node to node but the nodes are sometimes not on a streight line, so the robot goes furhter to the middle reaches a node goes furhter to the side again - or that is a general navigation issue the robot shows although the points are on a line. I can not tell

[2015-05-13 09:56] Jailander commented on #210
no, now the nodes are on straight line

@bfalacerda  the problem is the arc between the waypoints, so yes local planner Issues

[2015-05-13 09:57] Jailander commented on #210
do you have any idea about this @bfalacerda?

[2015-05-13 10:12] cdondrup commented on #210
- global planner issue

[2015-05-13 10:44] bfalacerda commented on #210
so the global plan is already an arc? and the local planner happily follows? I guess it happens because the waypoints are really close to one side of the corridor?

The only way I know to control global plans now is via nogo maps, but that's a bad idea in  a corridor...

[2015-05-13 10:55] Jailander commented on #210
When I was testing I saw the local planner drifting away from the original plan not the local planner, but since I moved the waypoints closer to the walls I'll test again and find out, any ideas for the global planner

[2015-05-13 10:59] bfalacerda commented on #210
if its the local planner you might be able to get it to follow the global plan ,ore closely tweaking these http://wiki.ros.org/dwa_local_planner?distro=indigo#Trajectory_Scoring_Parameters

If its the global planner, no suggestions. I assume that it should do straight line plans, unless the waypoints are pretty close to one side of the corridor

[2015-05-13 11:00] Jailander commented on #210
Ok I'll try that thanks!!!!

[2015-05-13 14:12] nilsbore commented on #210
@marc-hanheide I have found a good sound for the walking group, how do I upload it to the media server? SSH?

[2015-05-13 14:44] cdondrup opened #216 "[info_terminal] Change infremen default params"
Default values should be:

[code]

This seemed to work quite well today.

[2015-05-13 15:19] marc-hanheide commented on #210
https://lcas.lincoln.ac.uk/henry/ usual login

[2015-05-13 15:20] marc-hanheide commented on #210
ah, wait... that won't work for file upload, right... Stick the file on dropbox and then wget on werner?

[2015-05-13 21:50] marc-hanheide opened #219 "[store_logs] parse the collections parameter correctly"
see
* https://github.com/strands-project/aaf_deployment/blob/indigo-devel/aaf_logging/launch/logging.launch#L21-L25
* https://github.com/strands-project/aaf_deployment/blob/indigo-devel/aaf_logging/scripts/store_logs_task.py#L41

Look here for doing it correctly: https://github.com/strands-project/aaf_deployment/blob/indigo-devel/aaf_waypoint_sounds/scripts/aaf_waypoint_player.py#L37

@cdondrup th

[2015-05-14 15:01] cdondrup commented on #219
As I said on gitter, if you have a list of strings you can also call the upload once for each element. No need to have a json for that.

[2015-05-14 16:16] marc-hanheide commented on #219
don't get it... see gitter

[2015-05-14 16:30] #213 closed

[2015-05-15 10:03] #219 closed

[2015-05-15 11:07] #212 closed

[2015-05-15 11:38] hawesie commented on #143
@marc-hanheide this was the issue. I've checked the code and @cdondrup is logging the right things for the analysis scripts so no additional work is needed.

[2015-05-15 14:10] cdondrup opened #229 "Check waypoint whitelist"
WayPoint90 is missing for sure.

[2015-05-15 15:39] #172 closed

[2015-05-16 21:21] #214 closed

[2015-05-17 19:12] cdondrup opened #232 "[aaf_logging] What to start"
@nilsbore we just realised we never ran you logging script. Are the changes in here still valid: https://github.com/strands-project/aaf_deployment/pull/137 ? Should we start the script?
Why is `/tf` in there. It's already done via `mongodb_log_tf` node, isn't it?

[2015-05-17 19:28] nilsbore commented on #232
Yes, that should be valid although it's been updated since, so if you look at https://github.com/strands-project/aaf_deployment/blob/indigo-devel/aaf_logging/scripts/run_aaf_logger.bash there is no tf in there? The bash script is the thing to run, together with the stuff I added to your logging launch file.

[2015-05-17 19:35] marc-hanheide commented on #232
Also, am I right this logs into the database `roslog` on mongo? And then into individual collections in that db named according to the topics? I'm asking because we only upload data from `message_store`. Can this be changed? What are the options?

[2015-05-17 19:36] nilsbore commented on #232
Yes, that's correct

[2015-05-17 19:43] marc-hanheide commented on #232
OK... then we need to replicate from more than one db :-(
That's a little annoying as it means that we need to extend https://github.com/strands-project/aaf_deployment/blob/indigo-devel/aaf_logging/scripts/store_logs_task.py#L41 to work with several DBs. But I see there's no other way.

[2015-05-17 19:44] marc-hanheide opened #233 "[store_logs] support multiple databases"
use a YAML dict to configure databases (key) with appropriate collections (value), an empty value should mean "all collections".

[2015-05-17 19:44] marc-hanheide commented on #232
see https://github.com/strands-project/aaf_deployment/issues/233

[2015-05-18 09:15] denisehe commented on #232
@marc-hanheide and @nilsbore @mzillich relevant for logging:

during infoterminal the robot does sometimes not turn its head/eyes/kinect towards the users (to the back)

[2015-05-18 09:18] denisehe opened #234 "[safety] - bumper release and action time"
hi @nilsbore I just hit the robot a cuple of times ;-)

the timing fits really well! no adjustments required.

the only thing that happened was that after I hit the robots bumper its navigation failed from then onward so that interventions by wolfgang were necessary.

@marc-hanheide

[2015-05-18 09:42] marc-hanheide opened #235 "[aaf_bellbot] should not be interruptible when currently guiding"
but should be otherwise. So we need to monitor the state machine here, and change `self.interruptible` in https://github.com/strands-project/aaf_deployment/blob/indigo-devel/aaf_bellbot/scripts/start_bellbot.py

[2015-05-18 09:43] nilsbore commented on #234
@denisehe That's good to hear. So it waited some time and then it continued? Do you have any idea why it failed? It doesn't sound like it has anything to do with the bumper being pressed if it continued moving after a little while?

[2015-05-18 09:49] marc-hanheide commented on #232
@denisehe that's when the actual task had ended and the robot is preparing to do something else. It still shows the info terminal though.

[2015-05-18 11:15] denisehe commented on #234
yes, it waited and than cuntinued. :-)

hm I am not sure why the naviagion failed actually, it occured just after hitting the bumper when the robot started after its pause again.

but we could test it agian laiter on and see if the same thing occurs!

[2015-05-18 11:24] denisehe opened #236 "[file manager] upload problems"
hey @cdondrup @marc-hanheide @mzillich

I cannot upload any picutres in the file manager.

what can be the problem?

I thought about the file size but I already uploaded one pic with a quite big size and there it went very well

[2015-05-18 11:32] denisehe commented on #232
okay but it was standing like that for more than 10 minutes ;-)

[2015-05-18 11:58] denisehe commented on #98
Hey @marc-hanheide @TobKoer
following you will find the most important things henry should be saying!

Infoterminal
Hallo, du kannst auf meinen Bildschirm drücken um Informationen abzurufen!
Wenn du Informationen abrufen möchtest, klicke einfach auf meinen Bildschirm!

Bellbot
Introductional Sentence, Telling people what to do, Should he explain what user has to do
Hallo! Ich kann dir helfen Räume

[2015-05-18 12:00] cdondrup opened #237 "[walking_group] No pictures in aaf_walking_group_pictures photo set"
Did some one delete something in there? There were pictures before. They have to added otherwise the robot won't show any during the walking group. @denisehe did you change something?

[2015-05-18 12:02] denisehe commented on #237
nope - I just wanted to add pictures in general and it did not work!

[2015-05-18 12:04] denisehe commented on #237
ah @cdondrup I know why, I removed the general windows pics from the general repository!
I added our pics now.

[2015-05-18 12:05] cdondrup commented on #236
This might have something to do with it:

[code]

Maybe @marc-hanheide or @cburbridge have an idea... Otherwise, can some one delete the picture from the data centre? @marc-hanheide ?

[2015-05-18 12:05] cdondrup commented on #237
But then you have to add them to the `aaf_walking_group_pictures` image set please.

[2015-05-18 12:10] cdondrup commented on #237
I see you added pictures again. For the next walking group this should work then.

[2015-05-18 12:10] #237 closed

[2015-05-18 12:31] denisehe commented on #237
yes sorry, I could not do anything before the file manager was not responding!

[2015-05-18 12:48] denisehe opened #238 "[bellbot] - fix appointments"
hey @marc-hanheide @Jailander @cdondrup @TobKoer

here I send you the list with fixed external events that will happen this week. It would be cool if the robot could start bellbot about 15 min before!

Dates  - starting time - room the event takes place in
19.May - 08:30 - Seminarraum 1
19. May - 13:00 - Konferenzraum 1
20. May - 09:00 - Seminarraum 1
21. May - 08:30 - Konferenzraum 3

starting po

[2015-05-18 12:50] marc-hanheide commented on #232
then it had nothing to do for 10 minutes... Agreed not ideal

[2015-05-18 15:12] marc-hanheide opened #240 "[infremen] don't modify tasks as it makes the scheduler choke"
New idea:

Whenever there was an interaction, we set the `interruptible` flag in the task-server true for a fixed period, e.g. 30 seconds. This will stop the robot from wandering off in the middle of an interaction.

The we comment out https://github.com/strands-project/aaf_deployment/blob/6cbfb26b7719952deb111b386ff5e1a0e3505dd5/info_terminal/infremen/src/infremen.cpp#L568-L572 to stop infremen f

[2015-05-18 15:12] marc-hanheide commented on #240
@gestom liaise with @cdondrup and @Jailander on this.

[2015-05-18 18:10] #235 closed

[2015-05-19 06:46] denisehe opened #244 "URGENT!!!!!"
@hawesie  @marc-hanheide @cdondrup

anybody up yet????? please do call me urgently!!!!

0043 01 401 99 1111

[2015-05-19 06:57] #244 closed

[2015-05-19 07:03] denisehe opened #245 "Henry status"
Hi @hawesie @marc-hanheide @cdondrup @Jailander @nilsbore

due to construction work in our house today a big soft carpet is layed out in the lobby area, after talking to michael and failed attemts to reach anybody else we agreed to switch the robot off to prevent him driving over the carpet and causing any trouble.

Any attemts to send the robot into the charging station or activate notstop via my

[2015-05-19 07:05] denisehe opened #246 "back end failure"
dear @marc-hanheide @cdondrup

I tried to use the backend today (send the robot to the charging station or notstop) and it did not work!

Which was really nerves tearing as it really was a kind of emergency situation!

So please have a look what went wrong and how to fix this!

Thanks!

bw
Denise

[2015-05-19 09:22] #245 closed

[2015-05-19 09:22] #246 closed

[2015-05-19 09:22] #240 closed

[2015-05-20 07:32] denisehe opened #248 "[media server] problems"
hi @marc-hanheide @cdondrup

I checked the picture and music files - over night everything was deleted (exept music in the genral file manager) - but as I just saw now all the picutre and music sets are deleted/empty - so the ones you @cdondrup  installed for walking group that were connected to behavior etc.

what can we do?

[2015-05-20 07:41] marc-hanheide commented on #248
we know and are working on it. It's still early here ;-)

[2015-05-20 07:43] denisehe commented on #248
yes right, I always forget about the time-difference ^^

[2015-05-20 08:17] cdondrup commented on #248
Recreated the info terminal image set. That should work, please test.
One of the images is broken: IMG_6629.JPG

[2015-05-20 08:22] TobKoer commented on #248
- I've seen a lot of rabbits and guinea-pigs.
  This looks all good now again.

[2015-05-20 10:37] Jailander opened #249 "Fix Tags When Painters are Gone"
**Infoterminal** Tag HAS to be set back to nodes:

- Kindergarten
- WayPoint68
- WayPoint15
- WayPoint4

Using
[code]
Should do the trick

*ALSO* **no_go** tag MUST be removed from **WayPoint89** this can be done with:
[code]

[2015-05-20 11:40] TobKoer commented on #173
Hi;
any news on this. Implementation status?
Cheers.

[2015-05-20 11:47] cdondrup commented on #173
Already working on robot

---

Has been localised to german already

---

I could write a node that listens to the state and says text based on a config file, might be better than hard coding it in the state machine. Any better ideas @marc-hanheide @Jailander ?

---

Currently the robot won't stop I'm afraid.

---

There is no engagement

---

Already working **Edit**: If the task has to be carrie

[2015-05-20 11:50] TobKoer commented on #179
@yianni, @marc-hanheide, @mzillich, @ToMadoRe @cdondrup @cburbridge @denisehe

status paint works: the good news: the painter is not in the house tomorrow! So walking group can be scheduled as planned!!
He will return either on Friday or some weekend(!) to finish his parts in the therapy area.

[2015-05-20 11:55] hawesie commented on #179
Any chance someone at AAF could document this decorating excitement with a couple of photos? E.g. just some pictures of the area with the mat etc.

[2015-05-20 13:04] marc-hanheide commented on #173
Yes, a little component that listens on the state is preferable for bellboy voice output.

[2015-05-20 14:26] cdondrup opened #251 "[info_terminal] Don't show 'continue reading' link in news page"
For the aaf news every article has a link to an external website. This should be removed as it allows to access the internet and opens in a new tab, preventing people from ever returning to the info_terminal interface.

[2015-05-20 14:40] denisehe commented on #251
thanks for noticing !

[2015-05-20 15:27] Jailander commented on #249
Already did this, Painters are gone for now. Will reopen when painters come back.

[2015-05-20 15:27] #249 closed

[2015-05-20 21:16] marc-hanheide opened #253 "[info-terminal] news items on blog too long to fit screen"
Please restrict any blog post on http://henrystrands.wordpress.com to maximum of 10 lines.

[2015-05-21 06:26] denisehe commented on #253
aye aye sir! ;-)

[2015-05-21 06:38] denisehe commented on #236
@cdondrup @marc-hanheide
good morning, upload works perfectly now :-)

a question to you @cdondrup: are the pictures on the robot shown always in the same order or randomly?

[2015-05-21 06:44] denisehe opened #255 "[walking group] - feedback"
hello @cdondrup @marc-hanheide @hawesie @TobKoer

I spoke to the therapists from mondays session yesterday - and although of the incident with the whealchair (what really needs fixing on some point) - they are still positive about having henry accompanying the sessions.
they explained that the monday session was very complicated partly due to the fact that the clients were very difficult that day.

[2015-05-21 06:47] hawesie commented on #255
Excellent feedback, thanks!

At some point would be it be possible to film the walking group and Henry? This would be great for the review talks. We wouldn’t make it publicly available.

[2015-05-21 06:59] denisehe commented on #255
I plan to bring my camera on some point to document the procedure. I think filming would be okay in general if patients are just visible from behind (most patients do have advocates and we can not film just like that).

[2015-05-21 07:38] mzillich commented on #255
This sounds really good!
Just in case you need it, TUW has a Sony Handycam which makes quite decent movies.

[2015-05-21 07:42] denisehe commented on #255
@mzillich great thanks, good to know! I got myself a canon with cam functionality and would like to test it. but in case of truble I know whome to call ;-)

[2015-05-21 08:34] #251 closed

[2015-05-21 08:48] cdondrup commented on #236
In the same order.

[2015-05-21 08:50] cdondrup commented on #255
That's great feedback. Thank you @denisehe !
Let's hope today will be better. The speed of the robot will be slower to prevent such wheelchair incidents or at least make them less likely. Please, if possible, ask the therapists afterwards if they were still satisfied with the speed.

[2015-05-21 08:56] denisehe commented on #255
yes fine! Okay, I will ask them and let you know - probably tomorrow as I have to leave directly after the session today!

[2015-05-21 08:58] cdondrup commented on #255
OK, thank you.

[2015-05-21 09:03] denisehe commented on #236
ok - would it be easy to switch to a random mode?

if not same order is okay. I just thought that it might enhances interest if another picture is visible in the beginning motivating persons to click further.

what do you think?

[2015-05-21 09:14] cdondrup commented on #236
Really random wouldn't be a problem. Intelligent random (not showing images twice) might. That could be changed but since I am leaving for two weeks on Sunday, I don't have time to change things that are working, sorry. If someone else volunteers, it shouldn't be too hard.

[2015-05-21 09:26] denisehe commented on #236
normal random would be fine! no further wishes ;-)

could you do that before you leave or do I have to ask somebody else to do it?

oh, cool where do you go?

[2015-05-21 09:31] cdondrup commented on #236
I am going to Seattle and have a lot of other stuff to do before I leave. This would be very low on my priority list, sorry. I can try but I wouldn't count on it being done in time.

[2015-05-21 09:33] denisehe commented on #236
@cdondrup ok no problem - so have a good flight and nice time overseas! I will ask mark - so no worries about it!

@marc-hanheide: hi, as discussed with christian - would it be possible for you to change the picture galaery to a simple random mode? I think it would be more engaging if the galeriy starts with different pictures thus inducing a kind of novelty effect for persons who already had a lo

[2015-05-21 09:48] marc-hanheide commented on #236
I can only confirm what @cdondrup said, nice to have, but low on my priority list, I'm afraid. It's marking crazyness these days and I cannot afford to further fall behind with that.

[2015-05-21 09:48] marc-hanheide commented on #236
please open a new issue for this and assign me, then there's a chance I'll take care of it early next week.

[2015-05-21 09:49] #236 closed

[2015-05-21 09:56] denisehe opened #257 "[infoterminal] picture galery at random"
@marc-hanheide here is the issue with the request about switching the picture galery at random

thanks!

[2015-05-21 13:32] TobKoer commented on #255
as @denisehe mentioned: filming from behind is okay (after getting okay from therapists, which won't be a big problem I guess).
If we want to show more details and at the same time stick to code of ethics we wuld have to blur out faces, even when presenting only to reviewers.

[2015-05-21 13:41] denisehe commented on #255
@cdondrup @marc-hanheide @hawesie @mzillich @Jailander @nilsbore

hey you all - it was just amazing!!!!!!!!!!!!!!!
I think we can really be proud of what was accomplished since the winter school!

It was a really cool and joyful atmosphere - elderlies were interested in the robot, the pictures, the music, they sang and danced along - one lady did not even walk normally anymore but moved to the sou

[2015-05-21 13:45] mzillich commented on #255
I can tell that you are happy :)
Very cool to hear!

[2015-05-21 13:49] hawesie commented on #255
This is amazing.

With my coordinator hat on we need to make sure we can record this if possible, and also get the feedback/results that demonstrate this improvement.

Excellent work all!

[2015-05-21 14:04] denisehe commented on #255
yes we have the before during and after observation protocols, ratings from therapists ans observers from every group during the trial as well as before and after, and group discussions in the end with all participating therapists.

films: I think henry films anyway except in the waiting are

I will bring my cam once and probably also our PR department

[2015-05-21 14:06] cdondrup commented on #255
I am very proud of henry. :) I had a smile on my face the whole time I remotely observed the group to intervene if there are errors. Really made my day seeing everyone so happy. I even saw kisses handed out to the therapists while looking at some of the pictures (which we should have on film)
Let's hope it stays that way. Thank you very much for the observations and the feedback @denisehe !

[2015-05-21 14:10] denisehe commented on #255
yes it was really really great - I still swim in the mood of the walking group!

yes that sequence was very lovely indeed - also the dancing while waiting in the beginning!!!

and during the second group four more doors of the administration wing were opened - I assume to notice when Henry and the group pass by again :-)

yes lets hope it stays that way - let the technical stuff be with us ^^

:-D

[2015-05-21 14:18] TobKoer commented on #255
By the way: feedback was also that Henry's speed is fine for therapists (I think Christian reduced it in general); so we can stick with that.

[2015-05-21 14:24] cdondrup commented on #255
Great, thanks. The speed is just the normal movement speed of henry now and not increased any more.

[2015-05-21 15:10] marc-hanheide commented on #255
:+1:

[2015-05-22 06:16] denisehe opened #259 "[walking group] - videos"
hey @marc-hanheide - could we please get the extracted video files from yesterdays WG and mondays - so that we can put it on the robot for the next WG!

thanks!

[2015-05-22 08:02] denisehe opened #260 "[infoterminal] menu"
@marc-hanheide @mzillich
hey, I was informed that the menu is not always updated although I update it every morning!

[2015-05-27 07:18] denisehe commented on #259
@marc-hanheide hey its me again - as tomorrow is our next walking group I would need the video from last thursdays session please!
the therapists already asked for the video!

Thanks, Denise

[2015-05-27 08:17] marc-hanheide opened #263 "[werner] side PCs becoming unresponsive"
We first had this after the walking group on Thu 21/5/15. As left-cortex wouldn't reboot, we had to open Werner and fix it. @lobinho did a great job and said:

Then on 27/5/15 again, both side PCs were dead in the morning. They had to be rebooted by @TobKoer but came up again afterwards. Post-Mortem analysis carried out leading to the following observations:

* `werner-left-cortex` seems to have d

[2015-05-27 08:38] marc-hanheide opened #264 "[aaf_logging] mogodb_log logging never worked properly"
This was due to the topics logging started remotely on `werner-left-cortex` where `ros-indigo-mongodb-log` was never installed. This had gone unnoticed so far. Fixed at 27/5/15 8:36 UTC.

[2015-05-27 09:33] marc-hanheide commented on #259
On it. Have you got software and knowledge to edit the video? It's from the whole day so needs to be cut.

[2015-05-27 09:44] denisehe commented on #259
Ok!

No, we do not have any special software. Hm I thought that you have this fance programm where we can get any output we want ;-)

[2015-05-27 10:06] marc-hanheide commented on #259
well... that tool is for watching annotation aligned with video, not for editing them...

[2015-05-27 10:15] mzillich commented on #263
all looks fine now, temperatures are ok.
i noticed that logging people upper body detector takes 120% CPU time. not nice, but should be ok.
right now I can't open the robot, will do that after lunch.

[2015-05-27 10:17] marc-hanheide commented on #263
@mzillich can you provide information on the power wiring in the robot? Is the network switch powered via `werner-left-cortex`?

[2015-05-27 10:26] mzillich commented on #263
will check once Tobias is done with observation.

 btw, what's Werner's internet-wide address?

[2015-05-27 10:28] marc-hanheide commented on #263
https://lcas.lincoln.ac.uk/werner/

No need to do it now, I'd say. I'm sure it will die again ;-)

[2015-05-27 10:30] denisehe commented on #259
ok. what software is required? any special recommendations?

[2015-05-27 13:02] cdondrup commented on #259
I'd suggest Windows Movie Maker because it should be preinstalled with every Windows distribution. Here is [a quick tutorial](http://windows.microsoft.com/en-us/windows-vista/getting-started-with-windows-movie-maker)

[2015-05-27 13:05] cdondrup commented on #259
@marc-hanheide after @denisehe has cut the video, please make sure the encoding is correct and it plays in the html5 webplayer. I only know that h264 should work, but other formats might as well.

The video set for the walking group is already in the media server; it should be the only one here. Just upload it and add it to the set.

[2015-05-27 13:07] marc-hanheide commented on #259
I cut it myself... It plays in owncloud (html5 player), so I hope it's alright. See email.

[2015-05-27 13:10] mzillich commented on #263
I opened Werner now.
werner-left-cortex is still powered by the old power supply. that might well be a reason it died.
the network switch has its own power connector, leading to the 12 V from the EBC.

So we will need some downtime to exchange the power supply eventually.

[2015-05-28 12:43] marc-hanheide opened #265 "Scitos Node crash and video not playing"
as reported in https://github.com/strands-project/scitos_robot/issues/10#issuecomment-106298027 the scitos node crashed during the walking group. But it recovered after restarting twice.

Also, the video of last week's group did not play apparently, although it worked fine when tested remotely. However, thinking about it, the test was in Chrome not Firefox...

[2015-05-28 13:16] marc-hanheide opened #266 "walking group finished successfully after 5 minutes"
[code]

The scheduler decided or got notified that the task was successful (for whatever reason) after exactly 5 minutes. @cdondrup any idea? I manually triggered it via the axclient and it worked again. The staff at HdB say they might have pressed the wrong button.

This task had been an on demand task via the web gui as below:

[code]

[2015-05-28 13:26] marc-hanheide commented on #265
Another scitos_node crash just now. This time the component had to be manually restarted, as it didn't crash with a segfault, but reported all the CRC errors, without killing the process

[2015-05-28 13:26] marc-hanheide commented on #265
we need a watchdog for this at least, @cdondrup @nilsbore ?

[2015-05-28 14:18] denisehe opened #267 "[robo crashes] what can we do??"
hey @marc-hanheide @mzillich @hawesie @TobKoer

again it gave complaints about the robot driving into wheel chairs - three today!

I know we keep fussing about it, but it really is a problem!

what can we do about it? christian already slowed it down - but still, the problem occurs.

can you think of any technical solutions for that?

what can/should we do during this trial to not offend users ove

[2015-05-28 14:32] cdondrup commented on #267
You could play with the parameters for human aware navigation, but I think the main problem is that wheelchairs are not detected as people.

[2015-05-28 15:33] hawesie commented on #267
But HAN will just slow the robot down anyway, so why not just slow it down globally?

Are the wheelchairs appearing in the costmaps? Do we need a wheelchair detector?

[2015-05-28 15:36] marc-hanheide commented on #263
I have just checked the temperatures of all PCs, just to check if they are within working range:

[code]

[code]

[code]

So, it seems the temperatures are alright. However, we also see quite slow charging of around 2A only. We know this from Linda that when the cover is off it charges quite quickly, but when it starts heating up with the cover on charging can be as low as 1A.

[2015-05-28 16:57] cdondrup commented on #266
This happens if the robot is sent to the starting waypoint via the Auswahl feature. In theory, we could just remove that since it has never been used so far.

[2015-05-28 17:03] cdondrup commented on #265
Sounds bad. I do agree that we need a watch dog but, realistically, I can neither test nor have I much time to implement things atm.
Could we just implement a heart beat in the node and kill it when this stops? Respawn should take care of the rest.

[2015-05-28 17:24] marc-hanheide commented on #265
@cburbridge  any ideas on this?

[2015-05-28 21:02] cburbridge commented on #265
Adding a watchdog to the scitos node is quite easy. We could either use the ROS one (http://wiki.ros.org/watchdog_timer) or create our own. We could timeout if /odom does not get received from MIRA 5 seconds.

I prefer the option of using the ROS one, but it "does not try to reset any nodes or perform any other action. It's sole purpose is to notify that a node has failed to reset in time a watchd

[2015-05-29 05:51] denisehe commented on #267
I think @cdondrup already slowed the robot down globaly.

yes  - could something like a wheelchair detector be installed? already for this deployment?

this would really be of help!

[2015-05-29 06:13] denisehe commented on #266
yes - the therapist pressed the wrong butten - another possibility is to add a "back to menue" button

because sometimes elderlies do press on buttons and land in this certain menu and there is no way out

[2015-05-29 06:39] denisehe commented on #255
hey @cdondrup you asked for a feedback from yesterdays session - thus, here it is:

in both groups the robot had troubles starting as it was very narrow in the corridor - I already informed the therapists to if possible not park wheelchairs near the robot so that he can drive off easily.
I helped them starting the robot, as the patients were a bit restless.

during the drive the robot mixed nature

[2015-05-29 06:56] mzillich commented on #267
Is it that the robot does not see the wheel chairs, or parts of them?
Would it help then if the head camera would always look down to the nearest obstacle?

[2015-05-29 06:58] mzillich commented on #263
Seems we need an extra fan then.

[2015-05-29 07:01] marc-hanheide commented on #267
Making wheel chair detector is more of a master student's work, I.e. certainly will take months unless people like @lucasb-eyer or @mzillich have anything up in their sleeves. I wouldn't expect anything for this deployment but we can talk about it. I still would like to ask for more details:
Is this happening everywhere or particular in a specific area? Is the robot actively moving into the person

[2015-05-29 07:05] marc-hanheide commented on #267
If this happens this frequently, then, if you have not observed it yet, let's try to monitor it closely for a day or so. To finally see it happen and understand what is going on. There is no simple fix to it, so we need to really understand what the problem is. E.g. by observation or by doing test runs with wheelchairs.

[2015-05-29 07:30] lobinho commented on #267
I could run some tests with a wheelchair today. @TobKoer could provide one. But he would need the robot to be in the lobby at 14:00 local time.

[2015-05-29 07:30] denisehe commented on #267
hey, could you please also insert wolfgang (lobinho) to this issue - he is here and willing to test if we can get a wheelchair

well what happens is - that the robot has no sensors on its sides - therefore when a wheelchair is approaching from an sideways angle it does not detect the obstacle and goes along - this especially happens when going around corners, or when driving off from one waypoint

[2015-05-29 07:46] lucasb-eyer commented on #267
At first, this sounded like very much like what I reported in strands-project/strands_navigation#163 and which has also been witnessed by g4s people.

From the rest of the discussion, though, I think it's more of a navigation/planning issue than a detection issue. I believe we need two different sets of parameters:
- "tight office with agile people" where it's very important the robot still moves

[2015-05-29 10:33] marc-hanheide opened #268 "camera restart"
head_xtion did not publish anymore, so I restarted it manually. Another watchdog use case I suppose, @cburbridge @cdondrup? We might want to have a more general watch dog as @cburbridge already suggested.

[2015-05-29 10:36] cburbridge commented on #268
I have a structure for one and I'll try and finish it soon, hopefully by Monday.

[2015-05-29 11:10] marc-hanheide commented on #268
cool!

[2015-05-29 16:27] cdondrup commented on #255
Thank you for the feedback!
Regarding the sound, just change the volume on the robot in general to be a bit quieter. Then this should fix it.
The easiest solution for the wrong button press list to just removed it I think. Has it ever been used?

[2015-05-31 14:42] mzillich commented on #267
@marc-hanheide : what I meant with the head camera looking down is just to avoid the cases when the robot does not see people coming from the side.
So if the robot would use the head camera more actively to scan for obstacles, this should get rid of those cases, right?

[2015-05-31 16:24] marc-hanheide commented on #267
yes, if we would be using the head camera to see obstacles, which we don't at the minute, also due to limitation in what we can process.

[2015-06-01 05:44] denisehe commented on #255
No it has not been used.

yes, the thing is that the volume starts always off at the highest level. e.g. after navigation falure if I remember right it starts very loud again, or after resting.
although we put it to an lower level before

[2015-06-01 12:46] marc-hanheide opened #270 "[walking-group] therapists click wrong buttons"
turns out the therapists are even less reliable than the robot :smile:

They pressed "Abbruch" after 15 minutes into the tour and carried on without the robot...

@cdondrup we need to take this option out, I think.

right @denisehe ?

[2015-06-01 12:56] lobinho commented on #270
I think at least a prompt to confirm would be a good idea.

[2015-06-01 13:03] marc-hanheide commented on #270
I have temporarily removed that button from the GUI...

[2015-06-01 13:39] lobinho commented on #270
I asked the therapist after the session and she said that neither she nor a patient clicked Abbruch. But she was not 100% sure..

I also want to mention that I heard somebody clicking and then the music started playing just for like half a second. Then the music stopped and the menu did not respond anymore. It seems like the task had stopped.
I don't know, what would happen, if Abbruch was clicked

[2015-06-01 13:52] marc-hanheide commented on #270
I'm pretty sure "Abbruch" was clicked. The logs all point  that way. Maybe after the started the music accidentally. It's a touch screen, so things like this can easily happen. As I said, I disabled that "fatal" button.

[2015-06-02 08:08] denisehe opened #271 "[infoterminal] feedback & required changes"
hey there @marc-hanheide @mzillich @TobKoer
- I took over tobiases infoterminal-observations and found out the following:
1) the term "Veranstaltungen" needs to be replaced by "Neuigkeiten" in the gereral menu
2) is there a possibility to create a time out for the submenues - e.g. going automatically back to the main menu after a time of not beeing used.
people end the interaction in the submenue

[2015-06-02 09:10] marc-hanheide commented on #271
The first one is fixed (when restarted in a few minutes), the second one is a complicated feature request... It will always reset to the start page when it does a new info terminal. Again, if we just go back while people are reading, it will be more irritating than useful. So, I don't think there is an easy answer to that problem.

[2015-06-03 13:27] TobKoer commented on #270
@marc-hanheide @lobinho @denisehe
So, what if something happens in the group now. Shall we tell therapists to simply abandon the robot?
I think this happened once before, when some resident simply walked off and had to be searched for by therapists. In this case now, there is no way to tell the robot that the walking group is cancelled and it will just keep standing somwhere?

[2015-06-03 13:34] denisehe commented on #270
probably a confirming button would be best!

[2015-06-03 14:09] marc-hanheide commented on #270
yes, probably would, but I have no time to implement this any time soon. As we are remotely with the robot anyway, we can still cancel this if needed.

[2015-06-05 09:26] TobKoer commented on #270
@denisehe
agreed!

[2015-06-08 13:24] marc-hanheide opened #274 "[walking-group] movebase_state_service died"
[code]

[2015-06-08 13:51] marc-hanheide commented on #274
This was a follow-on from the scitos_node being unresponsive. This got detected by the new [watchdog](https://github.com/strands-project/strands_apps/pull/43), but unfortunately, the `scitos_node` did not come up as inteneded but was stuck at "booting...". Subsequently, it got kill again and then started properly, but then `movebase_state_service` died. A manual restart of the navigation in tmux s

[2015-06-09 09:13] cdondrup commented on #274
Regarding the joystick, maybe setting up or updating (https://github.com/strands-project/scitos_apps/commit/72e1112c7a0988d5faa2576ce4c5eb735f4e0905#diff-ea96a46c672680c6c7951d698e6b4436) the udev rules would help. I noticed that sometimes it needs a reboot before the joystick is recognised correctly.

[2015-06-09 11:06] denisehe opened #275 "[AAF deploy] - errors"
Hey there,

unser Henry steckt mal wieder fest – error response am screen – kann sich da bitte jemand von euch dazuspielen.

Aber mal wieder typisch, wolfgang verlässt die szenerie und henry streitk ^^

Lg Denise

[2015-06-09 11:35] mzillich commented on #275
@ToMadoRe can you log in and check? I am stuck in meeting

[2015-06-09 11:35] cdondrup commented on #275
We're on it. The chest calibration was lost. Trying to fix it but the internet is too slow over there...

[2015-06-09 14:33] #275 closed

[2015-06-09 14:34] marc-hanheide opened #276 "chest camera stopped publishing and calibration off"
for some reason the chest camera stop publishing and the calibration was completely off when restarted. It needed recalibration.

[2015-06-10 16:13] cdondrup commented on #265
I would like to download the video of the group but the internet at aaf is too slow. Do we have that anywhere else, @marc-hanheide ?

[2015-06-10 16:16] marc-hanheide commented on #265
on owncloud:
https://lcas.lincoln.ac.uk/owncloud/index.php/apps/files/?dir=%2FSTRANDS%20data%2Fdatasets%2FAAF_y2%2Fedited

On 10 June 2015 at 17:13, Christian Dondrup notifications@github.com
wrote:

##

---

Dr. Marc Hanheide
Reader in Computer Science
Room MC3221B
University of Lincoln
Brayford Pool
Lincoln, LN6 7TS
Phone: +44 1522 88 6966
EMail: marc@hanheide.net
Web: http://www.hanheide.net
sk

[2015-06-10 16:34] cdondrup commented on #265
The video works fine for me in the walking group interface in firefox.

[2015-06-10 17:09] marc-hanheide commented on #265
On Werner or Linda?

[2015-06-10 17:09] cdondrup commented on #265
On my PC

[2015-06-10 17:21] cdondrup commented on #265
Works on Linda as well.

[2015-06-10 17:59] marc-hanheide commented on #265
Yeah, I tested that myself. That worked. But not on Werner. I installed some more codecs for Firefox but now that I think about it, I might not have restarted the browser. That could explain... Maybe a browser restart would help?

[2015-06-10 18:41] cdondrup commented on #265
Internet is too slow to try anything... I'll try again tomorrow.

[2015-06-12 14:14] cdondrup opened #278 "Failing chest camera"
On 11/06/15 the chest camera failed irrecoverably. Restarting the openn_wrapper did not solve the problem. After investigating the problem, we found that the usb ports on the right-cortex are rather "dodgy". Replugging the camera until the openni_wrapper is able to open the device fixes the issue. Additionally, a small script by @marc-hanheide can reset the usb port and solve the problem. Several

[2015-06-12 14:17] cdondrup opened #279 "Playing a video killed the robot during the walking group"
On the video page we offered a next and previous button which lets people skip trough the video in the database. This resulted in the media_server eating about 50% of the available memory, causing heavy swapping and eventually the system to die.
This required a restart to recover.

We are now using a different user interface (XFCE) to save memory and changed the way video are displayed during the

[2015-06-15 08:02] marc-hanheide opened #280 "relaxed_nav enabled after seeing a lot of navigation preemption"
set `rosparam set relaxed_nav true` on Werner after the reboot, as I believe it was enabled before to increase changes of succeeding in navigation. Maybe @bfalacerda could check somehow *why* so many of our navigation tasks fail. If I send it via topo-nav directly it goes straight to the goal, but the executor often pre-empts navigation, even though it makes good progress towards the goal. Often a

[2015-06-17 12:45] hawesie commented on #255
@denisehe if you have any pictures of such awesome performance, please upload them with the others. I'd really like to include this positive stuff at the start of the review.

[2015-06-17 12:47] denisehe commented on #255
@hawesie  I uploaded all the material that I have in the repository marc suggested before.
due to data policy it was not possible to really film/take pictures during the woalking group - the only material we could use there is the material from henry itself!

[2015-06-18 06:56] hawesie opened #281 "aaf database"
When you're finished with the deployment, please can you make bits of the database available on ownCloud? I don't need all of it, but the message store collections  nav_stats, task_events, and scheduling_problems would be a great start. (using mongoexport)

[2015-06-18 16:01] marc-hanheide commented on #281
I dump the replication database and uploaded it: https://lcas.lincoln.ac.uk/owncloud/index.php/apps/files?dir=%2FSTRANDS%20data%2Fdatasets%2FAAF_y2%2Fmongodumps%2Fmessage_store_aaf_export_control-pc_2015_06_18

Pull all the splits form owncloud and put them back together with `cat message_store.tgz.splitaa message_store.tgz.splitab message_store.tgz.splitac > message_store.tgz`, then untar and imp

[2015-06-22 12:32] hawesie opened #282 "aaf timing info"
For the review analysis, please could someone provide me with:

 * [ ]  The start and end datetime of the whole deployment (i.e. when you think I should count stats from and when I should stop)
 * [ ] The working hours of the robot, i.e. 9am - 5pm
 * [ ] What days the robot took off due to application constraints (e.g. weekends)
 * [ ] A list of datetimes when the robot started and ended runs. It

[2015-06-22 12:59] cdondrup commented on #282
- Start date: 18/5/15
- End date: 17/6/15
- Working hours: 8 am - 5 pm local time Vienna
- Days off:
  - 23/5
  - 24/5
  - 25/5
  - 30/5
  - 31/5
  - 4/6
  - 6/6
  - 7/6
  - 13/6
  - 14/6

  Robot provided info-terminal at the charging station but wasn't allowed to leave during these days.

About the last point I would need to see a list of the beginning and end dates of the runs, maybe @marc-hanh

[2015-06-24 09:15] marc-hanheide commented on #282
It actually was active 9am-9pm

[2015-06-26 08:40] #282 closed

[2015-07-07 11:50] TobKoer opened #285 "Wheelchairs/sticks at AAF"
@marc-hanheide @mzillich @bleibe @lucasb-eyer @denisehe

As has been discussed during the review meeting, we can do studies/data colection with wheelchairs (maybe even real patients).
The vienna robot will be with us until Friday morning, so Thursday would be good for any activities in this direction.
However, what exactly is needed from your side? Videos? Videodata captured by the robot itself?
M

[2015-07-07 12:23] lucasb-eyer commented on #285
@Pandoro and me discussed this and would be willing to work on it.

We think that in the end, we'll have to go there ourselves and record some data, because possibly we want to record very specific scenarios difficult to describe. But what would already help us immensely in planning and possibly prototyping are RGB-D video, laser and odom (tf) recordings of moving wheelchairs with someone in them,

[2015-07-07 12:49] Pandoro commented on #285
@lucasb-eyer  summed up everything perfectly.

What I would like to add, road trips are fun, but if possible it would be nice to use Werner/Henry for this.

[2015-07-07 12:51] mzillich commented on #285
Yup, that should not be a problem.

[2015-07-07 13:11] TobKoer commented on #285
@lucasb-eyer @Pandoro @mzillich @denisehe
So, shall we plan for wheelchair recordings via Henry at AAF on Thursday?

Real patients? (cannot promise 100%) or just "anyone" in a wheelchair?
The sooner the details the better ;-)

[2015-07-07 13:52] marc-hanheide commented on #285
Hi

I can give you remote access to Werner so you collect the data you need.

Marc
On 7 Jul 2015 14:11, "TobKoer" notifications@github.com wrote:

[2015-07-07 13:53] marc-hanheide commented on #285
That said, remember to also store laser scans and all of tf.

Marc
On 7 Jul 2015 14:52, "Marc Hanheide" marc@hanheide.net wrote:

[2015-07-07 20:48] lucasb-eyer commented on #285
Yep, that was already included in my original post :) We actually have much higher hopes in laser than in RGBD for this, but we'll see. Details will follow tomorrow, and remote might be useful -> PM me on gitter.im.

[2015-07-08 10:22] TobKoer commented on #285
@lucasb-eyer @Pandoro @mzillich @denisehe @marc-hanheide

Hi -
apparently TUW will not be involved tomorrow.
What I can offer now is that at best AAF organises a wheelchair and (if needed) someone from us can move the wheelchair/in the wheelchair and you record the data remotely. Organising real patients and getting their consent is a bit too short notice now, unfortunately, but maybe we can ask p

[2015-07-08 12:38] TobKoer commented on #285
@lucasb-eyer @Pandoro @denisehe

hey,
I suggest we start a hangout tomorrow around 9:00 for the data capturing.

Okay for everyone?

[2015-07-08 16:57] lucasb-eyer commented on #285
whoa that's heavy, but I'll do my best to make it :)

[2015-07-08 19:37] TobKoer commented on #285
@lucasb-eyer
okay, make that 09:30 ;-)

[2015-08-15 13:47] MartinDesigner commented on #36
Try Createer.com. You can easily design online ads, responsive landing pages and print materials such as flyers, posters, covers, invitations and more. Createer lets you easily share your designs on social media, send them via email, download as HTML, image or PDF. Createer also includes 3,000 predesigned template (look here https://beta2.createer.com/Templates) s and over 250,000 images (illustra

[2015-08-17 09:05] #36 closed

[2015-09-23 08:55] #232 closed

[2015-09-23 08:55] #234 closed

[2015-09-23 08:55] #238 closed

[2015-09-23 08:55] #248 closed

[2015-09-23 08:55] #253 closed

[2015-09-23 08:55] #255 closed

[2015-09-23 08:55] #257 closed

[2015-09-23 08:55] #259 closed

[2015-09-23 08:55] #260 closed

[2015-09-23 08:55] #267 closed

[2015-09-23 08:55] #271 closed

[2015-09-23 08:55] #281 closed

[2015-09-23 09:02] #166 closed

[2015-09-23 09:02] #168 closed

[2015-09-23 09:02] #173 closed

[2015-09-23 09:02] #179 closed

[2015-09-23 09:02] #194 closed

[2015-09-23 09:02] #198 closed

[2015-09-23 09:02] #199 closed

[2015-09-23 09:02] #201 closed

[2015-09-23 09:02] #210 closed

[2015-09-23 09:02] #211 closed

[2015-09-23 09:02] #216 closed

[2015-09-23 09:02] #229 closed

[2015-09-23 09:02] #233 closed

[2015-09-23 09:02] #29 closed

[2015-09-23 09:02] #33 closed

[2015-09-23 09:02] #61 closed

[2015-09-23 09:02] #98 closed

[2015-09-23 09:02] #100 closed

[2015-09-23 09:02] #108 closed

[2015-09-23 09:02] #121 closed

[2015-09-23 09:02] #142 closed

[2015-09-23 09:02] #144 closed

[2015-09-23 09:02] #146 closed

[2015-09-23 09:02] #147 closed

[2015-09-23 09:02] #148 closed

[2015-09-23 09:03] #17 closed

[2015-09-23 09:03] #21 closed

[2015-09-23 09:03] #22 closed

[2015-09-23 09:03] #25 closed

[2015-09-23 09:03] #26 closed

[2015-09-23 09:03] #157 closed

[2015-09-24 08:18] TobKoer commented on #148
Hi -
what's the status of Y2 log data by the way?
I just like to remind once more that it was planned to use them for analysis this time around.

Cheers.

[2015-09-24 08:29] marc-hanheide commented on #148
Did you not see my email sent to you yesterday?

[2016-01-21 10:18] #263 closed

[2016-01-21 10:18] #264 closed

[2016-01-21 10:18] #265 closed

[2016-01-21 10:18] #266 closed

[2016-01-21 10:18] #268 closed

[2016-01-21 10:18] #270 closed

[2016-01-21 10:18] #274 closed

[2016-01-21 10:18] #276 closed

[2016-01-21 10:18] #278 closed

[2016-01-21 10:18] #279 closed

[2016-01-21 10:18] #280 closed

[2016-01-21 10:19] marc-hanheide opened #286 "logging"
check the logging is working as it should and is started in the main startup script. monitor daily!

[2016-01-21 10:21] marc-hanheide opened #287 "update the info screen according to feedback"
https://docs.google.com/document/d/16a7nOE-UchIGuOqc9v7XzLY1ZqCxY6rl4PqxY0NJ6CE/edit?usp=sharing

- [ ] menu for residents (to be discussed by @denisehe and @TobKoer )
- [x] news about internal events (section in wordpress)
- [x] information about activities (section in wordpress)

[2016-01-21 10:22] marc-hanheide opened #288 "adaptation of walking group"
https://docs.google.com/document/d/16a7nOE-UchIGuOqc9v7XzLY1ZqCxY6rl4PqxY0NJ6CE/edit?usp=sharing

- [x] check if videos are needed and if make them work

[2016-01-21 10:25] marc-hanheide opened #289 "improve navigation"
see https://github.com/strands-project/strands_movebase/issues/62

[2016-01-21 10:26] marc-hanheide commented on #285
@lucasb-eyer what is the status of this, we plan a pre-deployment 6-10 Feb 2016 at AAF where this is supposed to work :-) Can you comment please and check if you can be available for that?

[2016-01-21 10:29] marc-hanheide opened #290 "video preparation"
concept: https://docs.google.com/document/d/1Gz5AAUm-BYgTmrcb8zsp6Nst7LeIYQRZAAC3bAj4OtQ/edit?usp=sharing

* we have a screen in the lobby
* we have permission to record
* the recording people should probably arrive on Monday/Tuesday

[2016-01-21 14:25] lucasb-eyer commented on #285
See email.

[2016-01-27 14:44] denisehe commented on #288
Hi all together. I talked to the therapists and they are available on Monday, 8th of February at 1pm or half an hour to talk about the robot :-)

@marc-hanheide @cdondrup @TobKoer

[2016-01-27 16:15] marc-hanheide commented on #288
:+1: That's good. Let's hope half an hour is enough...

[2016-01-28 09:03] cdondrup commented on #288
We'll make the most out of it. Thank you!

[2016-02-02 08:49] TobKoer commented on #287
@marc-hanheide @gestom
please also implement the highlighting of icons of the info-screen menu when something has been updated.
Even if there won't be updates every day, this might be a nice visual cue for residents to press the button again and see what's new.

[2016-02-02 10:22] marc-hanheide commented on #287
That might actually not be easy to do. What do you define as "new"? And, is it still new when somebody pressed it? We don't know if it's the same person...

[2016-02-02 14:24] Jailander opened #291 "Rosbags for mapping dataset"
@gestom and @jailander want to create bags of the robot's odometry and laser reading to be able to create slam maps of AAF at different times of the day for this purpose we would like to create rosbags with different topics recorded that could be used later to rebuild the maps afterwards. These topics are:

- `/tf`
- `/scan`
- `/odom`
- `/amcl_pose`
- `/robot_pose`
- `/current_node`
- `/current_ed

[2016-02-03 07:16] TobKoer commented on #287
You've got a point there @marc-hanheide
We might consider a timespan (e.g. one day); but if it's too tricky we can leave it for the time being, maybe we come up with a solution in the Y4 deployment.

[2016-02-04 09:25] marc-hanheide commented on #291
rosbags or mongo_log? And... did you go to buy a suitable hard drive?

[2016-02-08 10:02] marc-hanheide commented on #288
- photos from actual events (get them from the Wards, @denisehe to upload)
- adaptive speed: dial on screen
- interaction more map-based, display map while going along, and enable the admin interface to select next waypoint, also show the route
- consistent back button at every GUI screen
- enable free run with big button for admins and any time
- volume buttons when playing music
- plan a pre-run

[2016-02-08 10:20] marc-hanheide commented on #288
@TobKoer @denisehe please add your comments

[2016-02-08 11:21] denisehe commented on #288
*therapist should be able to select the music trac they want to start with after the break
*interaction map on the resting point where therapists can select to which chair the robot should move (this should happen after the beginning of the pause - asking that streight away (before the break) would not make sence, as not all people would not be seated yet)
*Video option can be deleted
*BACK-button

[2016-02-08 12:15] marc-hanheide commented on #287
Idea: utitlise existing HdB news to populate news section automatically:
- use facebook feed from https://www.facebook.com/hausderbarmherzigkeit/ as news source
- empower PR people to write to https://henrystrands.wordpress.com/ themselves

Question: Is facebook enough or do we still also need the "old" way of adding further news?

Try to add one photo per post.

[2016-02-08 12:36] marc-hanheide opened #293 "bellbot improvements"
* add more information on how to use
* use better names for waypoints

[2016-02-09 14:25] TobKoer commented on #287
I've talked to PR people recently and there was little enthusiasm about adding NEWS to the robot on their own; yet if we present them with an easy way, it might be worth trying again.
What I have discovered during that interview was also that a lot of internal events that might be potentially interesting for residents are not always communicated via the PR department! Apparently information policy

[2016-02-09 14:49] TobKoer commented on #293
- change waypoint in front of reception (bellbot starting position) and move more to the right?!

[2016-02-10 13:46] cdondrup opened #296 "Bellbot speech output has wrong timing"
The speech output is given at the wrong times, e.g. the greeting asking people to type a destination is only given after the destination has been typed and the Go button is pressed. Same for the finishing speech.

[2016-02-10 13:47] cdondrup opened #297 "Bellbot does not like utf8"
When selecting "Tobias'" office via his name, the bellbot complains that:

[code]

When pressing the Go button nothing happens.

[2016-02-11 13:24] marc-hanheide commented on #297
Uh, I hate unicode... Can we work around this with "Koertner" for now, please?

[2016-02-11 13:24] marc-hanheide commented on #296
Who is in charge of this? @yianni ?

[2016-02-11 13:35] gatsoulis commented on #296
Not me on this and not sure. Blame maybe can find out?

[2016-02-11 20:53] cdondrup commented on #296
The [voice output](https://github.com/strands-project/strands_hri/blob/hydro-devel/bellbot_action_server/scripts/voice_output.py) is mine but that just listens to `bellbot_state` and says a predefined sentenced according to that base on a [config file](https://github.com/strands-project/aaf_deployment/blob/indigo-devel/aaf_bellbot/conf/bellbot_voice.yaml) which means that either the states are pub

[2016-02-11 20:56] cdondrup commented on #297
That means @Jailander has to change all the meta information of the map.

[2016-02-12 12:26] Jailander commented on #297
:( I just opened my mail to find this,  ok first thing Monday

[2016-02-15 17:15] #286 closed

[2016-02-18 09:31] marc-hanheide commented on #287
- Have both menus, "SANA" and "Bewohner".
- @gestom had plans to write a script that extracts this from the PDF...
- let's try to harvest the facebook for news https://www.facebook.com/hausderbarmherzigkeit/
- info terminal contains the video

[2016-02-18 09:51] marc-hanheide opened #298 "night time exploration"

[2016-02-18 09:53] marc-hanheide opened #299 "Admin Interface"
- [ ] more feedback on what happened to tasks
- [ ] interface to display on the robot

[2016-02-18 09:55] marc-hanheide opened #300 "logging"
* how much are we logging per day?

[2016-02-22 22:43] marc-hanheide commented on #287
see #301 for an update on the news section which is now fully automatically populated from [facebook](https://www.facebook.com/hausderbarmherzigkeit/) and ORF Vienna news

[2016-02-24 17:21] cdondrup commented on #288
TODOs:

Please remind me if I forgot an important point.

Important:
- [x] Map view for selecting specific resting areas
- [x] Map view of each resting are to select chairs to park robot in front of
- [x] "Out of order" web page to be triggered remotely when something breaks
- [x] "Trying to recover" webpage when recovery behaviour triggered. @bfalacerda is there a way of knowing this?
- [x] Add v

[2016-02-25 09:20] marc-hanheide commented on #300
@nilsbore

[2016-02-26 09:50] TobKoer commented on #288
Hi -
that's also what I had on my list.

[2016-02-26 13:52] nilsbore commented on #300
I'll look into this! Can I get into Werner? I'll text you on gitter.

[2016-02-26 16:17] nilsbore commented on #300
We are logging about 500 MB/h => 12 GB/day. It seems most of this consists of the scan topic logging.

[2016-02-26 16:40] marc-hanheide commented on #300
Great, thanks. That seems reasonable with the 8Tb storage we have for 60 days. I assume this is uncompressed so for later storage it should also be fine. @jailander and @gestom how much you guess you will add in rosbags and scans?

[2016-02-26 17:27] gestom commented on #300
In terms of rosbags, we are logging approx/ the same amount per day as @nilsbore - it was 0.5 TB/month.

[2016-02-26 17:36] marc-hanheide commented on #300
:+1: all good then. We should monitor this, though. I already have a cron job that emails when space gets below 80%.

[2016-02-26 17:37] marc-hanheide commented on #300
Though it needs to be modified to also check /storage

[2016-03-01 08:35] TobKoer commented on #300
@marc-hanheide, @nilsbore, @hawesie
HI, just to bring this up once more, this is what AAF is interested in/would need for evaluation purposes (in both care and security scenarios!):
- •   Frequency of use (which task/service is used how often?)
- Error frequency/problems ocurring during task
- which service is used most often?
- changes of use/frequencies over time

[2016-03-03 10:09] Jailander commented on #297
Ooops completely forgot about this, @marc-hanheide how can i get access to werners map?? can you remind me?

[2016-03-03 10:27] marc-hanheide commented on #297
[maps.zip](https://github.com/strands-project/aaf_deployment/files/156560/maps.zip)

[2016-03-03 10:44] cdondrup opened #302 "Video recording"
Like last year, we use a white list of nodes to allow video recording only in the administration wing and the lobby. This white list can be generated from the topological map given that the nodes have a certain tag. This tag is still present for all the nodes we used last year but since we added, removed, or moved a few, this needs testing and retagging again.

To be tested during test run on Tues

[2016-03-03 13:29] Jailander commented on #297
@marc-hanheide fixed map is here,
[aaf_deployment16.zip](https://github.com/strands-project/aaf_deployment/files/156811/aaf_deployment16.zip) to insert use `rosrun topological_utils load_yaml_map.py -f /path_to_file/aaf_deployment16.yaml`

[2016-03-03 19:20] marc-hanheide commented on #297
@Jailander I send this email with the instruction how to share files with henry so you can do it yourself ;-)

[2016-03-03 21:06] Jailander commented on #297
Ok :)

[2016-03-04 12:47] marc-hanheide commented on #298
I am looking for input/thoughts from @cdondrup @Jailander @gestom and a plan who's doing what?

[2016-03-08 10:44] gestom commented on #298
Hi, the scheduling is performed on a daily basis at midnights, so I could simply read a rosparam that will tell me the start and end time for exploration of the next day ?

[2016-03-08 13:03] marc-hanheide opened #307 "recording of head and interaction camera not working"
the error message is

[code]

See source code here: http://docs.ros.org/jade/api/image_view/html/video__recorder_8cpp_source.html

[code]

googling didn't help so far... any idea?

[2016-03-08 13:08] marc-hanheide commented on #307
There is evidence it worked recently still, as we have recordings from pre-deployment... last proper on from 10/2/16, first broken one form 26/2/16.

[2016-03-08 13:17] marc-hanheide commented on #307
the `video_recorder` hasn't changed in ages in ROS... so this is odd.

[2016-03-08 16:37] marc-hanheide commented on #298
Well, the problem is we need to _restrict_ _where_ it goes. Somehow, nodes need to be marked, don't they?

[2016-03-08 17:00] gestom commented on #298
Ahh, yes. But if some parts of the environment are inaccessible, then it means that not only the info-terminal should not schedule them, but also the navigation should not pass through these. This basically means that each node should point to a specific schedule, which specifies its inaccessibility, which is actually independent of the task performed.

[2016-03-08 17:06] gestom commented on #298
Jaime proposed to switch the maps according to the time.

[2016-03-08 17:29] marc-hanheide commented on #298
Is map switching easily possible?

[2016-03-08 17:31] Jailander commented on #298
yes, its only calling a service

[2016-03-08 17:34] marc-hanheide commented on #298
So, if we were to implement two specific switch actions we could schedule this, even making sure the robot is in the valid place and not moving, before switching?

[2016-03-08 17:36] Jailander commented on #298
the map could still have a route out of the forbidden area but not into it so you really don't need to make sure the robot is in a  valid place. However not sure how strands Executive can manage this, we would need @bfalacerda opinion.

[2016-03-08 17:39] marc-hanheide commented on #298
Well. we don't need it. If we implement it as an action the robot is stationary. So no need to "hot-swapped", but of course the policy needs updating, too. So, please get @bfalacerda involved in this and see if it's possible and try ;-)

[2016-03-08 17:43] Jailander commented on #298
Ok, to summarise for @bfalacerda we need some parts of the care house banned from the navigation at night, the idea is to switch topological maps when the prohibition starts leaving no edges into the forbidden areas just out of it.
So **Bruno** can you tell us two things:
- Can the MDP handle a topological map change?
- How does it deal with unreachable nodes?

[2016-03-08 17:46] marc-hanheide commented on #298
If it's easier, we also delete all the nodes there, right? We don't need them.

[2016-03-08 17:47] Jailander commented on #298
well to go out of there only, but if you make sure you leave before then you don't need them

[2016-03-08 18:07] bfalacerda commented on #298
there are some extra services on the MDP side that would allow you to do that:

https://github.com/strands-project/strands_executive/blob/hydro-release/strands_executive_msgs/srv/AddDeleteSpecialWaypoint.srv allows you to add and delete "forbidden" waypoints. The policy generation will be guaranteed to not plan through them after this is done.

Then you can use https://github.com/strands-project/s

[2016-03-08 18:28] Jailander commented on #298
hmm ok, this is another way to do it, @marc-hanheide and @gestom what do you think?

[2016-03-08 18:59] bfalacerda commented on #298
https://github.com/strands-project/strands_executive/pull/221 makes the robot stop in case he reaches a forbidden waypoint

[2016-03-08 19:01] marc-hanheide commented on #298
sounds good to me... Then we would have to write an action that calls that service. As I said, I think, the leave part is secondary if at all. So, maybe just a config `yaml` file with forbidden waypoints which is used to call the service on thos nodes?

[2016-03-08 19:20] bfalacerda commented on #298
If you send a goal to the mdp server that tells it to visit a waypoint (the default thing that we always do), it'll turn that into "avoid all forbidden waypoints until you reach the target". If he starts on a forbidden waypoint, the spec is broken immediately, and he won't move.

So, with this implementation you do need to  explicitly tell the robot  leave the forbidden area by sending a goal to t